.jet-menu {
	> .jet-menu-item {
		display: flex;

		> a {
			width: 100%;
			margin: 0;
			white-space: nowrap;
			padding: 10px;
		}
		.top-level-link {
			@media ( min-width:768px ) {
				padding: 10px;
				align-items: center;
			}
			@media ( min-width:768px ) {
				padding: 16px 13px 15px 14px;
			}
		}
	}

}

.jet-menu-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.jet-menu-icon {
		align-self: center;
		margin-right: 10px;

		.label-hidden & {
			margin-right: 0;
			margin-left: 0;
		}
	}

	.jet-dropdown-arrow {
		align-self: center;
		margin-left: 7px;
		margin-top: -3px;
	}

	.jet-menu-badge {
		display: none;
		align-self: flex-start;
		text-align: center;
		width: 0;

		&.jet-hide-mobile {
			@media all and ( max-width:767px ) {
				.jet-menu-badge__inner {
					display: none;
				}
			}
		}

		&__inner {
			display: inline-block;
		}
	}
}
.jet-menu {
	> .jet-menu-item.jet-simple-menu-item:first-child > .jet-sub-menu {
		@include media-breakpoint-up(md) {
			margin-left: -$grid-gutter-width / 2 ;
		}
	}
}
.jet-sub-menu {
	min-width: 180px;
	@include media-breakpoint-up(md) {
		min-width: 270px;
	}
	>li>a {
		padding: 7px 31px 9px 28px;
	}
	&>li>.jet-sub-menu {
		margin-top: 0;
		@media (min-width: 768px) {
			margin-top: -24px;
		}
	}
}
.jet-sub-mega-menu {
	.elementor-column-wrap.elementor-element-populated {
		@media all and ( max-width: 1024px ) {
			border-width: 0 !important;
		}
	}
	.elementor-column-wrap ul > li.menu-item-type-custom,
	.elementor-column-wrap ul > li.menu-item-object-page,
	.elementor-column-wrap ul > li.menu-item-object-projects {
		position: relative;
		display: block;
		width: 100%;
		a {
			display: block;
			padding: 7px 30px 7px 15px;
			@media all and ( min-width:768px ) {
				padding: 7px 31px 9px 30px;
			}
			text-align: left;
			text-transform: none;
		}

	}
}
ul.jet-sub-menu {
	padding-top: 0;
	padding-bottom: 0;
	@media (min-width: 768px) {
		padding-top: 24px;
		padding-bottom: 24px;
	}
}
.admin-bar.jet-mobile-menu-active .jet-mobile-menu-toggle-button {
	top: 46px;
}
.jet-mobile-menu-toggle-button {
	width: 62px;
	height: 60px;
	display: none;
	position: fixed;
	padding: 0;
	border-width: 0;
	left: 0;
	top: 0;
	outline: none;
	&:active {
		outline: none;
	}
	.jet-menu-toggle__icon {
		@include nucleo-mini-icon;
		line-height: 60px;
		vertical-align: top;
		&::after {
			top: .75em;
			content: '\ea99';
		}
	}

	.jet-mobile-menu-visible & {
		.jet-menu-toggle__icon {
			&::after {
				content: '\ea5c';
			}
		}
	}
}

/* Wishlist compare buttons */
.jet-menu {
	.woocommerce {
		.block_product_content {
			.content_bottom_wrap_block {
				display: none;
			}
		}
	}
}