/*!
Skin Name: House Lifting & Moving v2
*/

/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
@import "variables-site/variables-site";
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
@import "plugins/jet-menu/jet-menu";

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
@import "plugins/elementor/modules/button";


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/* Header */

.top-panel {
	@include media-breakpoint-up(md) {
		padding-top: 7px;
		padding-bottom: 10px;
	}
	&__message {
		font-size: 13px;
		i {
			margin-right: 9px;
			font-size: 14px;
		}
	}
}

.site-header.style-4 {
	.header-nav-wrapper {
		padding-left: 0;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			height: 100%;
			width: 300%;
		}
	}
}

.site-header-cart .site-header-cart__wrapper .cart-contents i:before {
	@include transition(all 0.2s ease);
}

/* Footer */

.footer-area, .home .footer-area {
	padding: 53px 0 12px;
}

.site-footer.style-1 .footer-container .site-info .site-info-wrap {
	padding-top: 14px;
	padding-bottom: 11px;
}

/* Jet-menu */
.jet-menu {
	> .jet-menu-item.jet-simple-menu-item:first-child > .jet-sub-menu {
		@include media-breakpoint-up(md) {
			margin-left: 0;
		}
	}
}

.btn.btn-accent-2 i, .btn.btn-accent-2:hover i,
.elementor-button-warning i,.elementor-button-warning:hover i {
	@include transition(all 0.2s ease);
}

/* Widgets */

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
	text-indent: 9999px;
}

.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
	padding: 16px 28px;
}
.jet-posts__inner-box .entry-meta {
	text-transform: uppercase;
}

.cherry-projects-single-details-list ul li, .elementor-element .elementor-jet-animated-box .jet-animated-box__description {
	text-transform: uppercase;
}



.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	display: inline-block;
	font-family: 'nc-icon-mini';
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e904";
	position: relative;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
}

.widget_archive select, .widget_categories select,
.widget_archive label {
	height: 50px;
}
/* Widgets */

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
	text-indent: 9999px;
}

#toTop {
	width: 107px;
	height: 50px;
	line-height: 50px;
}

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
	font-size: 10px;
}

.cherry-team.team-wrap .team-socials_link {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
}

.widget_nav_menu ul#menu-team li a {
	padding: 13px 26px 12px;
}

.products .product .block_product_thumbnail .tm-quick-view a {
	font-size: 15px;
	text-align: center; 
}

/* woo */

#page .products .product.product-list *:not(.star-rating) + a.button {
	padding: 13px 29px 11px;
	border-radius: 0;
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}

#page .ajax_add_to_cart, #page .add_to_cart_button {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}
#page .ajax_add_to_cart:after, #page .ajax_add_to_cart:before, #page .add_to_cart_button:after, #page .add_to_cart_button:before {
	line-height: 1.7;
}
