/* Dynamic */
.invert a[href*="mailto:"] {
	color: $regular_link_color;
}
.invert a[href*="mailto:"]:hover {
	color: $invert_link_color;
}


/* Footer */
.invert .footer-copyright {
	color: $invert_text_color;
}

/* Contact block */
.contact-block__label {
	color: $regular_text_color;
}

/* Menu */
.main-navigation .menu > li > a {
	color: $invert_link_color;
}
.main-navigation .menu > li > a:hover {
	color: $regular_link_color;
}

.main-navigation .sub-menu {
	background-color: $regular_accent_color_2;
}
.main-navigation .sub-menu a {
	color: $invert_link_color;
}

/* Social */
.social-list a {
	color: $regular_accent_color_2;
}
.social-list a:hover {
	color: $regular_link_color;
}
.invert .social-list a {
	color: $invert_link_color;
}

/* Top panel */
.top-panel__menu .menu-item a {
	color: $regular_text_color;
}
.top-panel__menu .menu-item a:hover {
	color: $regular_link_color;
}

/* Search */
.invert .search-form__toggle:hover,
.invert .search-form__close:hover {
	color: $regular_link_color;
}
.search-form__close:hover,
.search-form__toggle:hover {
	color: $regular_link_color;
}

/* Cart */
.invert .site-header-cart .site-header-cart__wrapper .cart-contents:hover i {
	color: $regular_link_color;
}
.invert .site-header-cart .cart-contents .count {
	background-color: $regular_accent_color_1;
	color: $regular_accent_color_2;
}

/* Subscribe */
.invert .subscribe-block__message {
	color: $invert_h6_color;
}
.sidebar #buildwall_widget_subscribe_follow-2 .subscribe-block__message {
	color: $invert_h6_color;
}


/* Team */
.widget_nav_menu ul#menu-team li a:hover {
	color: $invert_link_color;
}

/* Widgets */
.invert .widget_categories a,
.invert .widget_archive a {
	color: $invert_text_color;
}
.invert .widget_categories a:hover,
.invert .widget_archive a:hover {
	color: $regular_link_color;
}

/* Recent posts widget */
.widget_recent_entries a {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
}

.invert .widget_recent_entries a {
	color: $invert_link_color;
}
.invert .widget_recent_entries a:hover {
	color: $regular_link_color;
}
.invert .widget_recent_entries ul li .post-date {
	color: $invert_text_color;
}

/* Contact information */
.invert .contact-information-widget .icon {
	color: $regular_link_color;
}
/**/
.btn.btn-accent-1, .btn.btn-primary {
	color: $invert_accent_color_1;
}
.btn.btn-accent-2 {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-2 i, .elementor-button-warning i {
	color: $regular_accent_color_1;
}
.contact-block__icon {
	color: $regular_accent_color_1;
}

.elementor-button, .elementor-button-link.elementor-button.elementor-size-md {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.elementor-element.elementor-button-info .elementor-button {
	color: $regular_accent_color_2;
	background-color: $invert_accent_color_1;;
}
.elementor-element.elementor-button-info .elementor-button-icon {
	color: $regular_accent_color_1;
}
.elementor-button-link.elementor-button.elementor-size-md:hover {
	background-color: $regular_accent_color_2;
}
.invert .elementor-button {
	color: $invert_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover i {
	color: $invert_accent_color_1;
}
.elementor-element.elementor-button-warning .elementor-button:hover {
	color: $invert_accent_color_1;
}
.elementor-counter .elementor-counter-title, .circle-counter__number {
	font-size: 14px;
}
.post__cats a {
	color: $invert_accent_color_1;
}
.social-list--footer.social-list a:hover {
	color: $regular_accent_color_1;
}
.footer-area .contact-information__item a {
	color: $regular_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover, .jet-sub-mega-menu ul > li.menu-item-type-custom a:hover, .jet-sub-mega-menu ul > li.menu-item-object-page a:hover, .jet-sub-mega-menu ul > li.menu-item-object-projects a:hover {
	color: $invert_accent_color_1;
}
.projects-container .projects-item .overflow-content .post__cats a {
	color: $invert_accent_color_1;
}
.template-sidebar-media-icon .services-item .service-icon i, .template-sidebar-media-icon .services-item .services-item-inner:hover .service-icon i {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button .jet-download__label {
	color: $regular_accent_color_2;
}
.jet-download.elementor-button .jet-download__sub-label{
	color: $regular_text_color;
}
.jet-download.elementor-button .jet-download__icon,
.jet-download.elementor-button:before {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button {
	-webkit-box-shadow:inset 0 0 0 4px $regular_accent_color_1;
	box-shadow:inset 0 0 0 4px $regular_accent_color_1;
}
.jet-download.elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	-webkit-box-shadow:inset 0 0 0 0 $regular_accent_color_1;
	box-shadow:inset 0 0 0 0 $regular_accent_color_1;
}
.jet-download.elementor-button:hover .jet-download__icon,
.jet-download.elementor-button:hover:before,
.jet-download.elementor-button:hover .jet-download__label,
.jet-download.elementor-button:hover .jet-download__sub-label {
	color: $invert_accent_color_1;
}
.wpcf7-submit, .post-password-form label + input {
	color: $invert_accent_color_1;
}

.jet-posts__inner-box .entry-meta .posted-by a {
	color: $regular_accent_color_1;
}
.jet-posts__inner-box .entry-meta .posted-by a:hover {
	color: $regular_text_color;
}
.jet-posts .entry-title a:hover,
.template-media-icon-bg .title_wrap a:hover,
.cherry-team.team-wrap.template-default .team-listing .team-item .team-listing_name a:hover {
	color: $regular_accent_color_1;
}
.elementor-view-stacked .elementor-icon {
	color: $invert_accent_color_1;
}

.tparrows:hover::before {
	color: $regular_accent_color_2 !important;
}

.site-header.style-4 .header-nav-wrapper:before {
	background: $regular_accent_color_2;
}

.widget_categories a:hover, .widget_archive a:hover,.widget-custom-posts .entry-title a:hover {
	color: $regular_accent_color_1;
}

#toTop {
	color: $invert_accent_color_1;
}

.cherry-search .cherry-search__more-button {
	color: $invert_accent_color_1;
}

.footer-copyright a:hover, footer .social-list a {
	color: $invert_accent_color_1;
}


.tm-pg_front_gallery .load-more-button .btn,.elementor-element.elementor-button-warning .elementor-button:hover i {
	color: $invert_accent_color_1;
}

.projects-container .projects-item .project-content.style-3 .project-entry-title a, .style-3 .cherry-projects-single-details-list ul li span {
	color: $regular_accent_color_2;
}

.projects-container .projects-item .project-content.style-3 .project-entry-title a:hover ,.cherry-projects-wrapper .projects-filters ul.projects-filters-list li.active span, .cherry-projects-wrapper .projects-filters ul.projects-filters-list li span:hover, .cherry-projects-wrapper ul.order-filters > li span.current, .template-media-icon .services-item .title_wrap a:hover, .posts-list .post__button.btn__icon i,.header-search .cherry-search form.cherry-search__form button.search-submit, .cherry-projects-single-details-list ul li, .jet-animated-box-icon-inner i {
	color: $regular_accent_color_1;
}

.template-media-icon-bg-2 .services-item-inner:before {
	background-color: $grey_color_1; 
}
.template-media-icon-bg-2 .services-item .service-icon {
	color: $regular_accent_color_1;
}

.tm-testi--default-3 .tm-testi__item-body .tm-testi__item-meta-content .tm-testi__item-name, {
	font-weight: bold;
}

.template-media-icon-bg-2 .services-item .service-icon, 
.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	color: $regular_accent_color_1;
}

.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:hover:after {
	color: $invert_accent_color_1;
}

/* woo */
.woocommerce a.button, .woocommerce button.button, .woocommerce button.button.tm-woocompare-empty, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce-mini-cart__buttons a.button.wc-forward, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button.add_to_cart_button.loading:hover, .woocommerce a.button.ajax_add_to_cart, .woocommerce button.button.btn.tm-wc-ajax-load-more-button, .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn {
	color: $invert_accent_color_1;
}

.woocommerce.single-product div.product form.cart .button, .woocommerce .single-product div.product form.cart .button, .woocommerce span.featured {
	color: $invert_accent_color_1;
}