body .booked-calendarSwitcher.calendar {
	background-color: $regular_accent_color_1 !important;
}

body .booked-calendarSwitcher.calendar select {
	background-color: $invert_text_color !important;
	color: $regular_accent_color_2;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .monthName {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 0.75)px;
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	color: $regular_h3_color;
}
@media (min-width: 1200px) {
	.booked-calendar-shortcode-wrap .booked-calendar thead tr th .monthName { font-size: $h3_font_size{px}; }
}

.booked-calendar thead tr th .monthName::before {
	background: linear-gradient(-45deg, transparent 15px, $grey_color_1 0), linear-gradient(45deg, transparent 15px, $grey_color_1 0);
}
.booked-calendar thead tr th .monthName::after {
	background: linear-gradient(-45deg, transparent 15px, @custom_background( color ) 0), linear-gradient(45deg, transparent 15px, @custom_background( color ) 0);
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .backToMonth {
	font-family: @font_family($body_font_family);
	color: $regular_accent_color_1;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .backToMonth:hover,
.buddypress #buddypress .ac-form .ac-reply-content input:hover{
	color: $regular_accent_color_3;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-right,
.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-left {
	background-color: $grey_color_3;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-right i,
.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-left i {
	color: $regular_link_hover_color;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-right:hover,
.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-left:hover {
	background-color: $regular_accent_color_1;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-right:hover i,
.booked-calendar-shortcode-wrap .booked-calendar thead tr th .page-left:hover i,
.buddypress #buddypress .ac-form .ac-reply-content input {
	color: $invert_link_hover_color;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr.days th {
	color: $regular_link_color !important;
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date {
	background-color: $grey_color_3 !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date .number {
	color: @alpha($regular_text_color, 30%);
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.prev-date .date .number {
	color: @alpha($regular_link_hover_color, 40%) !important;
}

body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active .date,
body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active,
body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active:hover .date,
.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active .date::after {
	background-color: $invert_accent_color_1 !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster .number,
body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active .date .number,
body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active:hover .date .number{
	color: $regular_link_hover_color;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster {
	border-color: $grey_color_2;
}

body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active .date .number {
	color: $regular_link_color;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster:hover .number {
	color: $invert_link_hover_color;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster:hover {
	background-color: $regular_accent_color_3 !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock h2 {
	color: $regular_accent_color_3;
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot + .timeslot {
	border-color: $grey_color_2;
}
.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-time::before {
	background-color: $grey_color_2;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-time i.fa {
	color: $regular_accent_color_1;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-range {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-people .button,
body .booked-modal .bm-window .booked-form .field > input.button {
	font-weight: $h1_font_weight;
	font-size: @font_size($body_font_size, multiple, ceil, 0.857)px;
	font-family: @font_family( $h1_font_family );
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}

body .booked-modal .bm-window .field button {
	font-weight: $h1_font_weight;
	font-size: @font_size($body_font_size, multiple, ceil, 0.857)px;
	font-family: @font_family( $h1_font_family ) !important;
	color: $invert_accent_color_1 !important;
	background-color: $regular_accent_color_1 !important;
}

body .booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-people .button:hover,
body .booked-modal .bm-window .booked-form .field > input.button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2 !important;
}
body .booked-modal .bm-window .field button:hover {
	color: $invert_accent_color_1 !important;
	background-color: $regular_accent_color_2 !important;
}

body .booked-modal .bm-window p.booked-title-bar,
body .booked-modal .bm-window .booked-form p.booked-calendar-name,
body .booked-modal .bm-window .booked-form p.title {
	font-family: @font_family($body_font_family);
	color: $regular_accent_color_2;
}

body .booked-modal .bm-window .condition-block .field label,
body .booked-modal .bm-window p.booked-title-bar small {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	color: $regular_h5_color;
}

body .booked-modal .bm-window a.close i {
	color: $regular_link_color;
}
body .booked-modal .bm-window a.close:hover i{
	color: $regular_link_hover_color;
}

@media (min-width: 900px) {
	body .booked-modal .bm-window a.close i {
		color: $invert_link_hover_color;
	}
	body .booked-modal .bm-window a.close:hover i{
		color: $invert_link_color;
	}
}

body .booked-modal .bm-window a.close:hover i,
body .booked-modal .bm-window .booked-form p.name b i,
body .booked-modal .bm-window .appointment-info i.fa,
body .booked-modal .bm-window .condition-block .field label i{
	color: $invert_link_color;
}

body .booked-modal .bm-window .booked-form #customerChoices,
body .booked-modal .bm-window .booked-appointments,
body .booked-modal .bm-window .field input[type^='text'],
body .booked-modal .bm-window .field input[type^='email'],
body .booked-modal .bm-window .field input[type^='password'] {
	border-color: $grey_color_2;
}

body .booked-modal .bm-window .booked-appointments .appointment-info {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

body .booked-modal div.bm-window p,
body .booked-modal .bm-window .condition-block .field p,
body .booked-modal .bm-window .booked-form p.name b,
body .booked-modal .bm-window .booked-form #customerChoices label{
	font-family: @font_family($body_font_family);
	color: $regular_text_color;
}

body .booked-modal .bm-window .booked-appointments .calendar-name {
	color: $regular_h6_color;
}

body .booked-modal .bm-window .condition-block .field label.field-label,
body .booked-modal .bm-window .condition-block .field p {
	font-weight: $meta_font_weight;
}

body .booked-modal .bm-window .condition-block .field input[type^='text'],
body .booked-modal .bm-window .condition-block .field input[type^='email'],
body .booked-modal .bm-window .condition-block .field input[type^='password'],
.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.blur:hover .date {
	background-color: $grey_color_3;
}

body .booked-modal .bm-window,
body .booked-modal .bm-window p.booked-title-bar {
	background-color: $invert_text_color;
}

body .booked-modal .bm-window .field button {
	background-color: $regular_accent_color_2;
	color: $invert_text_color;
	font-family: @font_family($body_font_family);
}

body .booked-modal .bm-window .field button:hover {
	background-color: $regular_accent_color_1;
}

.booked-profile-appt-list .calendar-name,
.booked-profile-appt-list i{
	color: $regular_accent_color_1;
}

.booked-profile-appt-list .calendar-name strong {
	color: $regular_accent_color_2;
}

body .booked-calendar-shortcode-wrap .booked-calendar-wrap.small table.booked-calendar tbody tr.week td.active .date .number {
	color: $regular_text_color;
}

body .booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-time .timeslot-title {
	color: $regular_accent_color_2 !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.prev-date.today .date,
body #booked-profile-page .booked-tabs {
	background-color: $regular_accent_color_2 !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.prev-date.today .date .number {
	color: $invert_text_color !important;
}

body .booked-modal .bm-window .booked-scrollable,
body .booked-modal .bm-window, body .booked-modal .bm-window p.booked-title-bar {
	background-color: $invert_accent_color_1;
}

body #booked-profile-page .booked-profile-header {
	background-color: $regular_accent_color_1 !important;
}

body #booked-profile-page .booked-profile-header .booked-logout-button:hover,
body #booked-profile-page #profile-appointments .booked-form-notice,
body #booked-profile-page label{
	color: $regular_accent_color_2;
}

body #booked-profile-page .booked-tabs li.active a,
body #booked-profile-page .booked-tabs li a:hover,
body #booked-profile-page .booked-tabs li.active a:hover {
	background-color: $regular_accent_color_1 !important;
}

body #booked-profile-page #profile-appointments .booked-no-margin {
	color: $regular_text_color;
}

body #booked-profile-page #profile-edit #booked-page-form .form-submit input[type^="submit"],
body #booked-profile-page .login-submit input[type^="submit"],
body #booked-profile-page .wp-user-form input[type^="submit"] {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

body #booked-profile-page #profile-edit #booked-page-form .form-submit input[type^="submit"]:hover,
body #booked-profile-page .login-submit input[type^="submit"]:hover,
body #booked-profile-page .wp-user-form input[type^="submit"]:hover {
	background-color: $regular_accent_color_2 !important;
	border-color: $regular_accent_color_2;
}

body #booked-profile-page label {
	font-weight: $meta_font_weight !important;
}

body #booked-profile-page #profile-appointments .booked-form-notice {
	font-weight: $meta_font_weight;
	font-style: $meta_font_style;
}

body #booked-profile-page #profile-edit h4 {
	font-weight: $h6_font_weight;
}

body .booked-modal .bm-window a {
	color: $regular_link_color;
}

body .booked-modal .bm-window a:hover {
	color: $regular_link_hover_color;
}
