.cherry-team.team-wrap.template-grid-boxes .team-listing_content:before{
	background-color: @alpha( $regular_accent_color_2, 90 );
}
.cherry-team.team-wrap.template-grid-boxes .team-listing_content a:hover {
	color: $regular_link_color;
}
.team-container .cherry-team-filter {
	font-family: @font_family( $h1_font_family );
}
.team-container .cherry-team-filter_link {
	color: $regular_text_color;
}
.team-container .cherry-team-filter_link:hover,
.team-container .cherry-team-filter_item.active .cherry-team-filter_link,
.team-listing .team-meta_item  {
	color: $regular_link_color;
}

.team-single-item .team-meta-location i,
.team-single-item .team-meta-phone i,
.team-single-item .team-meta-email i {
	color: $regular_link_color;
}
.team-single-item .team-meta-location,
.team-single-item .team-meta-phone,
.team-single-item .team-meta-email {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	color: $regular_text_color;
}

.team-skills_label {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: calc($h4_line_height * $h4_font_size{px});
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.team-single-item .post-content__title:before {
	background-color: $grey_color_3;
}

.template-info .team-listing_content .team-meta i {
	color: $regular_accent_color_1;
}

.cherry-team.team-wrap.template-default .team-meta_item.position,
.cherry-team.team-wrap.template-list .team-meta_item.position,
.template-info .team-listing_content .team-meta_item,
.cherry-team.team-wrap .team-listing .team-listing_name a:hover {
	color: $regular_text_color
}

.team-skills_line:before {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	color: $regular_h4_color;
}

.cherry-team.team-wrap .team-socials_link {
	color: $regular_link_hover_color;
	background-color: $grey_color_1;
}

.cherry-team.team-wrap .team-socials_link:hover {
	color: $invert_accent_color_1;
	background-color: $regular_link_color;
}

.cherry-team.team-wrap .team-listing .team-listing_photo__overflow {
	background-color: @alpha( $regular_accent_color_2, 90 );
}

.cherry-team.team-wrap.template-default .team-listing .team-item .team-listing_name a:hover {
	color: $regular_text_color;
}