.elementor-widget-heading h1.elementor-heading-title {
	line-height: $h1_line_height;
}

.elementor-widget-heading h1.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h1_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-medium {
	font-size: $h1_font_size{px};
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h1_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h1_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h1_font_size, multiple, ceil, 1.6)px;
}

.elementor-widget-heading h2.elementor-heading-title {
	line-height: $h2_line_height;
}

.elementor-widget-heading h2.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h2_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-medium {
	font-size: $h2_font_size{px};
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h2_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h2_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h2_font_size, multiple, ceil, 1.6)px;
}

.elementor-widget-heading h3.elementor-heading-title {
	line-height: $h3_line_height;
}

.elementor-widget-heading h3.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h3_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-medium {
	font-size: $h3_font_size{px};
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h3_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h3_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h3_font_size, multiple, ceil, 1.6)px;
}

.elementor-widget-heading h4.elementor-heading-title {
	line-height: $h4_line_height;
}

.elementor-widget-heading h4.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h4_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-medium {
	font-size: $h4_font_size{px};
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h4_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h4_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h4_font_size, multiple, ceil, 1.6)px;
}

.elementor-widget-heading h5.elementor-heading-title {
	line-height: $h5_line_height;
}

.elementor-widget-heading h5.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h5_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-medium {
	font-size: $h5_font_size{px};
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h5_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h5_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h5_font_size, multiple, ceil, 1.6)px;
}

.elementor-widget-heading h6.elementor-heading-title {
	line-height: $h6_line_height;
}

.elementor-widget-heading h6.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h6_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-medium {
	font-size: $h6_font_size{px};
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h6_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h6_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h6_font_size, multiple, ceil, 1.6)px;
}

.elementor-widget-heading div.elementor-heading-title,
.elementor-widget-heading span.elementor-heading-title,
.elementor-widget-heading p.elementor-heading-title {
	line-height: $body_line_height;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-small,
.elementor-widget-heading span.elementor-heading-title.elementor-size-small,
.elementor-widget-heading p.elementor-heading-title.elementor-size-small {
	font-size: @font_size($body_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-medium,
.elementor-widget-heading span.elementor-heading-title.elementor-size-medium,
.elementor-widget-heading p.elementor-heading-title.elementor-size-medium {
	font-size: $body_font_size{px};
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-large,
.elementor-widget-heading span.elementor-heading-title.elementor-size-large,
.elementor-widget-heading p.elementor-heading-title.elementor-size-large {
	font-size: @font_size($body_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-xl,
.elementor-widget-heading span.elementor-heading-title.elementor-size-xl,
.elementor-widget-heading p.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($body_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-xxl,
.elementor-widget-heading span.elementor-heading-title.elementor-size-xxl,
.elementor-widget-heading p.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($body_font_size, multiple, ceil, 1.6)px;
}

.elementor-widget-heading .elementor-heading-title > a {
	color: $regular_link_color;
}
.elementor-widget-heading .elementor-heading-title > a:hover {
	color: $regular_link_hover_color;
}

.elementor-button-wrapper,
.elementor-button,
.elementor-button.elementor-size-md,
.elementor-button.elementor-size-md.jet-more,
.single-team .elementor-button.elementor-size-md {
	font-weight: $main_menu_font_weight;
	font-size: $main_menu_font_size{px};
	font-family: @font_family( $h1_font_family );
}
.elementor-button {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.elementor-button:active {
	background-color: @darken($regular_accent_color_2, 10);
}
.invert .elementor-button {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.invert .elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.invert .elementor-button:active {
	background-color: @darken($regular_accent_color_2, 10);
}
.elementor-element.elementor-button-warning .elementor-button {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.elementor-element.elementor-button-warning .elementor-button:hover {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.elementor-element.elementor-button-warning .elementor-button:active {
	background-color: @darken($regular_accent_color_1, 10);
}

.elementor-element.elementor-button-warning .elementor-button .elementor-align-icon-right.elementor-button-icon {
	color: $regular_accent_color_1;
}
.elementor-element.elementor-button-warning .elementor-button:hover .elementor-align-icon-right.elementor-button-icon {
	color: $invert_accent_color_1;
}

.single-team .elementor-element.elementor-button-info .elementor-button,
.elementor-element.elementor-button-info .elementor-button {
	color: $regular_link_hover_color;
	background-color: $invert_accent_color_1;
}
.single-team .elementor-element.elementor-button-info .elementor-button:hover,
.elementor-element.elementor-button-info .elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.elementor-element.elementor-button-info .elementor-button:active {
	background-color: @darken($regular_accent_color_2, 10);
}
.elementor-element.elementor-button-info .elementor-button-icon {
	color: $regular_accent_color_2;
}
.elementor-element.elementor-button-info .elementor-button:hover .elementor-button-icon {
	color: $invert_accent_color_1;
}

.jet-images-layout .jet-images-layout__desc {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
}
.jet-images-layout .jet-images-layout__title {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $meta_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	color: $regular_accent_color_1;
}
.jet-images-layout__icon i {
	color: $invert_accent_color_1;
	font-size: $main_menu_font_size{px};
}

.jet-sub-mega-menu ul > li.menu-item-type-custom a,
.jet-sub-mega-menu ul > li.menu-item-object-page a,
.jet-sub-mega-menu ul > li.menu-item-object-projects a {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
}

.jet-sub-mega-menu ul > li.menu-item-type-custom a,
.jet-sub-mega-menu ul > li.menu-item-object-page a,
.jet-sub-mega-menu ul > li.menu-item-object-projects a,
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a,
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a i {
	color: $regular_accent_color_3;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover,
.jet-sub-mega-menu ul > li.menu-item-type-custom a:hover,
.jet-sub-mega-menu ul > li.menu-item-object-page a:hover,
.jet-sub-mega-menu ul > li.menu-item-object-projects a:hover {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover i {
	color: $regular_accent_color_2;
}

.elementor-widget-icon-list .elementor-icon-list-icon {
	color: $regular_link_color;
}
.elementor-icon,
.elementor-view-framed .elementor-icon {
	color: $grey_color_2;
}
.elementor-view-stacked .elementor-icon {
	background-color: $regular_accent_color_1;
	color: $regular_accent_color_2;
}
.elementor-widget-icon-box .elementor-widget-container {
	border-color: $grey_color_3;
}
.elementor-toggle .elementor-tab-title {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	color: $regular_h5_color;
	border-top-color: $grey_color_3;
}
.elementor-toggle .elementor-tab-title:hover {
	color: $regular_text_color;
}
.elementor-toggle .elementor-tab-content,
.elementor-toggle .elementor-tab-title {
	border-bottom-color: $grey_color_3;
}

.elementor-accordion .elementor-accordion-item{
	border-color: $grey_color_3;
}
.elementor-accordion .elementor-tab-title,
.elementor-toggle .elementor-toggle-title {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $main_menu_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	color: $regular_h6_color;
}

.elementor-toggle .elementor-tab-title .elementor-toggle-icon .fa:before {
	color: $regular_accent_color_1;
}
.elementor-accordion .elementor-tab-content {
	border-color: $grey_color_3;
	background-color: $grey_color_1;
}
.elementor-accordion .elementor-accordion-title:after,
.elementor-toggle .elementor-toggle-title:after {
	background-color: @alpha($grey_color_3, 50);
}
/* Invert accordion */
.invert .elementor-accordion .elementor-accordion-item{
	border-color: $grey_color_1;
}

.invert .elementor-accordion .elementor-tab-title,
.invert .elementor-toggle .elementor-toggle-title {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.invert .elementor-tab-title.elementor-active {
	background-color: $regular_accent_color_1;
}
.invert .elementor-accordion .elementor-accordion-title:after,
.invert .elementor-toggle .elementor-toggle-title:after {
	color: $invert_accent_color_1;
}
.invert .elementor-accordion .elementor-tab-content {
	color: $regular_accent_color_2;
	border-color: transparent;
	background-color: $grey_color_1;
}
.invert .elementor-accordion .elementor-tab-content h5 {
	color: $regular_accent_color_2;
}

.single .elementor-accordion .elementor-tab-title {
	border-color: $grey_color_3;
}

.elementor-accordion .elementor-accordion-title .elementor-accordion-icon,
.elementor-toggle .elementor-toggle-title .elementor-toggle-icon {
	color: $regular_accent_color_2;
}

.elementor-widget-toggle .elementor-widget-container {
	border-color: $grey_color_2;
}

.elementor-testimonial-wrapper .elementor-testimonial-name {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	color: $regular_h6_color;
}

.elementor-testimonial-wrapper .elementor-testimonial-content {
	background-color: $grey_color_3;
}

.elementor-testimonial-wrapper .elementor-testimonial-content::after {
	border-color: $grey_color_3 transparent transparent transparent;
}

.invert .elementor-testimonial-wrapper .elementor-testimonial-content {
	background-color: $regular_accent_color_3;
}

.invert .elementor-testimonial-wrapper .elementor-testimonial-content::after {
	border-color: $regular_accent_color_3 transparent transparent transparent;
}

.elementor-testimonial-wrapper .elementor-testimonial-content::before,
.elementor-testimonial-wrapper .elementor-testimonial-job {
	color: $regular_link_color;
}

.elementor-progress-wrapper {
	background-color: $regular_accent_color_2;
}
.elementor-progress-bar,
.elementor-widget-progress .elementor-progress-wrapper.progress-info .elementor-progress-bar {
	background-color: $regular_accent_color_1;
	color: $invert_link_hover_color;
}
.elementor-widget-progress .elementor-progress-wrapper.progress-warning .elementor-progress-bar {
	background-color: $regular_accent_color_2;
}
.elementor-widget-progress .elementor-progress-wrapper.progress-info {
	background-color: $grey_color_3;
}
.elementor-widget-progress .elementor-title,
.elementor-progress-percentage {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
}
.elementor-widget-progress .elementor-title {
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	color: $regular_h6_color;
}

.jet-countdown-timer .jet-countdown-timer__item-value .jet-countdown-timer__digit,
.invert .jet-countdown-timer .jet-countdown-timer__item-value .jet-countdown-timer__digit {
	font-size: $h3_font_size{px};
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	color: $regular_accent_color_1;
	font-family: @font_family( $h3_font_family );
}
.jet-countdown-timer .jet-countdown-timer__item-label {
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
}

.jet-elements .featured-table .pricing-table__heading,
.jet-elements .featured-table .pricing-table__price {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.jet-elements .featured-table .pricing-table__price {
	color: $regular_accent_color_4;
}
.jet-elements .featured-table .pricing-table__heading,
.jet-elements .featured-table .pricing-table__title,
.jet-elements .featured-table .pricing-table__price .pricing-table__price-suffix {
	color: $invert_link_hover_color;
}
.jet-elements .featured-table .pricing-table__subtitle {
	color: $regular_accent_color_3;
}

.pricing-table__icon i {
	background-color: $regular_accent_color_2;
	color: $invert_accent_color_1;
}
.jet-elements .pricing-table__price-val,
.jet-elements .pricing-table__price-prefix {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 0.6)px;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
}
.jet-elements .pricing-table__price-suffix {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
}
@media (min-width: 1200px) {
	.jet-elements .pricing-table__price-val,
	.jet-elements .pricing-table__price-prefix { font-size: $h3_font_size{px}; }
}
.elementor-jet-pricing-table .featured-table.pricing-table > div:nth-last-child(2):not(.pricing-table__heading),
.elementor-jet-pricing-table .featured-table.pricing-table > div:last-child:not(.pricing-table__heading),
.pricing-table:not(.featured-table) .pricing-table__heading {
	border-color: $grey_color_3;
}
.pricing-table:not(.featured-table) {
	border-color: $grey_color_3;
}
.pricing-table.featured-table {
	border-color: $grey_color_3;
}
.pricing-table:not(.featured-table) .pricing-table__features,
.pricing-table:not(.featured-table) .pricing-table__action {
	background-color: $invert_accent_color_1;
}
.pricing-table:not(.featured-table) .pricing-table__subtitle {
	color: $regular_text_color;
}
.pricing-table:not(.featured-table) .pricing-table__price-val,
.pricing-table:not(.featured-table) .pricing-table__price-prefix,
.pricing-table:not(.featured-table) .pricing-table__price-suffix {
	color: $regular_link_color;
}
.pricing-feature .item-bullet,
.pricing-table__features .pricing-feature:not(.item-included) .pricing-feature__inner {
	color: $grey_color_2;
}
.pricing-feature.item-included .item-bullet {
	color: $regular_accent_color_1;
}

.brands-list__item-name {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	color: $regular_h6_color;
}
.elementor-jet-brands .brands-list__item .brands-list__item-link {
	border-color: $grey_color_3;
}
.brands-list__item-desc {
	color: $regular_text_color;
}

.elementor-slick-slider .slick-slider .slick-next,
.elementor-slick-slider .slick-slider .slick-prev,
.elementor-slick-slider .slick-next,
.elementor-slick-slider .slick-prev,
.elementor .swiper-button-prev,
.elementor .swiper-button-next {
	color: $regular_link_hover_color;
	background-color: $invert_accent_color_1;
}
.elementor-slick-slider .slick-slider .slick-next:hover,
.elementor-slick-slider .slick-slider .slick-prev:hover,
.elementor-slick-slider .slick-next:hover,
.elementor-slick-slider .slick-prev:hover,
.elementor .swiper-button-prev:hover,
.elementor .swiper-button-next:hover {
	color: $regular_link_hover_color;
	background-color: $regular_accent_color_1;
}
.elementor-slick-slider ul.slick-dots li button::before,
.elementor .swiper-pagination-bullet {
	background-color: $grey_color_1;
}
.elementor-slick-slider ul.slick-dots li:hover button::before,
.elementor-slick-slider ul.slick-dots li.slick-active button::before,
.elementor .swiper-pagination-bullet.swiper-pagination-bullet-active,
.elementor .swiper-pagination-bullet:hover {
	background-color: $regular_accent_color_3;
}


.elementor-widget-tabs .elementor-tab-desktop-title {
	border-color: $grey_color_2;
	background-color: $grey_color_3;
	color: $regular_link_hover_color;

	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 0.75)px;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
}
.elementor-widget-tabs .elementor-tab-desktop-title:hover,
.elementor-widget-tabs .elementor-tab-desktop-title.active {
	color: $regular_link_color;
}
.elementor-widget-tabs .elementor-tab-desktop-title,
.elementor-widget-tabs .elementor-tab-desktop-title.active,
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tabs-borderless .elementor-tabs-content-wrapper,
.elementor-widget-tabs.elementor-tabs-view-vertical .elementor-tabs-borderless .elementor-tabs-content-wrapper {
	border-color: $grey_color_2;
}

.elementor-widget-tabs.elementor-tabs-view-icon_horizontal .elementor-tab-desktop-title,
.elementor-widget-tabs.elementor-tabs-view-icon_vertical .elementor-tab-desktop-title {
	font-size: $h6_font_size{px};
}
.elementor-widget-tabs.elementor-tabs-view-icon_horizontal .elementor-tab-title__icon,
.elementor-widget-tabs.elementor-tabs-view-icon_vertical .elementor-tab-title__icon {
	color: $regular_accent_color_1;
}

.elementor-widget-tabs.elementor-tabs-view-icon_horizontal .elementor-tab-title:hover,
.elementor-widget-tabs.elementor-tabs-view-icon_horizontal .elementor-tab-title.active,
.elementor-widget-tabs.elementor-tabs-view-icon_vertical .elementor-tab-title:hover,
.elementor-widget-tabs.elementor-tabs-view-icon_vertical .elementor-tab-title:focus,
.elementor-widget-tabs.elementor-tabs-view-icon_vertical .elementor-tab-title.active {
	color: $invert_link_hover_color;
}

.elementor-widget-tabs.elementor-tabs-view-icon_horizontal .elementor-tab-title::after,
.elementor-widget-tabs.elementor-tabs-view-icon_vertical .elementor-tab-title::after {
	background-color: $regular_accent_color_3;
}

.elementor-widget-tabs.elementor-tabs-view-icon_horizontal .elementor-tabs-wrapper .elementor-tab-title::before {
	border-color: $regular_accent_color_3 transparent transparent transparent;
}
.elementor-widget-tabs.elementor-tabs-view-icon_vertical .elementor-tabs-wrapper .elementor-tab-title::before {
	border-color: transparent transparent transparent $regular_accent_color_3;
}


.elementor-counter .elementor-counter-number-wrapper {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	font-family: @font_family( $h3_font_family );
	color: $regular_h3_color;
}
@media (min-width: 1200px) {
	.elementor-counter .elementor-counter-number-wrapper {
		font-size: $h3_font_size{px};
	}
}
.elementor-counter .elementor-counter-title,
.circle-counter__number {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($main_menu_font_size, multiple, ceil, 1.15)px;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $main_menu_letter_spacing{em};
	color: $regular_h6_color;
}

.adv-carousel__item-title {
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{em};
	color: $regular_h1_color;
}

.adv-carousel__item-text {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	color: $regular_h5_color;
}

@media (min-width: 980px) {
	.adv-carousel[data-slider_options*="\"desktop\":1"] .adv-carousel__item-title {
		font-size: $h1_font_size{px};
	}
}
@media (min-width: 980px) {
	.adv-carousel__item-title,
	.adv-carousel__item-text {
		color: $invert_h1_color;
	}
}

.jet-posts .jet-posts__inner-box[style^="background-"],
.jet-posts .jet-posts__inner-box[style^="background-"] .entry-title,
.jet-posts .jet-posts__inner-box[style^="background-"] .posts-footer-content-hover span a,
.jet-posts .jet-posts__inner-box[style^="background-"] .posts-footer-content-hover .posted-by,
.jet-posts .jet-posts__inner-box[style^="background-"] .posts-footer-content-hover .post__date i,
.jet-posts .jet-posts__inner-box[style^="background-"] .posts-footer-content-hover .post__comments i {
	color: $invert_accent_color_1;
}
.jet-posts .jet-posts__inner-box[style^="background-"] .posts-footer-content-hover .posted-by__author {
	color: $regular_accent_color_1;
}
.jet-posts .jet-posts__inner-box[style^="background-"] .entry-title:before {
	background-color: $regular_accent_color_1;
}

.jet-posts__inner-box .post__date-circle .post__date-link {
	background-color: $grey_color_3;
}
.jet-posts__inner-box .post__date-circle .post__date-link:hover {
	background-color: $regular_accent_color_1;
}
.jet-posts__inner-box .post__date-link:hover .post__date-day,
.jet-posts__inner-box .post__date-link:hover .post__date-month {
	color: $invert_link_hover_color;
}

.jet-animated-box-icon-inner i {
	color: $regular_accent_color_2;
}
.jet-animated-box__back .jet-animated-box-icon-inner i {
	color: $regular_accent_color_1;
}
.jet-animated-box .jet-animated-box__title,
.jet-animated-box .jet-animated-box__subtitle {
	color: $regular_accent_color_2;
}

.jet-animated-box .jet-animated-box__title {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
}

.jet-animated-box .jet-animated-box__subtitle {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.jet-animated-box .jet-animated-box__description {
	font-size: $meta_font_size{px};
	color: $regular_accent_color_2;
}

.jet-animated-box .jet-animated-box__back {
	background-color: $regular_accent_color_2;
}

.jet-animated-box .jet-animated-box__back .jet-animated-box__title,
.jet-animated-box .jet-animated-box__back .jet-animated-box__subtitle,
.jet-animated-box .jet-animated-box__back .jet-animated-box__description {
	color: $invert_accent_color_1;
}

.jet-animated-box .jet-animated-box__button--back {
	color: $regular_link_hover_color;
}

.jet-animated-box .jet-animated-box__button--back:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_3;
}

.elementor-element .elementor-jet-animated-box .jet-animated-box__front {
	background-color: $regular_accent_color_1;
}

.jet-slider .sp-arrow.sp-next-arrow,
.jet-slider .sp-arrow.sp-previous-arrow {
	background-color: $regular_link_hover_color;
}
.jet-slider .sp-arrow.sp-next-arrow:hover,
.jet-slider .sp-arrow.sp-previous-arrow:hover {
	color: $regular_link_hover_color;
	background-color: $invert_accent_color_1;
}
.jet-slider .sp-buttons .sp-button, 
.jet-slider .sp-buttons .sp-button.sp-selected-button,
.jet-slider .sp-buttons .sp-button:hover {
	background-color: $regular_accent_color_2;
}


.jet-slider .jet-slider__title:before {
	background-color: $regular_accent_color_1;
}
.jet-slider .jet-slider__title {
	font-size: $h3_font_size{px};
}

.jet-slider .jet-slider__button-wrapper .jet-slider__button--primary {
	background-color: $regular_accent_color_1;
}
.jet-slider .jet-slider__button-wrapper .jet-slider__button--primary:hover {
	background-color: $regular_accent_color_2;
}

.elementor-divider-separator {
	border-color: $grey_color_3;
}

.jet-download.elementor-button .jet-download__label {
	color: $regular_link_hover_color;
}
.jet-download.elementor-button .jet-download__sub-label{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $meta_font_size{px};
	font-family: @font_family( $body_font_family );
	color: $regular_text_color;
}
.jet-download.elementor-button .jet-download__icon,
.jet-download.elementor-button:before {
	color: $regular_text_color;
}

.jet-download.elementor-button {
	-webkit-box-shadow:inset 0 0 0 4px $regular_accent_color_2;
	box-shadow:inset 0 0 0 4px $regular_accent_color_2;
}
.jet-download.elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
	-webkit-box-shadow:inset 0 0 0 0 $regular_accent_color_2;
	box-shadow:inset 0 0 0 0 $regular_accent_color_2;
}
.jet-download.elementor-button:hover .jet-download__icon,
.jet-download.elementor-button:hover:before,
.jet-download.elementor-button:hover .jet-download__label,
.jet-download.elementor-button:hover .jet-download__sub-label {
	color: $invert_accent_color_1;
}