.jet-subscribe-form .jet-subscribe-form__submit {
    background-color: $regular_link_hover_color;
    color: $invert_accent_color_1;
}
.jet-subscribe-form .jet-subscribe-form__submit span::before {
    color: $regular_accent_color_1;
}
.jet-subscribe-form .jet-subscribe-form__submit:hover {
    background-color: $regular_accent_color_1;
    color: $regular_link_hover_color;
}
.jet-subscribe-form .jet-subscribe-form__submit:hover span::before {
    color: $regular_link_hover_color;
}

.jet-subscribe-form .jet-subscribe-form__input {
    background-color: $grey_color_1;
    color: $regular_text_color;
}
.jet-subscribe-form .jet-subscribe-form__input:focus {
    background-color: $invert_accent_color_1;
}