.jet-menu .elementor-column-wrap ul > li.menu-item-type-custom a,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-page a,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-projects a,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-team a,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-cherry-services a {
		font-size: $body_font_size{px};
		font-family: @font_family( $body_font_family );
		color: $regular_text_color;
}
.jet-menu .elementor-column-wrap ul > li.menu-item-type-custom a:hover,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-page a:hover,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-projects a:hover,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-team a:hover,
.jet-menu .elementor-column-wrap ul > li.menu-item-object-cherry-services a:hover {
		color: $regular_accent_color_1;
}