.tparrows {
	color: $regular_link_hover_color;
	background-color: $invert_accent_color_1;
}
.construction.tparrows:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1 !important;
}
.tp-bullet {
	background-color: @alpha($regular_accent_color_3, 20);
}
.tp-bullet.selected,
.tp-bullet:hover {
	background-color: $regular_accent_color_3;
}
.tparrows::before {
	color: $invert_accent_color_1;
}
.tparrows::before {
	color: $invert_accent_color_1 !important;
}
.tparrows:hover::before {
	color: $regular_accent_color_2 !important;
}