/* #Tm Photo Gallery */
.tm-pg_front_gallery .tm_pg_gallery-item_label {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $main_menu_font_size{px};
	font-family: @font_family( $h6_font_family );
	background-color: $invert_accent_color_1;
	color: $regular_accent_color_2;
}

svg [id^="preloader"] .stop-color {
	stop-color: $regular_accent_color_1;
}


.tm-pg_front_gallery-tabs li.active a,
.tm-pg_front_gallery-tabs li:hover a {
	color: $regular_text_color;
}
.tm-pg_front_gallery .tm_pg_gallery-item_link::after {
	color: $invert_link_hover_color;
}

.tm_pg_gallery-item_icon,
.tm-pg_front_gallery .tm_pg_gallery-item_title,
.tm-pg_front_gallery .tm_pg_gallery-item_counter,
.tm-pg_front_gallery .tm_pg_gallery-item_description {
	color: $invert_link_hover_color;
}

.tm-pg_front_gallery .tm_pg_gallery-item_counter {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-family: @font_family( $meta_font_family );
	font-size: $meta_font_size{px};
	letter-spacing: $meta_letter_spacing{em};
}

.tm-pg_front_gallery .tm_pg_gallery-item_description {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
}

.tm-pg_front_gallery-grid .tm_pg_gallery-item_link:before,
.tm-pg_front_gallery-masonry .tm_pg_gallery-item_link:before,
.tm-pg_front_gallery-justify .tm_pg_gallery-item_link:before,
.tm-pg_front_gallery .tm-pg_front_gallery-masonry .tm_pg_gallery-item-wrapper:before,
.tm-pg_front_gallery .tm-pg_front_gallery-grid .tm_pg_gallery-item-wrapper:before,
.tm-pg_front_gallery .tm-pg_front_gallery-justify .tm_pg_gallery-item-wrapper:before{
	background-color: @alpha($regular_accent_color_2, 90);
}

.tm-pg_front_gallery-tabs li a {
	font-style: $h6_font_style;
	font-size: $main_menu_font_size{px};
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
	color: $regular_link_hover_color;
}

.tm_pg_gallery-item__more_button {
	font-style: $h6_font_style;
	font-size: $main_menu_font_size{px};
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
	color: $invert_accent_color_1;
}

.tm_pg_gallery-item__more_button i {
	color: $regular_accent_color_1;
}

.tm_pg_gallery-item__more_button:hover {
	color: $regular_accent_color_1;
}
.tm_pg_gallery-item__more_button:hover i {
	color: $invert_accent_color_1;
}

.lg-backdrop {
	background-color: @alpha($regular_accent_color_2, 90);
}
.lg-outer,
.lg-outer .lg-thumb-outer,
.lg-outer.lg-fullscreen-on .lg-progress-bar .lg-progress {
	background-color: $invert_text_color;
}

.lg-outer .lg-progress-bar .lg-progress {
	background-color: $regular_accent_color_1;
}

.lg-outer.lg-fullscreen-on .lg-toolbar .lg-icon:after,
.lg-outer .lg-toolbar .lg-icon:after,
.lg-outer .lg-thumb-outer .lg-icon:after {
	color: $invert_link_hover_color;
}

.lg-outer.lg-fullscreen-on .lg-toolbar .lg-icon:hover:after,
.lg-outer .lg-toolbar .lg-icon:hover:after,
.lg-outer .lg-thumb-outer .lg-icon:hover:after {
	color: $invert_accent_color_1;
}

.lg-outer .lg-actions .lg-icon.lg-prev:after,
.lg-outer .lg-actions .lg-icon.lg-next:before {
	background-color: $regular_accent_color_1;
	color: $regular_accent_color_2;
}

.lg-outer .lg-actions .lg-icon.lg-prev:hover:after,
.lg-outer .lg-actions .lg-icon.lg-next:hover:before {
	background-color: $invert_accent_color_1;
	color: $regular_link_hover_color;
}

.tm_pg_gallery-item_link_show-more span {
	font-style: $h6_font_style;
	font-size: $main_menu_font_size{px};
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $main_menu_letter_spacing{em};
	color: $regular_accent_color_2;
}
.tm_pg_gallery-item_link_show-more:hover {
	background-color: $regular_accent_color_2;
}
.tm_pg_gallery-item_link_show-more:hover span {
	color: $regular_accent_color_1;
}

.tm_pb_module .filter-select__list {
	background-color: $invert_accent_color_1;
}

@media (min-width: 1200px) {
	.lg-outer:not(.lg-fullscreen-on) .lg-inner {
		max-width: $container_width{px};
	}
}

.tm-pg_front_gallery .load-more-button .btn {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.tm-pg_front_gallery .load-more-button .btn:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}

.tm-pg_front_gallery .tm-pg_front_gallery-masonry .tm_pg_gallery-item_link:hover .tm_pg_gallery-item_description, .tm-pg_front_gallery .tm-pg_front_gallery-grid .tm_pg_gallery-item_link:hover .tm_pg_gallery-item_description, .tm-pg_front_gallery .tm-pg_front_gallery-justify .tm_pg_gallery-item_link:hover .tm_pg_gallery-item_description {
	color: $invert_accent_color_1;
}