.cherry-search-wrapper {
	.cherry-search {
	}
	.header-search & {
		flex-flow: row nowrap;
		align-items: center;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 0;
		right: 66px;
		margin: 0;
		opacity: 0;
		transform: translateY(-50%);
		transition: opacity .3s ease-out, transform .3s ease-out;

		.cherry-search form.cherry-search__form {
			align-items: center;
			button.search-submit {
				padding: 1px 0 0;
				background-color: transparent;
				.mobile-panel & {
					padding-right: 5px;
				}
				position: absolute;
				right: 16px;
				top: 17px;
				@media (min-width: 768px) {
					top: 10px;
				}
			}
		}
		.cherry-search__field.search-field[type="search"] {
			@media (min-width: 768px) {
				background-color: $color__white;
			}
		}
		.cherry-search__label {
			position: relative;
			&:before {
				@include nucleo-mini-icon;
				content: '\ea66';
				position: absolute;
				left: 20px;
				top: 50%;
				font-size: 14px;
				transform: translateY(-50%);
			}
		}
	}

	.style-4 {
		left: 20px;
		right: 60px;
	}

	.site-header.search-active & {
		top: 50%;
		opacity: 1;
		visibility: visible;
		z-index: 3;
		transform: translateY(-50%);

	}

	.site-header .mobile-panel & {
		left: 55px;
		right: 50px;
	}

	.cherry-search form.cherry-search__form {
		flex-wrap: nowrap;
		button.cherry-search__submit {
			padding: 13.5px 29px 11.5px;
			flex: 0 0 auto;
		}
	}
	
	.cherry-search {
		&__results-list {
			border: none;
			@include box-shadow;
			@media ( max-width:767px ) {
				left: 7px;
			}
			width: calc(100% - 10px);
		}
		&__results-item {
			border-top: none;
			&:after {
				content: '';
				display: block;
				width: calc(100% - 40px);
				height: 1px;
				margin: 0 auto;
				background-color: $color__background-hr;
				.header-search & {
					width: calc(100% - 60px);
				}
			}
			&:hover {
				background-color: $color__white;
				.cherry-search__item-thumbnail {
					img {
						.header-search & {
							transform: scale(1.1);
						}
					}
				}
			}
			a {
				padding: 10px 20px;
				&:hover {
					background-color: $color__white;
				}
				.header-search & {
					padding: 20px 30px;
				}
			}
		}
		&__item-title {
			transition: 400ms all ease;
		}
		&__item-thumbnail {
			flex: 0 1 25%;
			min-width: 25%;
			.header-search & {
				overflow: hidden;
				flex: 0 1 12%;
				min-width: 12%;
				margin-right: 15px;
				.mobile-panel & {
					flex: 0 1 25%;
					min-width: 25%;
					margin-right: 10px;
				}
			}
			img {
				transition: 400ms all ease;
			}
		}
		&__item-author {
			em {
				font-style: normal;
			}
		}
		&__more-button {
			@include btn;
			margin: 20px;
			.header-search & {
				margin: 30px;
			}
		}
	}
}

.header-container .cherry-search__field.search-field[type="search"] {
	font-size: 13px;
	min-height: 35px;
	padding: 8.5px 80px 8.5px 45px;
}