// General styles
.btn,
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'] {
	@include btn;
	@include btn-mods;
}

.link,
.btn-link {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover {
		text-decoration: none;
	}
}

.header-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	i {
		font-size: 14px;
		line-height: 1;
		@include transition(all 0.2s ease);
	}
	&.header-icon-left {
		i {
			margin-right: 10px;
			margin-bottom: 2px;
		}
	}
	&.header-icon-right {
		flex-direction: row-reverse;

		i {
			margin-left: 10px;
		}
	}
}
