/*!
Skin Name: Business
*/

/* Variables */
$color__border-recent-posts: #173c60;
$color__header-divider-components: #1a3d60;
$color__top-panel-menu-divider: #e6e8e8;

/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
@import "variables-site/variables-site";
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
@import "plugins/jet-menu/jet-menu";

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
@import "plugins/elementor/modules/button";


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/* Header */
.site-header {
	&.style-4 {
		.header-nav-wrapper {
			padding: 0;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -100%;
				height: 100%;
				width: 300%;
			}
		}
		.header-components {
			.navbar-header-cart:before {
				background-color: $color__header-divider-components;
			}
		}
	}
}

.header-components__contact-button {
	& > * {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

/* Footer */
.site-footer {
	&.style-1 {
		.footer-container {
			.site-info {
				.site-info-wrap {
					padding-top: 20px;
					padding-bottom: 12px;
				}
			}
		}
	}
}

.footer-area {
	.home & {
		padding: 53px 0 25px;
	}
	.widget-title {
		margin-bottom: 22px;
	}
}

/* Contact block */
.contact-block {
	&.contact-block--header {
		.contact-block__icon {
			margin-right: 9px;
		}
	}
}

/* Top panel */
.top-panel {
	.top-panel__menus {
		@include grid-indent(15px);
		.top-panel__menu {
			& + .social-list {
				position: relative;
				&::before {
					@include media-breakpoint-up(md) {
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						height: 20px;
						width: 1px;
						background-color: $color__top-panel-menu-divider;
					}
				}
			}
		}
	}
	&__message {
		font-size: 13px;
		i {
			margin-right: 9px;
		}
	}
	&__menu-list {
		.menu-item {
			font-size: 13px;
		}
	}
}

/* Social */
.social-list {
	.menu-item {
		& > a {
			&::before {
				font-size: 14px;
			}
			
		}
	}
	.site-info & {
		.footer-container & {
			.site-footer.style-1 & {
				margin-top: 6px;
				margin-bottom: 6px;
			}
		}
	}
}


/* Jet menu */
.jet-menu {
	& > .jet-menu-item {
		&:first-child {
			.top-level-link {
				@include media-breakpoint-up(md) {
					padding-left: 0;
				}
			}
		}
	}
}

/* Jet posts */
.jet-slider {
	&__content {
		padding: 0;
	}
}

/* Elementor default */
/* Accordion */
.elementor-accordion {
	.elementor-tab-content {
		p {
			margin-bottom: 40px;
		}
	}
}

/* Subscribe and follow */
.elementor-widget {
	.subscribe-follow__custom-bg {
		.subscribe-block {
			padding: 0;
			.sidebar & {
				padding: 35px 40px 32px;
			}
		}
	}
	.subscribe-block {
		.subscribe-block__head-wrap {
			@include media-breakpoint-up(md) {
				margin-right: 172px;
			}
		}
	}
}

/* Typography */
h1 {
	text-transform: capitalize;
}

/* Widgets */
/* Recent posts widget */
.widget_recent_entries {
	ul {
		li {
			flex-direction: column;
			.post-date {
				text-transform: uppercase;
				margin-top: 4px;
			}
			& + li {
				border-top: 1px solid $color__border-recent-posts;
				margin-top: 14px;
				padding-top: 12px;
			}
		}
	}
}

/* Contact information */
.contact-information-widget__inner {
	& > li {
		margin-bottom: 5px;
		.icon {
			font-weight: bold;
		}
	}
}

#toTop {
	width: 107px;
	height: 50px;
	line-height: 50px;
}

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
	font-size: 9px;
}


.site-footer.style-1 .footer-container .site-info .site-info-wrap {
	padding-top: 14px;
	padding-bottom: 9px;
}

.site-footer.style-1 .footer-container .site-info .footer-copyright {
	margin-top: 3px;
	margin-bottom: 10px;
}
.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
	padding: 16px 28px;
}
.jet-posts__inner-box .entry-meta {
	text-transform: uppercase;
}

.rev-btn {
	padding: 15px 28px !important;
}

.site-header.style-4 .header-components .navbar-header-cart:before {
	background-color: $color__header-divider-components;
}

.cherry-projects-wrapper .projects-container.masonry-layout .projects-item .project-content.style-3 .project-entry-title, .cherry-projects-wrapper .projects-container.grid-layout .projects-item .project-content.style-3 .project-entry-title, .cherry-projects-wrapper .projects-container.justified-layout .projects-item .project-content.style-3 .project-entry-title, .cherry-projects-wrapper .projects-container.cascading-grid-layout .projects-item .project-content.style-3 .project-entry-title,
.cherry-projects-wrapper .projects-container.masonry-layout .projects-item .project-content.style-3 .cherry-projects-single-details-list, .cherry-projects-wrapper .projects-container.grid-layout .projects-item .project-content.style-3 .cherry-projects-single-details-list, .cherry-projects-wrapper .projects-container.justified-layout .projects-item .project-content.style-3 .cherry-projects-single-details-list, .cherry-projects-wrapper .projects-container.cascading-grid-layout .projects-item .project-content.style-3 .cherry-projects-single-details-list, .elementor-element .elementor-jet-animated-box .jet-animated-box__icon:last-child, .elementor-element .elementor-jet-animated-box .jet-animated-box__title:last-child, .elementor-element .elementor-jet-animated-box .jet-animated-box__subtitle:last-child, .elementor-element .elementor-jet-animated-box .jet-animated-box__description:last-child {
	text-transform: uppercase;
}

.template-media-icon-bg-2 .services-item-inner:before {
	border: 0;
}

.jet-subscribe-form--inline-layout .jet-subscribe-form__input-group .jet-subscribe-form__input {
	padding: 11px 19px 16px;
	box-shadow: inset 0 0 0 1px white;
}


.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	display: inline-block;
	font-family: 'nc-icon-mini';
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e904";
	position: relative;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
}

.widget_archive select, .widget_categories select,
.widget_archive label {
	height: 50px;
}

/* woo */

#page .products .product.product-list *:not(.star-rating) + a.button {
	padding: 13px 29px 11px;
	border-radius: 0;
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}


#page .ajax_add_to_cart, #page .add_to_cart_button {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}