.elementor-button {
	@include btn;
	.entry-content & {
		text-decoration: none;
	}
	&:hover,
	&:focus,
	&:visited {
		opacity: 1;
	}

	/* Icon */

	.elementor-button-icon {
		font-size: $icons_small;
		line-height: 1.5;
		margin-right: 9px;
		order: 1;

		&.elementor-align-icon-right {
			margin-right: 0;
			margin-left: 9px;
			order: 3;
		}
	}

	/* Sizes */
	&.elementor-size-xs,
	&.elementor-size-sm,
	&.elementor-size-md,
	&.elementor-size-lg,
	&.elementor-size-xl {
		border-radius: 0;
	}
	
	.single-team &.elementor-size-xs,
	.single-team &.elementor-size-sm,
	.single-team &.elementor-size-md,
	.single-team &.elementor-size-lg,
	.single-team &.elementor-size-xl {
		border-radius: 0;
	}
	// Extra small
	&.elementor-size-xs {
		font-size: 80%;
		padding: $button__indents_xsmall;
	}
	// Small
	&.elementor-size-sm {
		font-size: 90%;
		padding: $button__indents_small;
	}
	// Medium
	.jet-sub-mega-menu &.elementor-size-md {
		font-size: 14px;
		border-radius: 0;
	}
	.single-team &.elementor-size-md,
	&.elementor-size-md {
		padding: $button__indents;
		border-radius: 0;
		&.jet-more {
			padding: $button__indents;
		}
	}
	// Large
	.single-team &.elementor-size-lg,
	&.elementor-size-lg {
		.elementor-button-icon {
			font-size: 14px;
			line-height: 1;
		}
		font-size: 100%;
		padding: $button__indents;
	}
	// Extra large
	&.elementor-size-xl {
		font-size: 120%;
		padding: $button__indents_xlarge;
	}

	.elementor-button-content-wrapper {
		display: flex;
		align-items: center;

		> * {
			float: none;
		}
	}
	.elementor-button-text {
		order: 2;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}