/*!
Skin Name: Structon
*/
/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
@import "variables-site/variables-site";
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
@import "plugins/jet-menu/jet-menu";

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
@import "plugins/elementor/modules/button";


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";


// Revolution slider 
.tparrows {
	line-height: 40px;
}

.header-btn.header-icon-left {
	@include media-breakpoint-down(md) {
		padding: 0;
		min-height: 50px;
	}
	i {
		@include media-breakpoint-down(md) {
			margin-bottom: 3px;
		}
	}
}
.rev-btn {
	padding: 15px 28px !important;
}


// Footer 
.home .footer-area {
	padding: 54px 0 11px;
}

/* TM testi */
.tm-testi--default-3 .tm-testi__item-body {
	border: 1px solid;
}

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
	font-size: 9px;
}

.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
	padding: 16px 28px;
}
.jet-posts__inner-box .entry-meta {
	text-transform: uppercase;
}

.cherry-projects-single-details-list ul li, .elementor-element .elementor-jet-animated-box .jet-animated-box__description {
	text-transform: uppercase;
}



.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	display: inline-block;
	font-family: 'nc-icon-mini';
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e904";
	position: relative;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
}

.widget_archive select, .widget_categories select,
.widget_archive label {
	height: 50px;
}
/* Widgets */

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
	text-indent: 9999px;
}

#toTop {
	width: 107px;
	height: 50px;
	line-height: 50px;
}

/* woo */

#page .products .product.product-list *:not(.star-rating) + a.button {
	padding: 13px 29px 11px;
	border-radius: 0;
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}

#page .ajax_add_to_cart, #page .add_to_cart_button {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}
.footer-area-wrap .contact-information-widget__inner li:not(:first-child), .footer-area-wrap .contact-information-widget__inner li {
	margin-top: 0;
}