/*!
Skin Name: Corporate
*/
/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
@import "variables-site/variables-site";
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
@import "plugins/jet-menu/jet-menu";

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
@import "plugins/elementor/modules/button";


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/* Variables */
$color__header-border-divider: #393f46;

/* Header */
.site-header {
	&.style-4 {
		.header-nav-wrapper {
			padding: 0;
			&::before {
				content: none;
			}
		}
		.header-container__flex-wrap {
			&::before {
				content: '';
				position: absolute;
				left: -100%;
				top: 0;
				width: 300%;
				height: 1px;
				background: $color__header-border-divider;
			}
		}
		.header-components {
			.navbar-header-cart {
				&::before {
					background-color: $color__header-border-divider;
				}
			}
		}
		.header-components {
			@include media-breakpoint-up(xl) {
				margin-bottom: 9px;
			}
		}
	}
	.header-container {
		&.transparent {
			@media (min-width: 1024px) {
				position: relative !important;
			}
			@media (min-width: 1025px) {
				position: absolute !important;
				left: 0;
				right: 0;
				z-index: 90;
			}
		}
	}
}

/* Footer */
.site-footer {
	&.style-1 {
		.footer-container {
			.site-info {
				.site-info-wrap {
					padding-top: 20px;
					padding-bottom: 16px;
					align-items: center;
				}
			}
		}
	}
	&.style-2 {
		.footer-container {
			.footer-logo + .footer-copyright {
				margin-top: 20px;
			}
		}
	}
}

/* Top panel */
.top-panel {
	&__message {
		font-size: 13px;
		i {
			margin-right: 9px;
		}
	}
	&__menu-list {
		.menu-item {
			font-size: 13px;
		}
	}
}

/* Jet menu */
.jet-menu {
	& > .jet-menu-item {
		&:first-child {
			.top-level-link {
				@include media-breakpoint-up(md) {
					padding-left: 0;
				}
			}
		}
	}
}

/* Contact block */
.contact-block {
	&.contact-block--header {
		.contact-block__icon {
			margin-right: 9px;
		}
		.contact-block__inner {
			.contact-block__item:not(:first-child) {
				&::before {
					background-color: $color__header-border-divider;
				}
			}
		}
	}
	&__text {
		font-weight: 600;
	}
}

/* Social */
.social-list {
	.menu-item {
		& > a {
			&::before {
				font-size: 14px;
			}
			
		}
	}
	.site-info & {
		.footer-container & {
			.site-footer.style-1 & {
				margin-top: 6px;
				margin-bottom: 6px;
			}
		}
	}
}

/* Elementor */
.elementor-button  {
	.elementor-button-icon {
		font-size: 14px;
		i {
			font-weight: bold;
		}
	}
}

/* Jet elements */
/* Animated box */
.elementor-element {
	.elementor-jet-animated-box {
		.jet-animated-box__description {
			text-transform: none;
			margin-top: 5px;
		}
		.jet-animated-box__front,
		.jet-animated-box__back {
			padding: 30px 20px 30px;
			
			@include media-breakpoint-up(lg) {
				padding: 30px 23px 30px 38px;
			}
		}
	}
}

/* Jet posts */
.jet-posts {
	.jet-posts__inner-box[style^="background-"] {
		.jet-posts__inner-content {
			&,
			&:hover {
				transition: all .6s ease;
			}
		}
	}
}

/* Default elements */
/* Icon box */
.elementor-widget-icon-box {
	&.elementor-position-left {
		.elementor-icon-box-title {
			margin-bottom: 10px;
		}
	}
}

/* Counter */
.elementor-counter {
	.elementor-counter-number-prefix {
		@include media-breakpoint-up(lg) {
			flex-grow: 0;
		}
	}
}

/* Subscribe and follow */
.elementor-widget {
	.subscribe-follow__custom-bg {
		.subscribe-block {
			padding: 0;
		}
	}
	.subscribe-block {
		.subscribe-block__head-wrap {
			@include media-breakpoint-up(md) {
				margin-right: 171px;
			}
		}
	}
}

/* Services */

/*Template template-media-icon-bg-3*/
.template-media-icon-bg-3 {
	.services-item {
		padding-bottom: 30px;
		.btn-link {
			margin-top: 20px;
			&:after {
				@include nucleo-mini-icon();
				content: "\e904";
				position: relative;
				display: inline-block;
				font-size: 10px;
				margin-left: 6px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 24px;
			}
		}
		.title_wrap {
			padding-right: 34%;
		}
		& * + .title_wrap {
			margin: 0;
		}
		.image_wrap {
			position: relative;
			overflow: hidden;
			z-index: 1;
			opacity: 1;
			will-change: transform;
			transition-delay: 0.2s;
			@include media-breakpoint-up(sm) {
				&::after {
					position: absolute;
					content: '';
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					opacity: .7;
					transition: opacity .5s ease;
				}
			}
			
			img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: auto;
				
				.ie & {
					font-family: 'object-fit: cover';
				}
			}
		}
		&:hover {
			.services-item-overflow {
				
				@include media-breakpoint-up(sm) {
					top: 0;
					.btn-link {
						transform: translateY(0);
						@include transition(all 0.7s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					}
					.slogan_wrap {
						transform: translateY(0);
						@include transition(all 0.5s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					}
				}
				@include transition(all 0.7s cubic-bezier(0.485, 0.065, 0.165, 0.95));
			}
			.services-item-top {
				top: -100%;
				transition: all 0.5s cubic-bezier(0.485, 0.065, 0.165, 0.950);
			}
			.image_wrap {
				@include media-breakpoint-up(sm) {
					&::after {
						opacity: .9;
						transition: opacity .5s ease;
					}
				}
			}
		}
		&-top {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 100%;
			z-index: 1;
			padding: 20px 38px;
			transition: all 0.8s cubic-bezier(0.9, -0.01, 0.32, 1.13);
			@include media-breakpoint-down(xs) {
				display: none;
			}
			.service-icon {
				line-height: 1;
				margin: 0;
				transform: translateX(-12px);
				i {
					font-size: 70px;
					line-height: 52px;
				}
			}
			.title_wrap {
				h3 {
					padding-bottom: 10px;
				}
			}
		}
		&-overflow {
			position: relative;
			z-index: 2;
			text-align: left;
			overflow: hidden;
			padding: 25px 20px;
			@include transition(all 0.5s cubic-bezier(0.465, 0.050, 0.965, 0.320));
			@include media-breakpoint-up(sm) {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-content: stretch;
				align-items: flex-start;
				position: absolute;
				height: 100%;
				top: 100%;
				left: 0;
				right: 0;
				padding: 20px 38px;
			}
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: .9;
				z-index: -1;
				@include transition(all 0.3s ease);
			}
			
			@include media-breakpoint-up(sm) {
				.slogan_wrap {
					transform: translateY(100px);
					@include transition(all 0.35s cubic-bezier(0.465, 0.050, 0.965, 0.320));
				}
				.btn-link {
					transform: translateY(100px);
					@include transition(all 0.25s cubic-bezier(0.465, 0.050, 0.965, 0.320));
				}
			}
		}
		&-inner {
			overflow: hidden;
			position: relative;
			
			.slogan_wrap,
			.btn {
				.archive & {
					display: none;
				}
			}
		}
	}
}


/* Revolution slider */
.tparrows {
	line-height: 40px;
}

#toTop {
	width: 107px;
	height: 50px;
	line-height: 50px;
}

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
	font-size: 14px;
}


.site-footer.style-1 .footer-container .site-info .site-info-wrap {
	padding-top: 14px;
	padding-bottom: 9px;
}

.site-footer.style-1 .footer-container .site-info .footer-copyright {
	margin-top: 3px;
	margin-bottom: 10px;
}
.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
	padding: 16px 28px;
}
.jet-posts__inner-box .entry-meta, .cherry-projects-wrapper .projects-container.masonry-layout .projects-item .hover-style-2 .overflow-content.project-content .project-footer-content-hover, .cherry-projects-wrapper .projects-container.grid-layout .projects-item .hover-style-2 .overflow-content.project-content .project-footer-content-hover, .cherry-projects-wrapper .projects-container.justified-layout .projects-item .hover-style-2 .overflow-content.project-content .project-footer-content-hover, .cherry-projects-wrapper .projects-container.cascading-grid-layout .projects-item .hover-style-2 .overflow-content.project-content .project-footer-content-hover {
	text-transform: uppercase;
}
.jet-subscribe-form .jet-subscribe-form__input {
	border: 0;
	padding-top: 14px;
	padding-bottom: 14px;
}


.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	display: inline-block;
	font-family: 'nc-icon-mini';
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e904";
	position: relative;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
}

.widget_archive select, .widget_categories select,
.widget_archive label {
	height: 50px;
}

/* woo */

#page .products .product.product-list *:not(.star-rating) + a.button {
	padding: 13px 29px 11px;
	border-radius: 0;
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}

#page .ajax_add_to_cart, #page .add_to_cart_button {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}