/*!
Skin Name: Architect-v2
*/

/* Variables */
$color__bg-wpcf7-field: #f5f6f6;

/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
@import "variables-site/variables-site";
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
@import "plugins/jet-menu/jet-menu";

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
@import "plugins/elementor/modules/button";


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/* Typography */
h1, h4 {
	text-transform: none;
}

/* Header */
.site-header {
	&.style-1 {
		.site-branding {
			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
			}
			@include media-breakpoint-up(md) {
				margin-bottom: 20px;
			}
		}
	}
	&.style-4 {
		.site-branding {
			@include media-breakpoint-up(sm) {
				margin-top: 26px;
				margin-bottom: 0;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 18px;
				margin-bottom: 20px;
			}
		}
	}
}
/* Footer */
.site-footer {
	&.style-1 {
		.footer-container {
			.site-info {
				.site-info-wrap {
					padding-top: 20px;
					padding-bottom: 16px;
					align-items: center;
				}
			}
		}
	}
	&.style-2 {
		.footer-container {
			.footer-logo + .footer-copyright {
				margin-top: 20px;
			}
		}
	}
}

/* Social */
.social-list {
	.menu-item {
		& > a {
			&::before {
				font-size: 14px;
			}
			
		}
	}
	.site-info & {
		.footer-container & {
			.site-footer.style-1 & {
				margin-top: 6px;
				margin-bottom: 6px;
			}
		}
	}
}

/* Jet Slider */
.jet-slider {
	.sp-buttons {
		.sp-button {
			opacity: 1;
		}
	}
}

/* Cherry service */
.template-media-icon {
	.services-item {
		padding-bottom: 39px;
		* + .content_wrap,
		* + .slogan_wrap {
			margin-top: 7px;
		}
		.slogan_wrap {
			padding-right: 8px;
		}
		
	}
}

/* Cherry team */
.cherry-team {
	&.template-default {
		.team-item {
			.team-listing_photo__wrap {
				margin: 0 0 28px;
			}
			.team-listing_position {
				margin-top: -2px;
				letter-spacing: -0.3px;
				&:after {
					content: '';
					margin: 24px auto 0;
					width: 72px;
					height: 3px;
					display: block;
					@include media-breakpoint-up(lg) {
						margin: 24px 0;
					}
				}
			}
		}
	}
}


.wpcf7 {
	.site &{
		.ajax-loader {
			margin: 8px 10px 0;
		}
	}
	.wpcf7-not-valid {
		background: $color__bg-wpcf7-field;
	}
}

/* TM testi */

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
	font-size: 9px;
}

.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
	padding: 16px 28px;
}
.jet-posts__inner-box .entry-meta {
	text-transform: uppercase;
}

.cherry-projects-single-details-list ul li, .elementor-element .elementor-jet-animated-box .jet-animated-box__description {
	text-transform: uppercase;
}



.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	display: inline-block;
	font-family: 'nc-icon-mini';
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e904";
	position: relative;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
}

.widget_archive select, .widget_categories select,
.widget_archive label {
	height: 50px;
}
/* Widgets */

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
	text-indent: 9999px;
}

#toTop {
	width: 107px;
	height: 50px;
	line-height: 50px;
}

.cherry-team.team-wrap .team-socials_link {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
}

.widget_nav_menu ul#menu-team li a {
	padding: 13px 26px 12px;
}

.products .product .block_product_thumbnail .tm-quick-view a {
	font-size: 15px;
	text-align: center; 
}

/* woo */

#page .products .product.product-list *:not(.star-rating) + a.button {
	padding: 13px 29px 11px;
	border-radius: 0;
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}

#page .ajax_add_to_cart, #page .add_to_cart_button {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}
#page .ajax_add_to_cart:after, #page .ajax_add_to_cart:before, #page .add_to_cart_button:after, #page .add_to_cart_button:before {
	line-height: 1.7;
}
.mobile-panel .menu-toggle {
	float: left;
	position: absolute;
	left: 20px;
	margin-top: 14px;
}