$color_pg_show_more_border: #f5f6f6;
$color_pg_icon: #ffe718;

.tm-pg_front_gallery {
	padding: 0;

	ul.tm-pg_front_gallery-tabs {
		border-bottom: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 0 25px;
		margin: 0;

		li {
			margin-left: 11px;
			margin-right: 11px;

			a {
				text-transform: uppercase;
				padding: 0;
			}
			&.active,
			&:hover {
				a {
					text-decoration: none;
					&:after {
						display: none;
					}
				}
			}
		}
	}

	.tm-pg_front_gallery-navigation,
	.load-more-button {
		margin: 30px 0 0;
	}

	.tm-pg_front_gallery-navigation + .load-more-button {
		margin-top: 34px;
	}

	.tm_pg_gallery-item_default_icon {
		&:before {
			content: '\e824';
		}
	}
}

.tm-pg_front_gallery {
	.tm-pg_front_gallery-masonry,
	.tm-pg_front_gallery-grid,
	.tm-pg_front_gallery-justify {
		.tm_pg_gallery-item_meta {
			justify-content: flex-start;
			align-items: flex-start;
			padding: 20px;
			@include media-breakpoint-up(lg) {
				padding: 6.3% 6.5%;
			}
		}

		.tm_pg_gallery-item[data-type="img"] {
			.tm_pg_gallery-item_link {
				&:after {
					content: '\e959';
				}
			}
		}
		.tm_pg_gallery-item_link {
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				visibility: visible;
				opacity: 1 !important;
				position: absolute;
				transform: translateX(-100%);
				@include transition(all 0.3s cubic-bezier(0.485, 0.065, 0.165, 1));
				transition-delay: .35s;
			}
			&:after {
				@include nucleo-mini-icon;
				position: absolute;
				top: auto;
				left: auto;
				right: 39px;
				bottom: 38px;
				transform: none;
				font-size: 14px;
				line-height: 1;
				z-index: 10;
				opacity: 0;
				transform: translateX(-100%);
				@include transition(all 0.2s ease-out);
				transition-delay: .3s;
			}
			img {
				max-width: none;
				width: calc(100% + 50px);
				transform: translate3d(-40px, 0, 0);
				@include transition(all 0.6s ease-out);
				transition-delay: .05s;
				object-fit: cover;
				height: 100%;

				.ie & {
					font-family: 'object-fit: cover';
				}
			}
			.tm_pg_gallery-item_meta {
				visibility: visible;
				opacity: 1;
			}

			&:hover {
				&:before,
				&:after {
					transform: translateX(0);
					opacity: 1;
					@include transition(all 0.3s cubic-bezier(0.485, 0.065, 0.165, 0.950));
				}
				img {
					transform: translate3d(0, 0, 0);
				}

				.tm_pg_gallery-item_label {
					transform: translateX(0);
					@include transition(all 0.35s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					opacity: 1;
				}

				.tm_pg_gallery-item_title {
					transform: translateX(0);
					@include transition(all 0.42s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					opacity: 1;
				}
				.tm_pg_gallery-item_description {
					transform: translateX(0);
					@include transition(all 0.45s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					opacity: 1;
				}

				.tm_pg_gallery-item_counter {
					transform: translateX(0);
					@include transition(all 0.52s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					opacity: 1;
				}

				.tm_pg_gallery-item_icon {
					animation: animationInFrames linear 1s;
					animation-iteration-count: 1;
					transform-origin: 50% 0%;
					opacity: 1;
				}

				.tm_pg_gallery-item__more_button {
					transform: translateX(0);
					@include transition(all 0.28s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					opacity: 1;
				}
			}
		}

		.tm_pg_gallery-item_link_show-more {
			padding-top: 22.2%;
			padding-bottom: 22.2%;
			background-color: transparent;
			text-transform: uppercase;
			background-color: $color_pg_show_more_border;
		}


		.tm_pg_gallery-item_label {
			top: 0;
			left: 0;
			letter-spacing: 1px;
			position: relative;
			padding: 3px 7px 2px;
			text-transform: uppercase;
			transform: translateX(calc(-100%));
			opacity: 0;
			@include transition(all 0.32s cubic-bezier(0.650, 0.045, 0.295, 0.955));
		}

		.tm_pg_gallery-item_title {
			text-transform: none;
			margin-bottom: 7px;
			margin-top: 15px;
			transform: translateX(calc(-100%));
			opacity: 0;
			@include transition(all 0.32s cubic-bezier(0.650, 0.045, 0.295, 0.955));
			transition-delay: 0.18s;
		}

		.tm_pg_gallery-item_description {
			margin-top: 2px;
			margin-bottom: 14px;
			text-align: left;
			transform: translateX(calc(-100%));
			opacity: 0;
			@include transition(all 0.42s cubic-bezier(0.650, 0.045, 0.295, 0.955));
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		.tm_pg_gallery-item_counter {
			margin-top: 14px;
			text-transform: uppercase;
			transform: translateX(calc(-100%));
			opacity: 0;
			@include transition(all 0.48s cubic-bezier(0.650, 0.045, 0.295, 0.955));
		}

		.tm_pg_gallery-item__more_button {
			position: absolute;
			display: block;
			bottom: 20px;
			left: 20px;
			@include media-breakpoint-up(lg) {
				bottom: 36px;
				left: 41px;
			}
			text-transform: uppercase;
			letter-spacing: 1px;
			transform: translateX(calc(-100%));
			opacity: 0;
			@include transition(all 0.22s cubic-bezier(0.650, 0.045, 0.295, 0.955));
			i {
				margin-left: 5px;
				font-size: $icons_small;
			}
		}

		.tm_pg_gallery-item_icon {
			position: relative;
			font-size: 34px;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 36px;

			animation: animationOutFrames linear 1s;
			animation-iteration-count: 1;
			transform-origin: 50% 0%;
			opacity: 0;
			@include transition(all 0.2s ease-in);
		}
	}

	.tm-pg_front_gallery-justify {
		.tm_pg_gallery-item-wrapper,
		.tm_pg_gallery-item-wrapper a{
			height: 100%;
		}
	}
}

.single .tm_pg_album,
.single .tm_pg_set {
	.entry-title {
		text-align: center;

		&:before,
		&:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.entry-header {
		margin-bottom: 20px;
	}
	.entry-content {
		text-align: center;
		& > p {
			margin-bottom: 50px;
		}
	}
}

.tm-pg_front_gallery .load-more-button .btn {
	@include btn;
	border-radius: 0;
}

.tm-pg_front_gallery-navigation .tm_pg_nav-links {
	padding: 0 0 30px;

	a.tm_pg_page-numbers {
		&.next {
			margin-left: 0;
			i:before {
				content: '\e904';
			}
		}

		&.prev {
			margin-right: 0;
			i:before {
				content: '\e903';
			}
		}
	}
}
/*--------------------------------------------------------------
# PopUp
--------------------------------------------------------------*/
/*rtl:begin:ignore*/
.lg-outer {
	@media (min-width: 1200px) {
		&:not(.lg-fullscreen-on) .lg-inner {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.lg-img-wrap {
		max-height: calc(100% - 90px);
	}

	.lg-actions .lg-icon {
		&.lg-prev,
		&.lg-next {
			padding: 0;
			margin-top: -23px;
		}
		&.lg-prev:after,
		&.lg-next:before {
			@include nucleo-mini-icon;
			font-size: 14px;
			width: 40px;
			height: 40px;
			border-radius: 0;
			line-height: 40px;
			text-align: center;
		}
		&.lg-prev {
			left: 0;
			&:after {
				content: '\e927';
			}
		}
		&.lg-next {
			right: 0;
			&:before {
				content: '\e928';
			}
		}
	}

	&.lg-fullscreen-on {
		.lg-thumb-outer {
			padding: 0;
		}
	}
	.lg-thumb-outer {
		@media (min-width: 1200px) {
			padding: 10px 0;
			box-sizing: content-box;
		}
		.lg-thumb {
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			height: auto;
			margin: 0;

			.lg-thumb-item {
				height: 100%;

				img {
					height: 100%;
					object-fit: cover;
					opacity: 1;
					transition: .4s all ease;
				}
				.ie & {
					font-family: 'object-fit: cover';
				}
				&:before,
				&:after {
					display: none;
				}

				&:hover,
				&.active {
					img {
						opacity: .2;
					}
				}
			}
		}
	}

	.lg-toolbar {
		padding-top: 20px;
		padding-bottom: 70px;

		.lg-icon {
			width: auto;
			height: auto;
			margin: 0 8px;

			&.lg-close {
				margin-right: 20px;
			}
		}
	}

	.lg-progress-bar {
		z-index: 1083;
	}

	.lg-toolbar,
	.lg-thumb-outer {
		.lg-icon {
			display: flex;
			align-items: center;
		}
		.lg-icon:after {
			transition: .4s all ease;
		}
		.lg-icon:after {
			font-size: 14px;
		}
	}

	.lg-icon.lg-toogle-thumb {
		&:before {
			display: none;
		}
	}

	.lg-icon {
		@include nucleo-mini-icon;
		&.lg-close:after {
			content: '\ea18';
		}
		&.lg-autoplay-button:after {
			content: '\e955';
		}
		&.lg-fullscreen:after {
			content: '\e9be';
		}
		&.lg-toogle-thumb:after {
			content: '\e946';
		}
		&.lg-download:after {
			content: '\e95d';
		}
	}

	&.lg-show-autoplay {
		.lg-icon.lg-autoplay-button:after {
			content: '\ec0e';
		}
	}

	&.lg-fullscreen-on {
		.lg-icon.lg-fullscreen:after {
			content: '\e9bf';
		}

		.lg-toolbar {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, .4) 35%, rgba(0, 0, 0, .15) 70%, rgba(0, 0, 0, 0) 100%);
		}
	}

	&.lg-thumb-open {
		.lg-icon.lg-toogle-thumb:after {
			content: '\e943';
		}
	}

	.lg-toolbar,
	.lg-thumb-outer {
		.lg-icon,
		.lg-icon:hover {
			background-color: transparent;
		}
	}

}
.lg-outer .lg, .lg-outer .lg-thumb.group {
	margin: 0 auto;
	height: 100%;
}

.page, .single-tm_pg_album, .single-tm_pg_set {
	.lg,
	.lg-thumb.group,
	.lg-outer,
	.lg-outer .lg-thumb-outer,
	.lg-outer.lg-fullscreen-on .lg-progress-bar .lg-progress {
		background-color: transparent;
	}
}
/*rtl:end:ignore*/

/*item icon in/out animation*/
@keyframes animationInFrames{
	0% {
		transform:  rotate(0deg) ;
	}
	20% {
		transform:  rotate(-15deg) ;
	}
	40% {
		transform:  rotate(10deg) ;
	}
	60% {
		transform:  rotate(-5deg) ;
	}
	80% {
		transform:  rotate(5deg) ;
	}
	100% {
		transform:  rotate(0deg) ;
	}
}

@keyframes animationOutFrames{
	0% {
		transform:  rotate(0deg) ;
	}
	20% {
		transform:  rotate(15deg) ;
	}
	40% {
		transform:  rotate(-10deg) ;
	}
	60% {
		transform:  rotate(5deg) ;
	}
	80% {
		transform:  rotate(-5deg) ;
	}
	100% {
		transform:  rotate(0deg) ;
	}
}


.tm_pg_frontend_preloader{
	position: absolute;
}