h1 {
	margin: 0 0 19px;
}

h2 {
	margin: 0 0 12px;
}
h3 {
	margin: 0 0 18px;
}

h4 {
	margin: 0 0 16px;
}

h5 {
	margin: 0 0 20px;
}

h6 {
	margin: 0 0 11px;
}

h1, h2, h3, h4, h5, h6 {
	&:last-child {
		margin-bottom: 0;
	}

	p + & {
		margin-top: 21px;
	}

	&.title-decoration {
		@include title-line;

		&__top {
			@include title-line-top;
		}
		&__big {
			@include title-line-big;

			&.title-decoration__top {
				@include title-line-big-top;
			}
		}
	}
}

h6 {
	p + & {
		margin-top: 27px;
	}
}