/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Woocommerce Part
--------------------------------------------------------------*/
@import "../sass/variables-site/variables-site";
@import "../sass/mixins/mixins-master";
@import "../sass/grid/variables";
@import "../sass/grid/breakpoints";
@import "../sass/grid/mixins";
/*--------------------------------------------------------------
# Woocommerce Part
--------------------------------------------------------------*/
@import "wootheme/woocommerce-theme";

/*--------------------------------------------------------------
# Woocommerce Rating
--------------------------------------------------------------*/
.woocommerce .product .star-rating,
.woocommerce .star-rating,
.woocommerce .stars {
	width: 8em;
	height: 14px;
	
	&::before,
	span::before {
		content: '\ea85\ea85\ea85\ea85\ea85';
		letter-spacing: 5.5px;
		@include nucleo-mini-icon;
		line-height: 1.2;
	}
}

/*--------------------------------------------------------------
# Quick View
--------------------------------------------------------------*/
.products .product {
	.block_product_thumbnail {
		border-radius: $border__radius;
		@include media-breakpoint-down(xs) {
			display: block;
		}
		a {
			display: block;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: $border__radius;
				opacity: 0;
				@include transition(.3s ease all);
				z-index: 1;
			}
		}
		.tm-quick-view {
			position: absolute;
			top: 30%;
			left: 50%;
			@include translate(-50%, -50%);
			width: auto;
			visibility: hidden;
			opacity: 0;
			@include transition(.3s ease all);
			z-index: 2;
			a {
				padding: 14px 24px 12px;
				font-size: 12px;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
				border: 1px solid;
				border-radius: $border__radius;
			}
		}
	}
	&.product-list {
		.block_product_thumbnail:hover {
			a::before {
				opacity: 1;
			}
			.tm-quick-view {
				top: 50%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&:not(.product-list) {
		&:hover {
			.block_product_thumbnail a::before {
				opacity: 1;
			}
			.tm-quick-view {
				top: 50%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

#main button.tm-wc-ajax-load-more-button.loading {
	&::after {
		@include nucleo-mini-icon;
		content: '\e92d';
		top: 37%;
		right: 10px;
		@include translate(0, -50%);
	}
}

/*--------------------------------------------------------------
# Quick View Popup
--------------------------------------------------------------*/
.tm-quick-view-popup {
	.quick-view-buttons {
		position: relative;
		border: none;
		opacity: .65;
		top: 0;
		padding: 0;
		width: 90px;
		height: 110px;
		&:focus {
			outline: none;
		}
		&::before,
		&::after {
			content: '';
			border: none;
			width: 50px;
			height: 1px;
			margin: 0;
			position: absolute;
			top: 50%;
			transition: .3s;
			background-color: rgb(185, 184, 191);
		}
		
		&.quick-view-prev {
			&::before,
			&::after {
				margin-left: 25px;
				left: 20px;
				transform-origin: 0 center;
			}
			&::before {
				margin-left: 25px;
				transform: rotate(-45deg);
			}
			&::after {
				transform: rotate(45deg);
			}
		}
		&.quick-view-next {
			&::before,
			&::after {
				right: 20px;
				left: auto;
				transform-origin: 100% center;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}

/*--------------------------------------------------------------
# Single Product
--------------------------------------------------------------*/

.woocommerce.single-product {
	
	.wp-social-login-provider-list {
		padding-left: 0;
		
		a {
			margin-right: 10px;
		}
	}
	
	div.product div.woocommerce-tabs {
		padding-top: 32px;
	}
	div.woocommerce-tabs {
		.woocommerce-Tabs-panel--additional_information {
			table.shop_attributes {
				tbody {
					tr {
						th {
							width: auto;
							border-right: 1px solid $color__background-hr;
							@include media-breakpoint-up(sm) {
								width: 260px;
							}
						}
						th, td {
							padding: 5px 15px 5px 20px;
						}
						td {
							font-style: normal;
							a {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.woocommerce-Tabs-panel {
			#review_form #respond p {
				label {
					font-weight: 600;
					font-size: 16px;
					text-transform: capitalize;
				}
			}
			#commentform {
				grid-column-gap: 0;
				grid-template-columns: repeat(2, 1fr);
				
				p {
					&.form-submit #submit {
						border-radius: 0;
						font-size: 14px;
						letter-spacing: 1px;
						font-weight: 600;
					}
					&.comment-form-email {
						@include media-breakpoint-down(lg) {
							margin-left: 0 !important;
						}
					}
					&.comment-form-author {
						@include media-breakpoint-down(lg) {
							margin-right: 0 !important;
						}
					}
					textarea, input {
						padding-left: 25px;
					}
					i {
						display: none;
					}
				}
			}
			
			.comment-form-rating {
				.stars {
					&::before {
						display: none;
					}
					span {
						margin-left: 8px;
						line-height: 1.2;
						a {
							&:not(.active)::before {
								color: $woo_yellow;
							}
							&.active::before {
								color: $woo_yellow;
							}
							&.active ~ a::before {
								color: $woo_grey;
							}
							&::before {
								content: '\ea85';
								letter-spacing: 5.5px;
								@include nucleo-mini-icon;
								line-height: 1.2;
							}
							& + a {
								margin-left: 3px;
							}
						}
						&::before {
							display: none;
						}
					}
				}
			}
		}
		.wc-tab ul > li::before {
			@include nucleo-mini-icon;
		}
		.wc-tab.panel {
			padding-top: 35px;
			margin-bottom: 2em;
			h2 {
				font-size: 22px;
				margin-bottom: 15px;
			}
		}
		ul.tabs {
			overflow: visible;
			padding: 0 4px;
			&::before {
				border: none;
			}
			li {
				margin: 0;
				padding: 0;
				position: relative;
				border: 1px solid transparent;
				
				a {
					padding: 8px 25px;
				}
				
				+ li {
					margin-left: 10px;
					@include media-breakpoint-down(xs) {
						margin-left: 0;
					}
				}
				@include media-breakpoint-down(sm) {
					padding: 5px;
				}
				@include media-breakpoint-down(xs) {
					width: 100%;
					text-align: center;
					&::before {
						display: none;
					}
				}
				&::before {
					border-width: 0;
					box-shadow: none;
				}
				a {
					font-size: 14px;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: .6px;
				}
				&::before {
					width: 0;
				}
				&.active {
					border-bottom: none;
					&::before {
						content: '';
						position: absolute;
						bottom: -15px;
						left: 0;
						right: 0;
						height: 30px;
						background: #fff;
						width: 98%;
						border: none;
					}
				}
			}
		}
	}
	.woocommerce-Reviews {
		.woocommerce-Reviews-title {
			margin-bottom: 10px;
		}
		ol.commentlist {
			li.comment {
				.comment_container {
					width: 100%;
					img {
						margin-top: 10px;
					}
					.star-rating {
						left: auto;
						right: 0;
						top: 5px;
						@include media-breakpoint-down(xs) {
							top: 0;
						}
					}
				}
				.description {
					margin-top: 5px;
					p {
						font-size: 15px;
					}
				}
				.comment-text .meta {
					.woocommerce-review__author {
						font-size: 15px !important;
						font-weight: 700;
					}
					.woocommerce-review__dash {
						display: none;
					}
					.woocommerce-review__published-date {
						display: block;
						font-size: 13px;
						text-transform: uppercase;
					}
				}
				.children {
					margin-left: 0 !important;
				}
			}
		}
	}
	.single_product_wrapper {
		.images {
			div.enlarge {
				top: 10px;
				right: 10px;
				border: 1px solid $color__background-hr;
				border-radius: $border__radius;
				height: 45px;
				width: 45px;
				@include transition(.3s ease all);
				
				i {
					width: 100%;
					text-align: center;
					
					&::before {
						content: '\ea64';
						@include nucleo-mini-icon;
						@include font-size(1);
						line-height: 45px;
					}
				}
			}
		}
		.entry-summary {
			span.featured,
			span.onsale,
			span.new,
			span.onsale {
				left: auto;
				top: auto;
				width: auto;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				align-self: flex-start;
			}
			.product_title {
				margin-bottom: 2px;
			}
			.woocommerce-product-rating {
				.woocommerce-review-link {
					margin-top: 6px;
					margin-left: 0;
					text-transform: uppercase;
					font-size: 13px;
				}
			}
			.variations_form {
				margin-bottom: 23px;
			}
			.wishlist_compare_button_block {
				button.button.btn {
					margin-left: 0;
				}
			}
			
			.price {
				margin-bottom: 0;
			}
			* + .product_meta {
				padding-top: 0;
				
				&__footer {
					padding-top: 0;
				}
			}
			.product_meta {
				font-size: 14px;
				font-weight: 700;
				
				span {
					> * {
						font-weight: 400;
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Wishlist Page
--------------------------------------------------------------*/
.woocommerce.tm-woowishlist {
	padding: 0;
	.tm-woowishlist-item {
		align-items: center;
		> * {
			@include media-breakpoint-down(xs) {
				width: 100%;
				text-align: center;
				margin-right: 0;
			}
		}
		.wrap_elements {
			@include media-breakpoint-down(xs) {
				align-items: center;
			}
		}
		@include media-breakpoint-down(xs) {
			flex-wrap: wrap;
		}
		.tm-woocomerce-list__product-title a {
			font-size: 15px;
			font-weight: 400;
		}
		.button {
			border-radius: 0;
			&::before {
				position: relative;
				top: 2px;
			}
		}
		.stock {
			font-size: 14px;
			font-weight: 400;
			border-radius: 0;
			padding: 2px 5px;
			text-transform: uppercase;
			letter-spacing: .6px;
		}
		.tm-woowishlist-remove {
			position: relative;
			top: auto;
			right: auto;
			padding-right: 40px;
			@include media-breakpoint-down(xs) {
				padding-right: 0;
				padding-bottom: 15px;
			}
			&::before {
				@include nucleo-mini-icon;
				content: '\ea5d';
				@include font-size(1);
			}
		}
	}
}

/*--------------------------------------------------------------
# Checkout Page
--------------------------------------------------------------*/
.woocommerce-checkout .woocommerce {
	.woocommerce-error {
		margin-bottom: 20px;
		background: lighten($color__not-valid, 35%);
		border-radius: $border__radius;
		&::before {
			@include nucleo-mini-icon;
			content: '\ea68';
		}
		li {
			color: $color__not-valid;
		}
	}
	.woocommerce-info {
		text-transform: uppercase;
		font-size: 28px;
		letter-spacing: 0.4px;
		margin-bottom: 14px !important;
		label {
			font-size: 16px;
		}
	}
	.checkout.woocommerce-checkout {
		label {
			padding-left: 0;
			font-size: 16px;
		}
		h3 {
			font-size: 28px;
			letter-spacing: 0.4px;
			text-transform: uppercase;
		}
	}
	.woocommerce-form-login {
		label {
			padding-left: 0;
		}
		> p:first-child {
			margin-bottom: 8px;
		}
		.form-row {
			&.form-row-last {
				margin-bottom: 20px;
			}
			.button {
				border-radius: $border__radius;
				padding: 12px 30px;
			}
		}
		.lost_password {
			padding-top: 9px;
			margin-bottom: 10px;
			a {
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 12px;
				letter-spacing: 0.6px;
			}
		}
	}
	form.place-order {
		.button {
			font-size: 12px;
			border-radius: $border__radius;
			padding: 13px 35px;
		}
	}
	.checkout_coupon {
		padding-bottom: 0;
		.form-row.form-row-first {
			position: relative;
		}
	}
	table.woocommerce-checkout-review-order-table.shop_table {
		
		.shipping {
			
			th {
				display: block;
				text-align: right;
				font-weight: 700;
				font-size: 22px;
			}
			
			td{
				text-align: right;
				
				ul{
					display: inline-block;
				}
			}
		}
		
		thead tr th {
			padding: 10px 0;
			font-weight: 700;
			@include font-size(1);
			&.product-total {
				text-align: left;
			}
		}
		tbody tr td {
			&.product-name,
			&.product-total {
				padding: 15px 0;
			}
			&.product-total {
				width: 185px;
				text-align: left;
				padding-left: 20px;
				.amount {
					font-size: 26px;
					font-weight: 700;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Compare Page
--------------------------------------------------------------*/
.woocommerce.tm-woocompare-list {
	.tm-woocompare-wrapper {
		.tablesaw-advance {
			.tablesaw-nav-btn {
				&::after {
					@include nucleo-mini-icon;
					@include font-size(1);
				}
				
			}
		}
		table.tm-woocompare-table {
			tr {
				border-right: none !important;
				td:nth-last-child(2),
				th:nth-last-child(2) {
					border-right: none !important;
				}
				th {
					.tm-woocompare-remove {
						right: auto;
						&::before {
							content: '\ea5d';
							@include nucleo-mini-icon;
							@include font-size(1);
						}
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Cart Page
--------------------------------------------------------------*/
.woocommerce-cart {
	.woocommerce .cart_totals table.shop_table.shop_table_responsive tbody tr td {
		padding: 0;
	}
	.woocommerce {
		.cart-collaterals {
			padding-bottom: 0;
			padding-top: 4px;
		}
		div.cart_totals {
			table.shop_table.shop_table_responsive {
				margin-top: 0;
			}
			.wc-proceed-to-checkout {
				padding-bottom: 0;
				
				.checkout-button {
					font-size: 12px;
					font-weight: 700;
					border-radius: 0;
					position: relative;
					padding: 13px 29px 12px;
					margin-bottom: 0;
					
					&::before {
						content: '\ea20';
						@include nucleo-mini-icon;
						position: relative;
						left: -5px;
						top: 2px;
					}
				}
			}
		}
		table.shop_table.shop_table_responsive {
			tbody {
				tr {
					&.shipping {
						th {
							padding-right: 0;
							display: block !important;
							text-align: right !important;
							font-weight: 700;
						}
					}
					text-align: right;
					&.cart-subtotal,
					&.shipping,
					&.order-total {
						margin: 0;
						padding: 0;
						@include media-breakpoint-down(sm) {
							border-bottom: none;
						}
						th,
						td {
							width: auto;
							display: inline-block;
							@include media-breakpoint-down(sm) {
								width: 100%;
								display: block;
							}
						}
						th {
							text-align: left;
						}
						td {
							text-align: right;
							padding: 5px 0;
							@include media-breakpoint-down(sm) {
								border-left: none;
							}
						}
					}
					&.shipping {
						ul#shipping_method {
							li {
								text-align: right;
							}
						}
						.woocommerce-shipping-calculator {
							padding-left: 5px;
						}
					}
				}
			}
			@include media-breakpoint-down(sm) {
				border: none;
			}
			tr.shipping {
				
				#shipping_method {
					li {
						padding-left: 0;
						&::before {
							display: none;
						}
					}
				}
			}
			tr.cart-subtotal {
				th,
				.woocommerce-Price-amount {
					font-size: 22px;
				}
			}
			tr.order-total {
				th,
				.woocommerce-Price-amount {
					font-size: 28px;
					font-weight: 700;
				}
			}
			
			tr.cart-subtotal,
			tr.order-total {
				padding: 0;
			}
			
			tr.order-total {
				padding-top: 5px;
			}
			
			thead {
				tr th {
					padding: 9px 0;
					font-weight: 700;
					@include font-size(1);
					
					&:first-child {
						text-align: left;
					}
				}
			}
			tbody {
				tr.cart_item {
					@include media-breakpoint-down(sm) {
						padding-bottom: 20px;
					}
				}
				tr td {
					padding: 20px;
					text-align: left;
					
					@include media-breakpoint-down(sm) {
						padding: 10px;
						border-right: none;
					}
					&.product-thumbnail {
						width: 100px;
						max-width: 100px;
					}
					&.product-name {
						padding-left: 0;
						
						@include media-breakpoint-down(sm) {
							padding-left: 10px;
						}
					}
					.woocommerce-Price-amount {
						font-size: 16px;
					}
					.remove {
						top: 47%;
						
						&::before {
							content: '\ea5d';
							@include nucleo-mini-icon;
							@include font-size(1);
						}
						@include media-breakpoint-down(sm) {
							left: 50%;
							transform: translateX(-50%);
						}
					}
					&.actions {
						padding: 20px 0;
						position: relative;
						.comment-form-url {
							margin-bottom: 0;
							@include media-breakpoint-down(sm) {
								width: 100%;
							}
						}
						label {
							display: inline-block !important;
							font-size: 16px;
							padding-left: 0;
							padding-right: 10px;
						}
						
						i {
							pointer-events: none;
							&.shopping_tag {
								left: auto;
								right: 140px;
								top: 12px;
								z-index: 22;
								@include media-breakpoint-down(xs) {
									display: none;
								}
								&::before {
									content: '\ebc1';
									font-size: 14px;
									@include transition(.3s ease all);
								}
							}
						}
						
						.input-text#coupon_code {
							width: auto;
							padding: 12px 15px 12px 15px;
							float: none;
							font-size: 15px;
							border: none;
							margin-right: 0;
							margin-bottom: 0;
							@include media-breakpoint-up(md) {
								width: 325px;
							}
							@include media-breakpoint-down(xs) {
								width: 70%;
							}
						}
						.button,
						.header-btn {
							font-size: 14px;
							text-transform: uppercase;
							padding: 18px 28px;
						}
						
						.input-button-with-icon {
							display: inline-block;
						}
						
						.button {
							margin-left: -4px;
							letter-spacing: .6px;
							padding: 15px 29px 13px 50px;
							width: auto !important;
							font-size: 12px;
							font-weight: 700;
							line-height: 1;
							max-width: none;
							@include media-breakpoint-down(xs) {
								padding: 18px 28px;
								margin-top: 5px;
							}
						}
						.input-button-with-icon {
							@include media-breakpoint-down(sm) {
								display: inline-block;
								margin-top: 10px;
							}
							.btn {
								padding-left: 55px;
							}
						}
						.header-btn {
							position: relative;
						}
						.shopping_tag {
							position: absolute;
							left: 13px;
							
							top: 18px;
							&::before {
								content: '\ebc8';
								@include nucleo-mini-icon;
							}
						}
					}
				}
			}
		}
	}
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 37px;
}
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-price {
	padding: 14px 22px 13px 22px;
}
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-price .tm-wc-ajax-filters-dismiss {
	line-height: 19px;
}