/* #Button Appearance Styles */
.btn,
.btn-link,
.link,
a[href*="?media_dl="] {
	font-weight: $main_menu_font_weight;
	font-size: $main_menu_font_size{px};
	font-family: @font_family( $h1_font_family );
}

.btn.btn-accent-1,
.btn.btn-primary,
.btn-downloader,
a[href*="?media_dl="] {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-1:hover,
.btn.btn-primary:hover,
.btn-downloader:hover,
a[href*="?media_dl="]:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-1:active,
.btn.btn-primary:active {
	background-color: @darken($regular_accent_color_2, 10);
}

.btn.btn-accent-2 {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-2:after {
	color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover:after {
	color: $invert_accent_color_1;
}
.btn.btn-accent-2:active {
	background-color: @darken($regular_accent_color_2, 10);
}

.btn.btn-accent-3 {
	color: $regular_link_color;
	background-color: $grey_color_3;
}
.btn.btn-accent-3:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-3:active {
	background-color: @darken($regular_accent_color_1, 10);
}

.btn.btn-invert {
	color: $regular_link_color;
	background-color: $invert_accent_color_1;
}
.btn.btn-invert:hover {
	color: $invert_accent_color_1;
	background-color: $regular_link_hover_color;
}
.btn.btn-invert:active {
	background-color: @darken($regular_accent_color_1, 10);
}

.btn-downloader.btn-downloader-invert,
a[href*="?media_dl="].btn-downloader-invert {
	color: $regular_link_color;
	background-color: $invert_accent_color_1;
}
.btn-downloader.btn-downloader-invert:hover,
a[href*="?media_dl="].btn-downloader-invert:hover {
	color: $invert_link_hover_color;
	background-color: $regular_accent_color_1;
}

.rev-btn,
.rev-btn:visited {
	font-family: $main_menu_font_family;
}