/* #Elements */
blockquote {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	color: $regular_h5_color;

	background-color: $grey_color_1;
}

.invert blockquote {
	color: $invert_h4_color;
}

blockquote:before {
	color: $regular_link_color;
}

blockquote cite {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
}
blockquote cite em {
	font-weight: $body_font_weight;
}

blockquote cite,
blockquote cite a {
	color: $regular_link_color;
}

code {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
	font-family: @font_family( $body_font_family );
}

.single-post .post > .entry-content > p:first-of-type:first-letter,
.dropcaps {
	background-color: $regular_accent_color_1;
	color: $invert_accent_color_1;
	font-family: @font_family( $h1_font_family );
}

hr {
	background-color: $grey_color_3;
}

/* List */
.hentry ol >li:before,
.hentry ul:not([class]) > li:before,
.comment-content ol >li:before,
.comment-content ul:not([class]) > li:before {
	color: $regular_link_color;
}

.hentry ul:not([class]) > li:before,
.comment-content ul:not([class]) > li:before {
	background-color: $regular_link_color;
}
.hentry ul:not([class]) > li > ul > li:before,
.comment-content ul:not([class]) > li > ul > li:before {
	background-color: $regular_text_color;
}
.hentry ul:not([class]) > li > ul > li > ul > li:before,
.comment-content ul:not([class]) > li> li > ul  > ul > li:before {
	background-color: $grey_color_2;
}
.hentry ol > li > ol > li:before,
.comment-content ol >li > ol > li:before {
	color: $regular_text_color;
}
.hentry ol > li > ol > li > ol > li:before,
.comment-content ol > li > ol > li > ol > li:before{
	color: $grey_color_2;
}


dl {
	font-family: @font_family( $h1_font_family );
}

/* Page preloader */
.banter-loader__box:nth-child(even):before {
	background: $regular_h2_color;
}
.banter-loader__box:nth-child(odd):before {
	background: $regular_accent_color_1;
}


/* #ToTop button */
#toTop {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}

#toTop span {
	font-family: @font_family( $h6_font_family );
	font-weight: $main_menu_font_weight;
}

#toTop:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
