/* #Footer */
.site-footer {
	background-color: $footer_bg;
}
.footer-area-wrap {
	background-color: $footer_widgets_bg;
}

/* ##Invert Footer Style*/
.invert.footer-area-wrap,
.invert.footer-container {
	color: $invert_text_color;
}
.footer-copyright {
	color: $regular_accent_color_3;
	font-size: @font_size($main_menu_font_size, multiple, ceil, 0.9)px;
}
.footer-copyright a {
	color: $regular_link_color;
}
.footer-copyright a:hover {
	color: $regular_link_hover_color;
}

.footer-area::before {
	background-color: $grey_color_3;
}