/* #Form buttons */
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'] {
	font-weight: $main_menu_font_weight;
	font-size: $main_menu_font_size{px};
	font-family: @font_family( $h1_font_family );
}

/* #Fields */
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea,
.wpcf7 .wpcf7-form-control-wrap[class*="file-"] {
	background-color: $grey_color_1;
	color: $regular_accent_color_3;
	box-shadow: inset 0 0 0 1px $grey_color_3;
}

.header-search .cherry-search-wrapper input[type='search'] {
	color: $regular_text_color;
}
@media (max-width: 767px) {
	.header-search .cherry-search-wrapper input[type='search'] {
		color: $invert_text_color;
	}
}

label.screen-reader-text {
	top: auto;
}

.error404 input[type='search'] {
	background-color: $invert_accent_color_1;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
select:focus,
textarea:focus {
	border-color: @darken($grey_color_3, 5);
	box-shadow: inset 0 0 0 1px @darken($grey_color_3, 5);
}

select {
	color: $regular_text_color;
}
/* #Search Form */
.search-form__field {
	color: $regular_text_color;
}

.search-form__toggle,
.site-header .search-form__input-wrap::before {
	color: $regular_accent_color_3;
}
.site-header .search-form .search-form__submit,
.site-header .invert .search-form .search-form__submit:hover {
	color: $regular_link_color;
}
@media (min-width: 600px) {
	.site-header .search-form .search-form__submit:hover,
	.site-header.style-5 .search-form .search-form__submit:hover {
		color: $invert_accent_color_1;
	}
}
.search-form__close {
	color: $grey_color_1;
}
.invert .search-form__toggle:not(:hover),
.invert + .header-search .search-form__close:not(:hover),
.site-header .invert .search-form__input-wrap::before,
.site-header .invert .search-form .search-form__submit:not(:hover) {
	color: $invert_accent_color_1;
}
.search-form__toggle:hover,
.search-form__close:hover {
	color: $regular_accent_color_1;
}
.invert .search-form__toggle:hover,
.invert + .header-search .search-form__close:hover {
	color: $regular_accent_color_1;
}
.search-form__close:hover,
.search-form__toggle:hover {
	color: $regular_accent_color_2;
}
.transparent .invert + .header-search .search-form__close:hover {
	color: $invert_link_color;
}
.widget_search .search-form__submit,
.widget_search .search-form__submit.btn {
	color: $regular_link_hover_color;
}
.widget_search .search-form__submit:hover,
.widget_search .search-form__submit.btn:hover {
	color: $regular_link_color;
}
.invert + .header-search .search-form__field {
	color: $invert_link_hover_color;
}

/* #Comment, Contact, Password Forms */
[class^="comment-form-"] i {
	color: $grey_color_2;
}

.wpcf7-submit,
.post-password-form label + input {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}

.wpcf7-submit.btn-accent-2 {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}

.wpcf7-submit:hover,
.post-password-form label + input:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}

.wpcf7-submit.btn-accent-2:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}

.wpcf7-submit:active,
.post-password-form label + input:active {
	background-color: @darken($regular_accent_color_2, 10);
}

.wpcf7-submit.btn-accent-2:active {
	background-color: @darken($regular_accent_color_1, 10);
}

.input-with-icon > i {
	color: $regular_accent_color_1;
}

.wpcf7 .wpcf7-not-valid:focus::-webkit-input-placeholder { color: $regular_text_color; }
.wpcf7 .wpcf7-not-valid:focus::-moz-placeholder          { color: $regular_text_color; }
.wpcf7 .wpcf7-not-valid:focus:-moz-placeholder           { color: $regular_text_color; }
.wpcf7 .wpcf7-not-valid:focus:-ms-input-placeholder      { color: $regular_text_color; }
.wpcf7 input[type='date'].wpcf7-not-valid:focus          { color: $regular_text_color; }