/* #Header */
.header-container {
	background-color: $header_bg_color;
	background-repeat: $header_bg_repeat;
	background-attachment: $header_bg_attachment;
	background-size: $header_bg_size;
	@background_url( $header_bg_image );
	@background_position($header_bg_position);
}

.site-header.style-4 .header-nav-wrapper:before {
	background-color: $regular_accent_color_2;
}

.site-header.style-4 .header-components .navbar-header-cart:before {
	background-color: @lighten($regular_accent_color_2, 13);
}

.site-header.style-1 .header-container_wrap > :not(:first-child),
.site-header.style-2 .header-nav-wrapper,
.site-header.style-3 .header-container__flex-wrap,
.site-header.style-4 .header-components__contact-button,
.site-header.style-5 .header-components__contact-button {
	border-color: $grey_color_2;
}

.site-header.style-1.transparent .header-container_wrap > :not(:first-child),
.site-header.style-2.transparent .header-nav-wrapper,
.site-header.style-3.transparent .header-container__flex-wrap,
.site-header.style-5.transparent .header-components__contact-button {
	border-color: @alpha($invert_accent_color_1, 20);
}

/* ##Logo */
.site-logo--text {
	font-style: $header_logo_font_style;
	font-weight: $header_logo_font_weight;
	font-size: $header_logo_font_size{px};
	font-family: @font_family( $header_logo_font_family );
}
.site-logo__link,
.site-logo__link:hover {
	color: $regular_accent_color_3;
}
.invert .site-description {
	color: $invert_link_hover_color;
}

.header-btn.btn-accent-2 i {
	color: $regular_accent_color_2;
}
.header-btn.btn-accent-2:hover i {
	color: $invert_accent_color_1;
}

/* ##Top Panel */
.top-panel {
	background-color: $top_panel_bg;
}

/* ##Invert Header Style*/
.invert.top-panel,
.invert.header-container {
	color: $regular_text_color;
}

