/* #Menus */
.footer-menu {
	font-family: @font_family( $h1_font_family );
	font-size: @font_size($main_menu_font_size, multiple, ceil, 0.9)px;
}
@media (min-width: 600px) {
	.main-navigation .jet-menu>.jet-menu-item>a  {
		font-style: $main_menu_font_style;
		font-weight: $main_menu_font_weight;
		font-size: $main_menu_font_size{px};
		line-height: $main_menu_line_height;
		font-family: @font_family( $main_menu_font_family );
		letter-spacing: $main_menu_letter_spacing{em};
		text-transform: uppercase;
	}
}

.main-navigation .menu > li > a {
	font-style: $main_menu_font_style;
	font-weight: $main_menu_font_weight;
	font-size: $main_menu_font_size{px};
	line-height: $main_menu_line_height;
	font-family: @font_family( $main_menu_font_family );
	letter-spacing: $main_menu_letter_spacing{em};
	text-transform: uppercase;
}

/* #Main Menu */
.main-navigation .menu > li > a {
	color: $invert_link_color;
}
.main-navigation .menu > li > a:hover,
.main-navigation .menu > li.menu-hover > a,
.main-navigation .menu > li.tm-mega-menu-hover > a,
.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a,
.main-navigation a.set-menu_link:hover {
	color: $regular_accent_color_1;
}
.main-navigation .menu .menu-item-has-children > a:after {
	color: $regular_text_color;
}

.invert .main-navigation .menu > li > a,
.invert .main-navigation .menu > .menu-item-has-children > a:after {
	color: $invert_link_hover_color;
}
@media (min-width: 600px) {
	.invert .main-navigation .menu > li > a:hover,
	.invert .main-navigation .menu > li.menu-hover > a,
	.invert .main-navigation .menu > li.tm-mega-menu-hover > a,
	.invert .main-navigation .menu > li.current_page_item > a,
	.invert .main-navigation .menu > li.current_page_ancestor > a,
	.invert .main-navigation .menu > li.current-menu-item > a,
	.invert .main-navigation .menu > li.current-menu-ancestor > a {
		color: $invert_link_color;
	}

	.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li > a:hover,
	.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.menu-hover > a,
	.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.tm-mega-menu-hover > a,
	.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current_page_item > a,
	.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current_page_ancestor > a,
	.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current-menu-item > a,
	.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current-menu-ancestor > a {
		color: $invert_link_hover_color;
		background-color: $regular_accent_color_2;
	}

	.main-navigation.main-menu-style-2 .menu > li > a:hover,
	.main-navigation.main-menu-style-2 .menu > li.menu-hover > a,
	.main-navigation.main-menu-style-2 .menu > li.tm-mega-menu-hover > a,
	.main-navigation.main-menu-style-2 .menu > li.current_page_item > a,
	.main-navigation.main-menu-style-2 .menu > li.current_page_ancestor > a,
	.main-navigation.main-menu-style-2 .menu > li.current-menu-item > a,
	.main-navigation.main-menu-style-2 .menu > li.current-menu-ancestor > a {
		color: $invert_link_hover_color;
		background-color: $regular_accent_color_2;
	}
}
.main-navigation .sub-menu,
.site-header .main-navigation .menu .sub-menu {
	background-color: $regular_accent_color_2;
}
.main-navigation .sub-menu a {
	color: $regular_text_color;
}
.invert .main-navigation .sub-menu a {
	color: $regular_accent_color_3;
}
.main-navigation .sub-menu a:hover,
.main-navigation .sub-menu li.menu-hover > a,
.main-navigation .sub-menu li.tm-mega-menu-hover > a,
.main-navigation .sub-menu li.current_page_item > a,
.main-navigation .sub-menu li.current_page_ancestor > a,
.main-navigation .sub-menu li.current-menu-item > a,
.main-navigation .sub-menu li.current-menu-ancestor > a {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.main-navigation .sub-menu li:hover.menu-item-has-children > a:after, 
.main-navigation .sub-menu li.menu-hover.menu-item-has-children > a:after,
.main-navigation .sub-menu li.current_page_item > a:after {
	color: $invert_accent_color_1;
}

@media (min-width: 600px) {
	.invert .main-navigation .sub-menu, .invert .main-navigation ul.jet-sub-menu {
		background-color: $regular_accent_color_2;
	}
}

/* #Vertical-Mobile menu */
#site-navigation.main-navigation.vertical-menu ul.menu li a,
#site-navigation.main-navigation.mobile-menu ul.menu li a,
#site-navigation.main-navigation.vertical-menu .navigation-button i,
#site-navigation.main-navigation.mobile-menu ul.menu .sub-menu li.current_page_item > a,
#site-navigation.main-navigation.mobile-menu ul.menu .sub-menu li.current-menu-item > a {
	color: $invert_accent_color_1;
}
#site-navigation.main-navigation.mobile-menu ul.menu li a:hover,
#site-navigation.main-navigation.mobile-menu ul.menu li.current_page_item > a,
#site-navigation.main-navigation.mobile-menu ul.menu li.current-menu-item > a,

#site-navigation.main-navigation.vertical-menu ul.menu li a:hover,
#site-navigation.main-navigation.vertical-menu ul.menu li.tm-mega-menu-hover > a,
#site-navigation.main-navigation.vertical-menu ul.menu li.current_page_item > a,
#site-navigation.main-navigation.vertical-menu ul.menu li.current-menu-item > a,

#site-navigation.main-navigation.vertical-menu ul.menu .menu-item-has-children a:after,
#site-navigation.main-navigation.mobile-menu ul.menu li a .sub-menu-toggle,
#site-navigation.main-navigation.vertical-menu .navigation-button .navigation-button__text,
#site-navigation.main-navigation.vertical-menu .navigation-button:hover i {
	color: $regular_accent_color_1;
	background: transparent;
}

/* ##Menu toggle */
.menu-toggle .menu-toggle-inner {
	background-color: $regular_accent_color_3;
}
.invert .menu-toggle:not(:hover) .menu-toggle-inner {
	background-color: $invert_accent_color_1;
}
.menu-toggle:hover .menu-toggle-inner {
	background-color: $regular_accent_color_1;
}

/* ##Menu-item desc */
.menu-item__desc {
	color: $regular_text_color;
}

/* #Footer Menu */
.footer-menu a {
	color: $regular_text_color;
}
.footer-menu a:hover,
.footer-menu li.current-menu-item a,
.footer-menu li.current_page_item a {
	color: $regular_accent_color_2;
}
.invert .footer-menu a {
	color: $invert_link_color;
}
.invert.first-row-regular .footer-menu a {
	color: $regular_link_hover_color;
}
.invert .footer-menu a:hover,
.invert .footer-menu li.current-menu-item a,
.invert .footer-menu li.current_page_item a {
	color: $regular_accent_color_1;
}
.invert.first-row-regular .footer-menu a:hover,
.invert.first-row-regular .footer-menu li.current-menu-item a,
.invert.first-row-regular .footer-menu li.current_page_item a {
	color: $regular_link_color;
}

/* #Top Menu */
.invert .top-panel__menu .menu-item a {
	color: $invert_link_color;
}

.invert .top-panel__menu .menu-item a:hover,
.invert .top-panel__menu .menu-item.current-menu-item a,
.invert .top-panel__menu .menu-item.current_page_item a {
	color: $invert_link_hover_color;
}