/* #Magnific Popup*/
.mfp-iframe-holder .mfp-close ,
.mfp-image-holder .mfp-close {
	color: @lighten($regular_text_color, 25%);
}

.mfp-iframe-holder .mfp-close:hover,
.mfp-image-holder .mfp-close:hover{
	color: $regular_accent_color_1;
}

.mfp-iframe-holder .mfp-arrow:before,
.mfp-iframe-holder .mfp-arrow:after,
.mfp-image-holder .mfp-arrow:before,
.mfp-image-holder .mfp-arrow:after{
	background-color: @lighten($regular_text_color, 25%);
}

.mfp-iframe-holder .mfp-arrow:hover:before,
.mfp-iframe-holder .mfp-arrow:hover:after,
.mfp-image-holder .mfp-arrow:hover:before,
.mfp-image-holder .mfp-arrow:hover:after{
	background-color: $regular_accent_color_1;
}

/* #Swiper navigation*/
.swiper-pagination-bullet {
	background-color: $grey_color_2;
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover{
	background-color: $regular_accent_color_2;
}

.swiper-button-next,
.swiper-button-prev {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.posts-list:not(.posts-list--default-modern) .swiper-button-prev, 
.single-post .post-gallery .swiper-button-prev, 
.posts-list:not(.posts-list--default-modern) .swiper-container.swiper-container-rtl .swiper-button-next, 
.single-post .post-gallery .swiper-container.swiper-container-rtl .swiper-button-next,
.posts-list:not(.posts-list--default-modern) .swiper-button-next, 
.single-post .post-gallery .swiper-button-next, 
.posts-list:not(.posts-list--default-modern) .swiper-container.swiper-container-rtl .swiper-button-prev, 
.single-post .post-gallery .swiper-container.swiper-container-rtl .swiper-button-prev {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-button-prev:not(.swiper-button-disabled):hover {
	color: $regular_accent_color_2;
	background-color: $invert_accent_color_1;
}

/*Contact block*/
.contact-block__icon {
	color: $grey_color_2;
}

.contact-block__label {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
	color: $regular_text_color;
}
.contact-block__text {
	font-weight: $main_menu_font_weight;
}
.invert .contact-block__label {
	color: $invert_accent_color_1;
}

.invert .contact-block__icon {
	color: $invert_accent_color_1;
}
.invert .contact-block__text,
.invert .contact-block__text a {
	color: @lighten($invert_text_color, 10);
}
.invert .contact-block__text a:hover {
	color: $invert_link_hover_color;
}
.contact-block.contact-block--header {
	font-family: @font_family( $h1_font_family );
}
.contact-block.contact-block--header,
.contact-block.contact-block--header a[href^="tel:"] {
	color: $regular_link_hover_color;
}
.contact-block.contact-block--header a[href^="tel:"]:hover {
	color: $regular_text_color;
}
.invert .contact-block.contact-block--header .contact-block__icon {
	color: $invert_link_color;
}
.invert .contact-block.contact-block--header,
.invert .contact-block.contact-block--header a[href^="tel:"],
.invert .contact-block.contact-block--header .contact-block__text,
.invert .contact-block.contact-block--header .contact-block__text a {
	color: $invert_link_hover_color;
}
.invert .contact-block.contact-block--header .contact-block__text a:hover,
.invert .contact-block.contact-block--header a[href^="tel:"]:hover {
	color: $invert_link_color;
}

.contact-block.contact-block--header .contact-block__item:not(:first-child):before {
	background-color: $grey_color_3;
}

/*Tables*/
.hentry table:not([class]) tbody tr:nth-child(odd) {
	background-color: $grey_color_1;
}
.hentry table:not([class]) tbody tr th {
	color: $regular_link_hover_color;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
}
.hentry table:not([class]) th + td,
.hentry table:not([class]) td + td,
.hentry table:not([class]) th + th,
.hentry table:not([class]) td + th {
	border-color: $grey_color_3;
}

/*Title decoration*/
.title-decoration::before {
	background: $regular_accent_color_1;
}
.title-decoration::after {
	background: $regular_accent_color_1;
}
.title-decoration__big::before {
	background: $regular_accent_color_1;
}
.title-decoration__big::after {
	background: $regular_accent_color_1;
}
.footer-area .title-decoration::after {
	background: $regular_accent_color_1;
}
.swiper-slide {
	width: 100%
}