/* #Post */
.hentry {
	border-color: $grey_color_3;
}
.posts-list__item-content,
.posts-list--search .posts-list__item {
	border-color: $grey_color_3;
}

/* #Sidebar */


/* #Sticky label */
.sticky__label {
	background-color: $regular_accent_color_2;
	color: $invert_accent_color_1;
}

.posts-list--default-fullwidth-image .posts-list__item:hover .sticky__label,
.posts-list--masonry .posts-list__item:hover .sticky__label,
.posts-list--grid .posts-list__item:hover .sticky__label,
.posts-list--vertical-justify .posts-list__item:hover .sticky__label {
	background-color: $regular_accent_color_2;
}

/* #Entry Meta */
.entry-meta,
.entry-meta-container,
.posted-by,
.cherry-trend-views,
.cherry-trend-rating,
.post__date,
.post__comments {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
}
.cherry-trend-rating {
	font-style: $body_font_style;
}

.post__cats {
	font-style: $main_menu_font_style;
	font-weight: $main_menu_font_weight;
	font-size: $main_menu_font_size{px};
	line-height: $main_menu_line_height;
	font-family: @font_family( $main_menu_font_family );
}

.post__date i, .post__comments i, .post__tags i,
.cherry-trend-views__count:before {
	color: $grey_color_2;
}

.post__date a{ color: $regular_text_color; }

.posted-by a { color: $regular_text_color; }
.posted-by a:hover { color: $regular_link_color; }

.invert .posted-by a { color: $invert_link_color; }

.invert .post__date a,
.invert .post__comments a{ color: $invert_text_color; }

.invert .posted-by a:hover,
.invert .post__date a:hover,
.invert .post__comments a:hover { color: $invert_link_hover_color; }


.post__cats a {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.post__tags a {
	color: $regular_link_color;
}
.post__comments a,
.cherry-trend-views__count,
.posted-by {
	color: $regular_text_color;
}
.post__cats a:hover {
	color: $invert_accent_color_1;
	background-color: $regular_link_hover_color;
}

.post__tags a:hover {
	color: $regular_link_hover_color;
}
.post__comments a:hover,
.post__date a:hover {
	color: $regular_link_color;
}

.invert .post__tags a,
.invert .post__comments a {
	color: $invert_link_hover_color;
}

.posts-list .post__button.btn__icon i {
	color: $regular_accent_color_2;
}
.posts-list .post__button.btn__icon:hover i {
	color: $invert_accent_color_1;
}


.invert .post__tags a:hover,
.invert .post__comments a:hover {
	color: $invert_link_color;
}

.single-post__full-width-section .post__cats a:not(:hover) { color: $regular_link_color; }


.invert .post__comments i {	color: $invert_link_color; }

/* #Post Format */
.format-audio .post-featured-content,
.format-quote .post-featured-content,
.single-post .mejs-container-wrapper {
	background-color: $regular_accent_color_1;
}


.format-link .post-featured-content {
	background-color: $grey_color_1;
}

.post-format-quote,
.post-format-quote a:not(:hover) {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}

.post-format-quote cite a:not(:hover),
.post-format-quote cite {
	color: $invert_accent_color_1;
}

.post-featured-content .post-format-link {
	color: $regular_link_color;
}

.post-featured-content .post-format-link:hover,
.post-format-link:before {
	color: $regular_link_hover_color;
}


/* #Single posts */
.single-post .site-main > :not(.post),
.single-post .site-main .comments-area .comments-title {
	border-color: $grey_color_3;
}
.single-post__full-width-section.invert {
	color: $invert_accent_color_1;
}

/* #Comments */
.comment-list > .comment + .comment,
.comment-list > .comment + .pingback,
.comment-list > .pingback + .comment,
.comment-list > .pingback + .pingback,
.comment-list .children > .comment,
.comment-respond,
.comment-list .comment-respond {
	border-color: $grey_color_3;
}

.comment-form .label-text {
	
}

.comment-metadata {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
}
.comment-metadata .url {
	color: $regular_link_hover_color;
}
.comment-metadata .url:after,
.comment-metadata .url:hover {
	color: $regular_link_color;
}
.comment .comment-date__link:hover {
	color: $regular_link_color;
}
.comment-reply-link {
	font-family: @font_family( $h1_font_family );
}

.reqired_icon {
	color: $regular_accent_color_1;
}

#cancel-comment-reply-link {
	color: $regular_link_color;
	line-height: calc($h6_line_height * $h6_font_size{px});
}
#cancel-comment-reply-link:hover {
	color: $regular_link_hover_color;
}

/* comment */
.comment-content-wrap__head {
	border-color: $grey_color_3;
}

/* author bio */
.post-author-bio .post-author__holder {
	background-color: $breadcrumbs_bg_color;
}

/* Audio list */
/*temp*/
.wp-playlist.wp-audio-playlist.wp-playlist-light {
	border-color: $grey_color_3;
}

.wp-playlist.wp-audio-playlist.wp-playlist-light .wp-playlist-caption {
	color: $regular_text_color;
}

.wp-playlist.wp-audio-playlist .wp-playlist-current-item .wp-playlist-caption .wp-playlist-item-title{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.wp-playlist.wp-audio-playlist.wp-playlist-dark .wp-playlist-current-item .wp-playlist-caption .wp-playlist-item-title{
	color: $invert_h6_color;
}

/* #wp-video */
.mejs-video .mejs-overlay-button:before {
	color: $invert_accent_color_1;
}
.mejs-video .mejs-overlay-button:hover:after {
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	background: $regular_link_hover_color;
}
.mejs-video .mejs-overlay-button:hover:before {
	color: $regular_accent_color_1;
}
.post-featured-content blockquote cite {
	color: $regular_accent_color_2;
}