.social-list a {
	color: $grey_color_2;
}
.share-btns__link {
	color: $regular_link_hover_color;
}

.share-btns__link:hover,
.social-list a:hover {
	color: $regular_accent_color_2;
}
.invert .social-list a {
	color: @lighten($invert_text_color, 10);
}
.invert .share-btns__link:hover,
.invert .social-list a:hover {
	color: $regular_accent_color_1;
}
