.site-footer.style-3 {
	.footer-container {
		padding: 13px 0;
	}
	.site-info-block {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
			@include media-breakpoint-up(md) {
				align-items: flex-start;
			}
	}
	.site-info {
		text-align: center;

		.contact-block,
		.footer-logo,
		.footer-copyright,
		.footer-menu {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.contact-block {
			@include font-size(.875);
		}

		@include media-breakpoint-up(md) {
			text-align: left;

			&-wrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				@include grid-indent(15px, 'margin');
			}

			&-block {
				display: flex;
				align-items: center;
				@include media-breakpoint-up(md) {
					align-items: flex-start;
				}
			}

			.social-list {
				margin-top: 10px;
			}

			.social-list {
				flex-shrink: 0;
			}

			.footer-logo {
				margin-right: 10px;
			}
			.contact-block {
				font-size: inherit;
			}
		}
	}
}

.site-footer.style-3 {
	.site-info {
		@include media-breakpoint-up(lg) {
			.contact-block {
				margin-right: 50px;
			}
		}
	}
}