.site-footer.style-1, .site-footer.style-3 {
	.footer-container {
		padding: 13px 0;
	}
	.site-info-block {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
			@include media-breakpoint-up(md) {
				align-items: flex-start;
			}
	}
	.site-info {
		text-align: center;

		.contact-block,
		.footer-logo,
		.footer-copyright,
		.footer-menu {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.contact-block {
			@include font-size(.875);
		}

		@include media-breakpoint-up(md) {
			text-align: left;

			&-wrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				@include grid-indent(15px, 'margin');
			}

			&-block {
				display: flex;
				align-items: center;
				@include media-breakpoint-up(md) {
					align-items: flex-start;
				}
			}

			.social-list {
				margin-top: 10px;
			}

			.social-list {
				flex-shrink: 0;
			}

			.footer-logo {
				margin-right: 10px;
			}
			.contact-block {
				font-size: inherit;
			}
		}
	}
}

.site-footer.style-1 {
	.footer-container {
		padding-top: 0;
		padding-bottom: 0;

		.site-info {
			position: relative;
			z-index: 10;
			.site-info-wrap {
				padding-top: 25px;
				padding-bottom: 25px;
				align-items: center;
			}

			&:before,
			&:after {
				content: '';
				width: 100vw;
				height: 100%;
				position: absolute;
				top: 0;
				background-color: inherit;
				z-index: -1;
			}
			&:before {
				left: -100%;
			}
			&:after {
				right: -100%;
			}
		}
		.footer-logo {
			margin: 10px auto; 
			@include media-breakpoint-up(lg) {
				margin-top: 12px;
				margin-right: 2px;
			}
		}
		.site-info-block {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: flex-start;
			&:empty {
				display: none;
			}
			&__center {
				order: 0;
				flex: 1 1 auto;
				align-self: auto;
			}
		}
		
		.site-info {
			.contact-block,
			.footer-copyright {
				margin: 10px auto; 
				@include media-breakpoint-up(lg) {
					margin-top: 15px;
					margin-bottom: 10px;
				}
			}
			.social-list {
				margin: 10px auto;
				@include media-breakpoint-up(lg) {
					margin-top: 0;
					margin-bottom: 10px;
				}
			}
			.footer-copyright {
				margin-top: -3px;
				@include media-breakpoint-down(sm) {
					margin-top: 15px;
				}
			}
			.footer-menu {
				margin-top: 10px;
				margin-bottom: 0;
			}
		}
	}
}

.site-footer.style-3 {
	.site-info {
		@include media-breakpoint-up(lg) {
			.contact-block {
				margin-right: 50px;
			}
		}
	}
}
.footer-copyright a {
	margin-left: 15px;
}