.site-footer.style-2 {
	.footer-container {
		padding-top: 30px;
		padding-bottom: 30px;
		@include media-breakpoint-up(md) {
			padding-top: 60px;
			padding-bottom: 84px;
		}

	}

	.site-info {
		text-align: center;
		
		.footer-logo {
			& + .footer-copyright {
				margin-top: 20px;
			}
		}

		.contact-block {
			@include font-size(.875);

			&__item {
				padding-top: 3px;
				padding-bottom: 3px;
			}
		}

		* + .contact-block,
		* + .footer-menu {
			margin-top: 32px;
		}

		* + .social-list {
			margin-top: 31px;
		}
	}
}