/*rtl:begin:ignore*/
.alignleft {
	@include media-breakpoint-up(sm) {
		float: left;
		margin-right: 20px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	@include media-breakpoint-up(md) {
		margin-right: 30px;
	}
	.single & {
		margin-top: 24px;
		margin-bottom: 15px;
		@include media-breakpoint-up(md) {
			margin-right: 30px;
			margin-top: 24px;
			margin-bottom: 10px;
		}
	}
}

.alignright {
	@include media-breakpoint-up(sm) {
		float: right;
		margin-left: 20px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	@include media-breakpoint-up(md) {
		margin-left: 50px;
	}
}
/*rtl:end:ignore*/
.aligncenter {
	clear: both;
	@include center-block;
	margin-top: 34px;
	margin-bottom: 30px;
}

.alignnone {
	@include media-breakpoint-up(md) {
		margin-top: 19px;
		margin-bottom: 15px;
	}
}
