.post {
	&-author {
		&-bio {
			position: relative;
			padding-top: 40px;
			padding-bottom: 40px;

			.position-fullwidth & {
				padding-left: 0;
				padding-right: 0;

				&:before {
					width: 100vw;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		&__holder {
			position: relative;
			z-index: 2;
			padding: 23px 31px 20px;
		}

		&__avatar {
			float: none;
			margin: 7px 1em 20px 0;

			@include media-breakpoint-up(md) {
				margin: 7px 28px 10px 0;
				float: left;
			}
			.avatar {
				width: 100px;
				vertical-align: top;

				@include media-breakpoint-up(md) {
					width: auto;
				}
			}
			& + .post-author__content {
				overflow: hidden;
			}
		}
		&__super-title {
			margin-bottom: 10px;
		}
		&__title {
			margin-bottom: 20px;

			.post-author__super-title + & {
				margin-top: 0;
			}
		}
	}
}
