.comments {
	&-area {
		position: relative;
		padding-top: 0;
	}
	&-title {
		margin-bottom: 30px;
	}
}

.comment {
	&-list {
		margin-bottom: 36px;
		list-style: none;

		.children {
			margin-left: 0;
			padding-left: 10px;
			list-style: none;

			@include media-breakpoint-up(lg) {
				padding-left: 95px;
			}
			> .comment {
				margin-top: 23px;
			}
		}
		> .comment,
		> .pingback {
			&.depth-1.parent > .children {
			}
			& + .comment,
			& + .pingback {
				margin-top: 23px;
			}
		}
		.comments-area > & {
			padding-bottom: 0;
		}
	}
	&-body {
		&__holder {
			position: relative;
			display: flex;
		}
		.avatar {
			width: 40px;
			margin-right: 15px;
			margin-top: 0;

			@include media-breakpoint-up(md) {
				width: auto;
				margin-right: 20px;
			}
		}
		.fn {
			display: block;
			margin-bottom: 2px;
			text-transform: capitalize;
			@include font-size(1);

			a {
				&:after {
					content: " " attr(href);
				}
			}
		}

		.reply {
			margin-top: 11px;
		}
	}
	&-content-wrap {
		flex: 0 1 100%;
		&__head {
			padding: 12px 18px 13px;
			border: 1px solid;
			position: relative;
			&:before {
				position: absolute;
				content: '';
				left: -11px;
				top: -1px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 11px 11px 0;
				border-color: transparent #e6e8e8 transparent transparent;
			}
			&:after {
				position: absolute;
				content: '';
				left: -9px;
				top: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 9px 9px 0;
				border-color: transparent #fff transparent transparent;
			}
		}
	}
	&-author {
		flex-shrink: 0;
	}
	&-content {
		margin-top: 7px;
	}
	&-reply-link {
		letter-spacing: 0.04em;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 600;

		&:before {
			content: '\e911';
			vertical-align: baseline;
			margin-right: 5px;
			font-size: 10px;
		}
	}
	&-date {
		line-height: 1.2em;
		&__link{
			color: inherit;
			text-transform: uppercase;
		}
	}
}

.bypostauthor {
	display: block;
}
