.contact-block {
	&__inner {
		display: flex;

		.site-footer.style-1 & {
			@include grid-indent(10px);

			flex-direction: column;
			align-items: center;

			@include media-breakpoint-up(md) {
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
		.site-footer.style-2 & {
			flex-direction: column;
			align-items: center;
		}
		.site-header & {
			flex-direction: column;
			align-items: center;

			@include media-breakpoint-up(md) {
				@include grid-indent(9px);

				flex-direction: row;
				flex-wrap: wrap;
			}
		}
	}
	&__item {
		padding-top: 5px;
		padding-bottom: 5px;
		position: relative;

		& + .contact-block__item {
			.site-footer.style-2 & {
				margin-top: 1px;
			}
		}

		a {
			display: inline-block;
		}
		&--icon {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&:not(.contact-block__item--icon) {
			text-align: center;

			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}
	}
	&__icon {
		font-size: 14px;
		margin-right: 6px;
	}
	&__text {
		text-align: left;
		font-size: 	16px;
		text-transform: uppercase;
	}
	&__label {
		padding-right: 4px;
		line-height: 1.1;
		margin-top: 4px;
	}

	&.contact-block--header {

		@include media-breakpoint-up(md) {
			font-size: 1rem;
		}
		.contact-block__inner,
		.contact-block__item {
			align-items: flex-start;
		}
		.contact-block__icon {
			font-size: 29px;
			margin-right: 14px;
			margin-top: 6px;
		}
		.contact-block__item {
			position: relative;
			flex-grow: 0;
			&:not(:first-child) {
				&:before {
					@include media-breakpoint-up(lg) {
						content: "";
						position: absolute;
						display: block;
						height: 100%;
						width: 1px;
						left: -6px;
						top: 0;
					}
				}
			}
		}
		.contact-block__label {
			display: block;
			padding-right: 0;
			text-transform: uppercase;
		}
	}
}
