.share-btns {
	&__prefix {
		display: inline-block;
		text-transform: uppercase;
	}
	&__list {
		position: relative;
		line-height: 1;

		.posts-list--default-fullwidth-image .post__date + &,
		.single-post .post__date + &,
		.cherry-projects-single & {
			@include media-breakpoint-up(sm) {
				margin-top: 30px;
			}
		}
	}
	&__items {
		.posts-list &,
		.single-post &,
		.cherry-projects-single & {
			@include grid-indent(10px);
		}
	}
	&__item {
		text-align: center;
		display: inline-block;
		.posts-list &,
		.single-post &,
		.cherry-projects-single & {
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__link {
		text-align: center;
		text-decoration: none;
		@include font-size(1);
	}
	&__before {
		i { @include font-size(1.125); }

		.single & { display: none; }
	}
}
