.swiper {
	&-pagination-bullets {
		position: absolute;

		.swiper-container.swiper-container-horizontal & {
			bottom: 10px;
		}
		.widget-carousel & {
			position: static;
		}
	}

	&-pagination-bullet {
		width: 12px;
		height: 12px;
		opacity: 1;
		transition: .3s;

		.swiper-container.swiper-container-horizontal & {
			margin: 0 7px;
		}
	}

	&-button-next,
	&-button-prev {
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
		width: auto;
		height: auto;
		line-height: 1;
		margin: 0;
		background-image: none !important;
		text-align: center;
		transition: .2s ease-out;

		&:before {
			font-size: 14px;
			line-height: 1;
			padding: 13px;
			transition: $bounce;
		}

		.widget-carousel &,
		.post-gallery & {
			display: none;
		}

		&.swiper-button-disabled {
			pointer-events: auto;

			&:before {
				padding: 13px;
			}
		}

		.swiper-carousel-container & {
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
			width: auto;
			height: auto;
			line-height: 1;
			margin: 0;
			background-image: none !important;
			text-align: center;
			transition: .2s ease-out;
		}
	}
	&-button-next,
	&-container.swiper-container-rtl .swiper-button-prev {
		.posts-list:not(.posts-list--default-modern) &,
		.single-post .post-gallery & {
			width: 40px;
			right: 0;
			margin-top: 0;
		}
	}
	&-button-prev,
	&-container.swiper-container-rtl .swiper-button-next {
		.posts-list:not(.posts-list--default-modern) &,
		.single-post .post-gallery & {
			width: 40px;
			left: 0;
			margin-top: 0;
		}
	}
}

.swiper-container {
	.swiper-button-next,
	.swiper-button-prev {
		width: 40px;
		height: 40px;
	}
}
