.site-info {
	font-size: .857rem;
	line-height: 1.75;
}
.footer-area.widget-area {
	.elementor-column-gap-default.elementor-container {
		padding-left: 0;
		padding-right: 0;
	}
	.elementor-button {
		line-height: 1.32em;
	}
}

@import "footer/layout-style-1";
@import "footer/layout-style-2";
