/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
.not-found {
	&.error-404 {
		text-align: center;
		margin: 40px 0;

		@include media-breakpoint-up(md) {
			margin: 108px 0 134px;
		}

		.row {
			@include media-breakpoint-up(md) {
				align-items: center;
			}
		}

		h3 {
			margin-bottom: 25px;
		}

		.btn {
			margin-top: 30px;
		}
	}
	&.no-results {
		margin: 80px 0;
		text-align: center;

		@include media-breakpoint-up(sm) {
			margin: 100px 0;
		}
	}

	.page-title {
		margin: 0 0 20px 0;
		.search-no-results & {
			font-size: 46px;
			line-height: 1.2em;
		}
		@include media-breakpoint-up(md) {
			font-size: 130px;
			line-height: 0.85em;
		}
		&.title-decoration__top {
			padding-top: 20px;
			@include media-breakpoint-up(md) {
				padding-top: 41px;
			}
		}
		&:before {
			margin: 0 auto;
			left: 0;
			right: 0;
		}
		@include media-breakpoint-up(md) {
			margin: 0 0 1px 0;
		}
	}
	.page-content {
		h2 {
			margin-bottom: 20px;
			@include media-breakpoint-up(md) {
				margin-bottom: 35px;
			}
		}
		.search-wrap .btn {
			margin: 0;
		}
	}
	.search-form {
		max-width: 370px;
		margin: 22px auto 0;
	}
}
.bg-wrap-404 {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}