// Grid breakpoints
$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 600px,
	// Medium screen / tablet
	md: 900px,
	// Large screen / desktop
	lg: 1200px,
	// Extra large screen / wide desktop
	xl: 1600px
) !default;

// Grid containers
$container-max-widths: (
	sm: 640px,
	md: 940px,
	lg: 1120px,
	xl: 1440px
) !default;

// Grid columns
$grid-columns:      12 !default;
$grid-gutter-width: 2.016229032258065rem !default; // 30px

// Some configuration
$need-pull:   true !default;
$need-push:   true !default;
$need-offset: true !default;
