.comment {
	&-respond {
		border-top: 1px solid;
		padding-top: 33px;

		.comment-list & {
			margin-top: 35px;
			margin-bottom: 35px;
			border-top: 1px dashed;
		}
		.comments-area > & {

		}
	}
	&-reply-title {
		margin-bottom: 23px;

		#cancel-comment-reply-link {
			float: right;
			margin-left: 10px;
			font-size: 12px;
		}
	}
	&-form {

		&-comment,
		&-author,
		&-email,
		&-url {
			position: relative;
			.label-text {
				display: block;
				margin-bottom: 2px;
			}
		}
		&-comment {
			margin: 0;
		}
		&-author,
		&-email,
		&-url {
			margin: 0 0 26px 0;
		}
		.form-submit {
			margin: 30px 0 0 0;
		}
		&__field {
			width: 100%;
			vertical-align: top;
		}
		.logged-in-as,
		.comment-notes {
			margin: 0 0 20px;
		}
	}
}
