.tparrows {

	text-align: center;
	transition: .2s all;

	&:before {
		@include nucleo-mini-icon;

		color: inherit;
	}
	&.tp-leftarrow {
		left: 0;
		&:before {
			content: '\e927';
		}
		.tp-title-wrap {
			
		}
	}
	&.tp-rightarrow {
		right: 0;
		&:before {
			content: '\e928';
		}
	}
	.tp-arr-titleholder {
		text-transform: uppercase;
	}
}

.tp-bullet {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	transition: .2s all;
}

.rev-btn {
	i {
		font-size: 10px;
		margin-left: 7px;
	}
}
.construction .tp-arr-titleholder {
	padding: 10px !important;
	display: flex !important;
	align-items: center !important;
	flex-wrap: wrap !important;
}