.widget-area .elementor-jet-download-button {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.jet-download {
	display: block;
	&.elementor-button {
		display: inline-flex;
		align-items: center;
		width: 100%;
		padding-top: 14px;
		padding-bottom: 19px;
		background-color: transparent;
		&:before {
			@include nucleo-mini-icon(); 
			position: absolute;
			content: "\e992";
			font-size: 20px;
			top: 0;
			left: 33px;
			opacity: 0;
			transform: translateY(0) scale(0);
			@include transition(all 0.28s ease);
		}
		&:hover:before {  
			top: 50%;
			opacity: 1;
			transform: translateY(-50%) scale(1);
			@include transition(all 0.28s ease);
		}
		&:hover .jet-download__icon {
			top: 100%;
			opacity: 0;
			transform: translateY(100%) scale(0);
			@include transition(all 0.28s ease);
		}
	}
	&__icon {
		font-size: 28px;
		opacity: 1;
		@include transition(all 0.28s ease);
	}
	&__icon:before {
		font: inherit;
	}
	&.icon-position-top,
	&.icon-position-bottom {
		flex-direction: column;
	}
	&__icon.icon-left {
		margin-right: 10px;
		order: 1;
	}
	&__icon.icon-right {
		margin-left: 10px;
		order: 3;
	}
	&__icon.icon-top {
		margin-bottom: 10px;
		order: 1;
	}
	&__icon.icon-bottom {
		margin-top: 10px;
		order: 3;
	}
	&__text {
		margin-top: 5px;
		line-height: 1.2em;
		text-align: left;
		order: 2;
	}
	&__label {
		display: block;
		white-space: normal;
	}
	&__sub-label {
		display: block;
	}
}