.jet-slider {
	&__content {
		padding: 20px;
		@include media-breakpoint-up(lg) {
			padding: 20px 30%;
		}
	}
	&__desc {
		margin-top: 0;
	}
	.jet-slider__title {
		padding-top: 10px;
		text-transform: capitalize;
		margin-bottom: 0;
		&:before {
			top: 0;
			content: '';
			position: absolute;
			display: block;
			width: 18px;
			height: 3px;
			margin: 0 auto;
			left: 0;
			right: 0;
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}
	.sp-buttons {
		margin-top: 15px;
		.sp-button {
			width: 11px;
			height: 11px;
			border: none;
			opacity: 0.2;
			@include transition(all 0.3s ease);
			&.sp-selected-button, &:hover {
				opacity: 1;
			}
		}
	}
	.sp-arrow {
		width: 40px;
		height: 40px;
		border-radius: 0;
		left: 0;
		display: block;
		@include transition(all 0.3s ease);

		&.sp-next-arrow {
			transform: scale(-1, 1);
			right: 0;
			left: auto;
		}

		i {
			font-size: 21px;
			width: 100%;
			height: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			line-height: 0em;
		}

		&:before,
		&:after {
			display: none;
		}
	}
}