.jet-subscribe-form {
  .jet-subscribe-form__input {
    border-radius: 0;
    box-shadow: none;
    padding: 7.5px 19px 8.5px;
    line-height: 1.5;
    &:focus {
      box-shadow: none;
    }
  }
  .jet-subscribe-form__submit {
    span {
      &::before {
        @include nucleo-mini-icon();
        content: "\ea3a";
        position: relative;
        display: inline-block;
        font-size: 14px;
        line-height: 1;
        margin-top: -2px;
        vertical-align: -1px;
        margin-right: 10px;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &--inline-layout {
    .jet-subscribe-form__submit {
      margin: 0;
      @include media-breakpoint-down(sm) {
        margin-top: 10px;
      }
    }
  }
}