/*!
Skin Name: House Lifting & Moving
*/

@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/* Header */

.top-panel {
	@include media-breakpoint-up(md) {
		padding-top: 7px;
		padding-bottom: 10px;
	}
	&__message {
		font-size: 13px;
		i {
			margin-right: 9px;
			font-size: 14px;
		}
	}
}

.site-header.style-4 {
	.header-nav-wrapper {
		padding-left: 0;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			height: 100%;
			width: 300%;
		}
	}
	.site-branding {
		@include media-breakpoint-up(lg) {
			margin-top: 8px;
			margin-bottom: 8px;
		}
	}
}

.header-search .cherry-search-wrapper .cherry-search form.cherry-search__form button.search-submit {
	@include media-breakpoint-down(xs) {
		top: 19px;
	}
}

.header-components__contact-button {
	> * {
		@include media-breakpoint-up(md) {
			padding-top: 14px;
			padding-bottom: 12px;
		}
	}
}

.site-header-cart .site-header-cart__wrapper .cart-contents i:before {
	@include transition(all 0.2s ease);
}

/* Footer */

.footer-area {
	padding: 100px 0 34px;
}
.home .footer-area {
	padding: 140px 0 34px;
}

.site-footer.style-1 .footer-container .site-info .site-info-wrap {
	padding-top: 25px;
	padding-bottom: 13px;
}

.footer-area .widget-about .widget-about__logo {
	padding-top: 10px;
	margin-bottom: 44px;
}

/* Jet-menu */
.jet-menu {
	> .jet-menu-item.jet-simple-menu-item:first-child > .jet-sub-menu {
		@include media-breakpoint-up(md) {
			margin-left: 0;
		}
	}
	> .jet-menu-item {
		.top-level-link {
			@media ( min-width:768px ) {
				padding: 14px 13px 13px 14px;
			}
		}
	}
}

.btn.btn-accent-2 i, .btn.btn-accent-2:hover i,
.elementor-button-warning i,.elementor-button-warning:hover i {
	@include transition(all 0.2s ease);
}

/* Widgets */

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
	text-indent: 9999px;
}

.widget_archive a:before,
.widget_categories a:before {
	top: 7px;
}

/* Socials */

.social-list .social-list__items .menu-item {
	padding-left: 8px;
	padding-right: 8px;
}

/* Buttons */

.header-btn {
	padding: 17.5px 29px 14.5px;
}
.elementor-button.elementor-size-sm {
	padding: 12px 25px;
}

/* Swiper */

.swiper-button-next:before,
.swiper-button-prev:before {
	transition: none;
}

/* Typography */
h1, h2, h4, h5 {
	text-transform: uppercase;
}

/* Services */

/*Template template-media-icon-bg*/
.template-media-icon-bg {
	.services-item {
		.footer-content {
			.service-icon i {
				font-size: 72px;
				@include media-breakpoint-up(lg) {
					margin-left: -14px;
					margin-right: 4px;
				}
			}
		}
	}
}

/* Testimonials */

.tm-testi {
	&--default-5 {
		.tm-testi__item {
			blockquote cite .tm-testi__item-name {
				font-weight: 700;
			}
			&-position {
				font-style: italic;
			}
		}
	}
}

/* WooCommerce */

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .input-text#coupon_code {
	padding: 10px 15px 10px 15px;
}
