.tm-testi {

	&-slider {
		padding-bottom: 0;

		&__item {
			display: flex;
			height: auto;
		}

		.tm-testi__inner,
		.tm-testi__item-body,
		blockquote {
			display: flex;
			flex-grow: 1;
		}

		.tm-testi__item-body,
		blockquote {
			flex-direction: column;
		}

		.tm-testi__item-body{
			footer {
				margin-top: auto;
			}
		}
	}

	&__title {
		margin-bottom: 20px;

		> *:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__divider {
		margin: 55px 0;
	}

	&__inner {
		blockquote {
			background: none;
			padding: 0;
		}
	}

	&__item {

		&,
		.services-macros & {
			margin-top: 0;
			margin-bottom: 50px;
		}

		.tm-testi-slider & {
			margin-bottom: 0;
		}

		&-avatar {
			display: block;
			margin: 0 0 25px;
			box-sizing: content-box;
		}

		&-body {
			position: relative;
			padding: 26px 30px;
			min-height: 252px;
			margin-bottom: 23px;

			.tm-testi__wrap.invert & {
				background-color: transparent;
				padding: 0;
			}
			.tm-testi--default-invert & {
				background-color: $color__dark_grey;
			}
			&:before {
				content: '\eb16';
				position: relative;
				margin-bottom: 15px;
				display: block;
				font-size: 29px;
				line-height: 1;
			}
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 10px 0 10px;
				border-color: $color__white transparent transparent transparent;
				position: absolute;
				bottom: -10px;
				left: 30px;

				.tm-testi__wrap.invert & {
					display: none;
				}
				.tm-testi--default-invert & {
					border-color: $color__dark_grey transparent transparent transparent;
				}
			}
			p {
				margin-bottom: 25px;
			}
		}

		&-position {
			position: relative; 
			&:before {
				position: relative;
				content: "—";
				color: inherit;
				margin-right: 6px;
			}
		}
		&-position,
		&-email,
		&-company {
			display: inline-block;
			&:not(:last-child) {
				&:after {
					content: ', ';
				}
			}
		}

		blockquote {
			.tm-testi--boxed & {
				border: none;
			}
			
			&:before {
				content: none;
			}

			cite {
				display: inline-block;
				margin: 0;
				.tm-testi__item-name {
					font-style: italic;
					.tm-testi--default-5 & {
						font-style: normal;
					}
				}
				&:before {
					content: none;
				}

				&:not(:last-child):after {
					content: '';
				}
			}

			.tm-testi__wrap--perview-1 &,
			.tm-testi-page--archive & {
				flex-direction: column;
			}
		}

		footer {
			display: flex;
			align-items: center;

			img {
				margin: 0 20px 0 0;
			}
			.tm-testi__item-meta-content {
				flex-grow: 1;
			}
		}
	}

	.tm-testi-slider__pags.swiper-pagination {
		position: static;
		margin-top: 3px;
		.swiper-pagination-bullet {
			width: 11px;
			height: 11px;
		}
		.swiper-pagination-bullet.img-pagination-item {
			position: relative;
			border-radius: 0;
			@include transition(all 0.3s ease);
			&:hover {
				-webkit-box-shadow: 0 0 0 4px rgba($color__accent, 1);
				box-shadow: 0 0 0 4px rgba($color__accent, 1);
			}
		} 

	}
	.swiper-button-next.tm-testi-slider__next,
	.swiper-button-prev.tm-testi-slider__prev {
		top: 28%;
		transform: none;
		border-radius: 0;
	}
	.swiper-button-next.tm-testi-slider__next {
		display: block;
		right: -40px;
	}
	.swiper-button-prev.tm-testi-slider__prev {
		display: block;
		left: -40px;
	}

	&__wrap {
		&:hover {
			.swiper-button-next.tm-testi-slider__next {
				right: 0px;
			}
			.swiper-button-prev.tm-testi-slider__prev {
				left: 0px;
			}
		}
	}

	// default-gray.tmpl
	&--default-gray {
		.tm-testi__item {
			&-body {
				padding: 37px 39px 25px;
				&:before {
					margin-bottom: 7px;
				}
				&:after {
					display: none;
				}
				p {
					margin-top: 14px;
					margin-bottom: 15px
				}
			}
			footer {
				margin-top: 0;
			}
			.tm-testi__item-name {
				font-style: normal;
			}
		}
	}

	// default-2.tmpl
	&--default-2 {
		blockquote {
			padding-left: 60px;
			padding-right: 60px;
		}
		&.tm-testi__wrap[data-atts*=',"slidesPerView":1'] {
			.elementor-col-100 & {
				blockquote {
					@include media-breakpoint-up(xl) {
						padding-left: 200px;
						padding-right: 100px;
					}
				}
			}
		}
		.tm-testi__item {
			&-body {
				background-color: transparent;
				padding: 0;
				min-height: inherit;
				margin-bottom: 0;

				&:before {
					font-size: 34px;
				}
				&:after {
					display: none;
				}
				p {
					margin-bottom: 22px;
				}
			}

			footer {
				.tm-testi__item-meta-content {
					> * {
						display: inline-block;
						vertical-align: middle;

						&:not(:last-child) {
							&:after {
								content: ' /';
								color: inherit;
							}
						}
					}
				}
			}
		}
		.swiper-button-next.tm-testi-slider__next {
			right: 2px;
		}
		.swiper-button-prev.tm-testi-slider__prev {
			left: 2px;
		}
	}

	// default-3.tmpl
	&--default-3 {
		.tm-testi__item-body {
			padding: 38px 40px 34px;
			min-height: inherit;
			.tm-testi__item-meta-content {
				> * {
					display: block;
				}
				i {
					font-size: 29px;
					line-height: 1em;
					margin-bottom: 6px;
				}
				.tm-testi__item-name {
					font-style: normal;
				}
				.tm-testi__item-position {
					&:before {
						display: none;
					}
				}
			}

			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
			footer {
				margin-top: 0;
				padding-right: 40px;
				margin-bottom: 14px;
				img {
					margin: 0 28px 0 0;
				}
			}
			p {
				margin: 0;
			}
		}
	}

	// default-4.tmpl
	&--default-4 {
		.tm-testi__item {
			blockquote {
				display: block;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;

				@include media-breakpoint-up(md) {
					display: flex;
				}
			}
			.tm-testi-left-col {
				margin-bottom: 20px;
				margin-top: 20px;
				flex-grow: 0;

				@include media-breakpoint-up(md) {
					margin-right: $grid-gutter-width;
					margin-bottom: 0;
					margin-top: 0;
				}
			}
			.tm-testi-right-col {
				@include media-breakpoint-up(md) {
					padding: 50px 0;
				}
			}
			.tm-testi__item-avatar {
				border: none;
				margin: 0;
			}
			&-body {
				min-height: inherit;

				&:before {
					display: none;
				}
				p {
					margin-bottom: 2px;

					&:before {
						content: '\eb16';
						position: relative;
						display: inline;
						margin-right: 10px;
						font-size: 34px;
						line-height: 1;
					}
				}
			}
			.tm-testi__item-meta-content {
				> * {
					display: inline-block;
					vertical-align: middle;

					&:not(:last-child) {
						&:after {
							content: ' /';
						}
					}
				}
				cite {
					&:before {
						content: "— ";
					}
				}
			}
		}
		.swiper-button-next.tm-testi-slider__next,
		.swiper-button-prev.tm-testi-slider__prev {
			top: 0;
			margin: 0;
			transform: none;
		}
		&,
		&:hover {
			.swiper-button-next.tm-testi-slider__next {
				right: 1px;
			}
			.swiper-button-prev.tm-testi-slider__prev {
				left: auto;
				right: 50px;
			}
		}
	}

	// default-5.tmpl
	&--default-5 {
		&.tm-testi__wrap[data-atts*=',"slidesPerView":1'] {
			.elementor-col-100 & {
				blockquote {
					padding-left: 45px;
					padding-right: 45px;
					@include media-breakpoint-up(md) {
						padding-left: 160px;
						padding-right: 160px;
					}
				}
			}
		}
		blockquote {
			text-align: center;

			.tm-testi__item-avatar {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				margin-top: 14px;
			}
		}
		.tm-testi__item {
			&-body {
				min-height: inherit;
				background-color: transparent;
				padding: 0;
				margin-bottom: 14px;

				&:before {
					margin-bottom: 28px;
				}
				&:after {
					display: none;
				}
				p {
					margin-bottom: 2px;
				}
			}
		}
	}
}
