.widget {
	&:not(:last-child) {
		margin-bottom: 60px;

		.full-width-header-area &,
		.after-content-full-width-area &,
		.before-content-area &,
		.before-loop-area &,
		.after-loop-area &,
		.after-content-area & {
			@include media-breakpoint-up(lg) {
				margin-bottom: 80px;
			}
		}
	}

	@include sidebars-area() {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	.single-service &,
	.single-project & {
		&:not(:last-child) {
			margin-bottom: 33px;
		}
	}

	.footer-area:not(.footer-area--fullwidth) & {
		margin-bottom: 45px;
	}
	&_text {
		margin-bottom: 28px;
		.title-decoration {
			padding-bottom: 13px;
			margin-bottom: 10px;
		}
	}
	&.shortcode_widget {
		.title-decoration {
			padding-bottom: 13px;
			margin-bottom: 20px;
		}
	}
	.scheduled-time {
		margin-top: 15px;
		i {
			margin-right: 2px;
		}
	}

	&-title {
		margin-bottom: 1.33em;

		.sidebar & {
			@include title-line;
			line-height: 18px;
			margin-bottom: 20px;
		}
	}

	select {
		max-width: 100%;
	}

	.full-width-header-area &,
	.after-content-full-width-area & {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;

		&.widget-carousel,
		&.widget-smart-slider,
		&.widget-fpblock,
		&.widget-playlist-slider{
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.sidebar,
.single-service,
.single-project {
	margin-top: 70px;

	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
}

.footer-area {
	position: relative;
	padding: 32px 0 13px;
	.home & {
		padding: 32px 0 13px;
	}

	&::before {
		content: '' !important;
		display: block;
		position: absolute;
		height: 1px;
		top: -1px;
		left: 1.00806rem;
		right: 1.00806rem;
	}

	.widget-title {
		margin-bottom: 30px;
		&.title-decoration {
			@include title-line;

			&__top {
				@include title-line-top;
			}
		}
	}

}

.full-width-header-area {
	.widget:first-child {
		.widget-title {
			margin-top: 1.5em;
		}
	}
}

.before-loop-area,
.before-content-area,
.after-content-full-width-area {
	margin-bottom: 70px;
}

.after-loop-area,
.after-content-area {
	margin-top: 70px;
}

.footer-area {
	aside[id*=monster-widget-placeholder].widget {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		width: 100%;
		@include media-breakpoint-up(md) {
			width: 50%;
		}
		@include media-breakpoint-up(lg) {
			width: 25%;
		}
	}
}
