/* Header */

.top-panel .social-list .menu-item > a,
.top-panel__message i {
	color: $regular_accent_color_2;
}
.top-panel .social-list .menu-item > a:hover {
	color: $regular_accent_color_1;
}

.site-header-cart .site-header-cart__wrapper .cart-contents:hover i:before {
	color: $regular_accent_color_1;
}
@media (min-width: 768px) {
	.site-header-cart .site-header-cart__wrapper .cart-contents:hover i:before {
		color: $regular_accent_color_2;
	}
}
.invert .site-header-cart .cart-contents .count {
	background-color: $regular_accent_color_2;
	color: $invert_accent_color_1;
}

.site-header.style-4 .header-nav-wrapper:before {
	background-color: $regular_accent_color_1;
}
.site-header.style-4 .header-components .navbar-header-cart:before {
	background-color: @alpha($invert_accent_color_1, 15);
}

.contact-block__icon {
	color: $regular_accent_color_1;
}
.contact-block.contact-block--header,
.contact-block.contact-block--header a[href^="tel:"] {
	color: $regular_accent_color_1;
}

/* Tabs */
.invert .elementor-accordion .elementor-tab-title {
	background-color: rgb(56,65,76);
}
.invert .elementor-accordion .elementor-tab-title.elementor-active {
	background-color: $regular_accent_color_1;
}

/* Social */

.invert + .footer-container .social-list a {
	color: $invert_accent_color_1;
}
.invert + .footer-container .social-list a:hover {
	color: $regular_accent_color_1;
}

/* Elementor icon */
.elementor-view-stacked .elementor-icon {
	color: $invert_accent_color_1;
}

/* pricing */
.jet-elements .featured-table .pricing-table__title {
	color: $invert_accent_color_1;
}

/* testimonials */

.widget-area .invert .subscribe-block__message  {
	color: $invert_accent_color_1 !important;
}

.tm-testi__item-body:before,
.tm-testi--speech-bubble .tm-testi__item-body p:before {
	color: $regular_accent_color_1;
}
.tm-testi--default-5 .tm-testi__item blockquote cite .tm-testi__item-name {
	color: $regular_accent_color_1;
}
.tm-testi__item-position {
	color: $regular_accent_color_3;
}

.tm-testi--default-5 .tm-testi__item-body p {
    color: $regular_h5_color;
}

/* Buttons */

.btn.btn-accent-2 i,
.elementor-button-warning i {
	color: $regular_accent_color_1;
}
.btn.btn-accent-2:hover i,
.elementor-button-warning a:hover i {
	color: $invert_accent_color_1;
}

.elementor-element.elementor-button-info .elementor-button-icon {
	color: $regular_accent_color_1;
}

.elementor-button-wrapper,
.elementor-button,
.elementor-button.elementor-size-md,
.elementor-button.elementor-size-md.jet-more,
.single-team .elementor-button.elementor-size-md,
.btn,
.btn-link,
.link,
a[href*="?media_dl="] {
	font-size: @font_size($main_menu_font_size, multiple, ceil, 0.85)px;
}

.btn.btn-accent-2 {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover {
	background-color: $regular_accent_color_1;
}

.elementor-button {
	color: $invert_accent_color_1;
}
.elementor-button:focus,
.elementor-button:hover,
.elementor-button:visited {
	color: $invert_accent_color_1;
}
.elementor-button-warning.invert a.elementor-size-lg:hover {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_1;
}
.elementor-button-warning.invert a.elementor-size-lg:hover i {
	color: $regular_accent_color_1;
}

.style-invert.elementor-element.elementor-button-warning a i {
	color: $invert_accent_color_1;
}

.invert .elementor-button {
	color: $invert_accent_color_1;
}

/* Swiper */

.elementor-slick-slider .slick-slider .slick-next:hover,
.elementor-slick-slider .slick-slider .slick-prev:hover,
.elementor-slick-slider .slick-next:hover,
.elementor-slick-slider .slick-prev:hover,
.elementor .swiper-button-prev:hover,
.elementor .swiper-button-next:hover {
	color: $invert_accent_color_1;
}

/* Footer */

.invert .footer-area .widget_categories a, .invert .footer-area .widget_archive a,
.footer-area .contact-information-widget__inner li a:hover {
	color: $invert_text_color;
}
.invert .footer-area .widget_categories a:hover, .invert .footer-area .widget_archive a:hover,
.invert .footer-area .widget-custom-posts .entry-title a:hover {
	color: $regular_accent_color_1;
}

.footer-copyright a {
	color: $regular_accent_color_1;
}
.footer-copyright a:hover {
	color: $regular_accent_color_3;
}

.invert .footer-area .contact-information__item a {
	color: $regular_accent_color_1;
}
.invert .footer-area .contact-information__item a:hover {
	color: $invert_accent_color_1;
}

.invert.footer-area-wrap,
.invert.footer-container {
	color: $grey_color_2;
}

.invert .footer-area .widget_categories a,
.invert .footer-area .widget_archive a {
	color: $grey_color_2;
}
.invert .footer-area .widget-custom-posts .entry-title a:hover {
	color: $invert_accent_color_1;
}

.invert .contact-information-widget .icon {
	color: $invert_accent_color_1;
}

/* widget */

.widget_nav_menu ul#menu-team li a:hover {
	color: $invert_accent_color_1;
}

.widget_calendar tbody td a {
	color: $invert_accent_color_1;
}

/* search */

.invert .search-form__toggle:hover,
.invert .header-search .search-form__close:hover,
.invert + .header-search .search-form__close:hover {
	color: $regular_accent_color_1;
}
@media (min-width: 768px) {
	.invert .search-form__toggle:hover,
	.invert .header-search .search-form__close:hover,
	.invert + .header-search .search-form__close:hover {
		color: $regular_accent_color_2;
	}
}

/* Revolution slider */

.tparrows:hover::before {
	color: $invert_accent_color_1 !important;
}

/* couters */

.elementor-counter .elementor-counter-title,
.circle-counter__number {
	font-size: $main_menu_font_size{px};
}

/* elements */

#toTop {
	color: $invert_accent_color_1;
}

/* Services */

.invert .template-media-icon-bg .title_wrap a {
	color: $invert_accent_color_1;
}
.invert .template-media-icon-bg .title_wrap a:hover {
	color: $grey_color_2;
}
.template-media-icon-bg .service-icon {
	color: $regular_accent_color_1;
}

.template-media-icon-bg .services-item-inner .service-slogan,
.template-sidebar-media-icon .services-item-inner:hover .title_wrap a {
	color: $invert_accent_color_1;
}

.template-media-icon-bg .services-item .btn-link {
	color: $regular_accent_color_1;
}
.template-media-icon-bg .services-item .btn-link:hover {
	color: $invert_accent_color_1;
}

/* Subscribe */

.jet-subscribe-form .jet-subscribe-form__submit:hover {
	background-color: @darken($regular_accent_color_2, 20);
	color: $invert_accent_color_1;
}
.jet-subscribe-form .jet-subscribe-form__submit:hover span::before {
	color: $invert_accent_color_1;
}

/* posts */

.post__cats a {
	color: $invert_accent_color_1;
}
.projects-container .projects-item .overflow-content .post__cats a {
	color: $invert_accent_color_1;
}
.posts-list .post__button.btn__icon i {
	color: $regular_accent_color_1;
}

.post-format-quote,
.post-format-quote a:not(:hover) {
	color: $invert_accent_color_1;
}

/* Loader */

.banter-loader__box:nth-child(even):before {
	background-color: $regular_accent_color_2;
}

/* Form fields */

.wpcf7-submit,
.post-password-form label + input {
	color: $invert_accent_color_1;
}

/* Projects */

.btn.btn-accent-1,
.btn.btn-primary,
.btn-downloader,
a[href*="?media_dl="] {
	color: $invert_accent_color_1;
}

/* jet-menu */

.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover,
.jet-sub-mega-menu ul > li.menu-item-type-custom a:hover,
.jet-sub-mega-menu ul > li.menu-item-object-page a:hover,
.jet-sub-mega-menu ul > li.menu-item-object-projects a:hover {
	color: $invert_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover i {
	color: $invert_accent_color_1;
}

body:not(.jet-mobile-menu-active) .main-navigation .menu > li:hover > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.menu-hover > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current_page_item > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current_page_ancestor > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current-menu-item > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current-menu-ancestor > a {
	color: $regular_accent_color_2;
}

/* WooCommerce */

.products .product .block_product_thumbnail .tm-quick-view a:hover {
	color: $invert_accent_color_1;
}

.woocommerce a.button, .woocommerce button.button,
.woocommerce button.button.tm-woocompare-empty,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce-mini-cart__buttons a.button.wc-forward,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button.add_to_cart_button.loading:hover,
.woocommerce a.button.ajax_add_to_cart,
.woocommerce button.button.btn.tm-wc-ajax-load-more-button,
.woocommerce-cart
.woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn {
	color: $invert_accent_color_1;
}
.woocommerce.single-product .single_product_wrapper .images div.enlarge:hover {
	color: $invert_accent_color_1;
}
.woocommerce.single-product div.product form.cart .button,
.woocommerce .single-product div.product form.cart .button {
	color: $invert_accent_color_1;
}

/* tm-gallery */

.tm-pg_front_gallery .load-more-button .btn {
	color: $invert_accent_color_1;
}
.tm_pg_gallery-item_icon,
.tm-pg_front_gallery .tm_pg_gallery-item_title,
.tm-pg_front_gallery .tm_pg_gallery-item_counter,
.tm-pg_front_gallery .tm_pg_gallery-item_description {
	color: $invert_accent_color_1;
}
.footer-area-wrap .contact-information-widget__inner li:not(:first-child), .footer-area-wrap .contact-information-widget__inner li {
	margin-top: 0;
}