/* #Contact-information*/
.contact-information-widget .icon,
.contact-information-widget__inner li .icon {
	color: $grey_color_2;
}
.invert .contact-information-widget .icon {
	color: @darken($grey_color_3, 7.5);
}
.footer-area .contact-information__item a {
	color: $regular_text_color;
}
.footer-area .contact-information__item a:hover {
	color: $grey_color_2;
}