/* #Custom posts*/
.sidebar .widget-custom-posts .entry-title,
.footer-area:not(.footer-area--fullwidth) .widget-custom-posts .entry-title {
	font-style: $body_font_style;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
}

.widget-custom-posts .entry-title a {
	color: $regular_link_hover_color;
}

.widget-custom-posts .entry-title a:hover{
	color: $regular_text_color;
}

.invert .widget-custom-posts .entry-title a {
	color: $invert_link_hover_color;
}

.invert .widget-custom-posts .entry-title a:hover{
	color: $invert_link_color;
}

@media (min-width: 1200px) {
	.full-width-header-area .custom-posts .post-content-wrap *,
	.after-content-full-width-area .custom-posts .post-content-wrap *,
	.before-content-area .custom-posts .post-content-wrap *,
	.before-loop-area .custom-posts .post-content-wrap *,
	.after-loop-area .custom-posts .post-content-wrap *,
	.after-content-area .custom-posts .post-content-wrap *,
	.full-width-header-area .custom-posts .post-content-wrap .btn-link .btn__text:hover,
	.after-content-full-width-area .custom-posts .post-content-wrap .btn-link .btn__text:hover,
	.before-content-area .custom-posts .post-content-wrap .btn-link .btn__text:hover,
	.before-loop-area .custom-posts .post-content-wrap .btn-link .btn__text:hover,
	.after-loop-area .custom-posts .post-content-wrap .btn-link .btn__text:hover,
	.after-content-area .custom-posts .post-content-wrap .btn-link .btn__text:hover {
		color: $invert_link_hover_color;
	}
	.full-width-header-area .custom-posts .post-content-wrap a:hover,
	.after-content-full-width-area .custom-posts .post-content-wrap a:hover,
	.before-content-area .custom-posts .post-content-wrap a:hover,
	.before-loop-area .custom-posts .post-content-wrap a:hover,
	.after-loop-area .custom-posts .post-content-wrap a:hover,
	.after-content-area .custom-posts .post-content-wrap a:hover,
	.full-width-header-area .custom-posts .post-content-wrap .btn-link .btn__text,
	.after-content-full-width-area .custom-posts .post-content-wrap .btn-link .btn__text,
	.before-content-area .custom-posts .post-content-wrap .btn-link .btn__text,
	.before-loop-area .custom-posts .post-content-wrap .btn-link .btn__text,
	.after-loop-area .custom-posts .post-content-wrap .btn-link .btn__text,
	.after-content-area .custom-posts .post-content-wrap .btn-link .btn__text {
		color: $invert_link_color;
	}
}
.full-width-header-area .custom-posts .post-content-wrap::before,
.after-content-full-width-area .custom-posts .post-content-wrap::before,
.before-content-area .custom-posts .post-content-wrap::before,
.before-loop-area .custom-posts .post-content-wrap::before,
.after-loop-area .custom-posts .post-content-wrap::before,
.after-content-area .custom-posts .post-content-wrap::before {
	background-color: $regular_accent_color_3;
}
