.invert .widget-image-grid__content:hover{
	background-color: @alpha($regular_accent_color_3, 90);
}

.invert .widget-image-grid__inner,
.invert .widget-image-grid__inner .posted-by,
.invert .widget-image-grid__inner a {
	color: $invert_accent_color_1;
}
.invert .widget-image-grid__inner .post__terms a {
	color: $regular_accent_color_2;
}

.invert .widget-image-grid__inner a:hover {
	color: $invert_link_color;
}
.invert .widget-image-grid__inner .post__terms a:hover {
	color: $invert_link_color;
}
