.sidebar .widget-about,.single-service .widget-about {
	background-color: $regular_accent_color_2;
	color: $invert_accent_color_1;
}
.sidebar .widget-about .widget-title,
.single-service .widget-about .widget-title {
	color: $invert_accent_color_1;
}