/* Header */

.top-panel .social-list .menu-item > a,
.top-panel__message i {
	color: $regular_accent_color_2;
}
.top-panel .social-list .menu-item > a:hover {
	color: $regular_accent_color_1;
}

.site-header-cart .site-header-cart__wrapper .cart-contents:hover i:before {
	color: $regular_accent_color_2;
}

.site-header.style-4 .header-nav-wrapper:before {
	background-color: $regular_accent_color_1;
}

/* Tabs */
.invert .elementor-accordion .elementor-tab-title {
	background-color: rgb(56,65,76);
}
.invert .elementor-accordion .elementor-tab-title.elementor-active {
	background-color: $regular_accent_color_1;
}

/* Elementor icon */
.elementor-view-stacked .elementor-icon {
	color: $invert_accent_color_1;
}

/* Services */

.template-media-icon-bg .services-item-inner .service-slogan,
.template-sidebar-media-icon .services-item-inner:hover .title_wrap a {
	color: $invert_accent_color_1;
}

/* pricing */
.jet-elements .featured-table .pricing-table__title {
	color: $invert_accent_color_1;
}

/* testimonials */

.elementor .tm-testi--default-5 .tm-testi-slider__prev.swiper-button-prev::before, .elementor .tm-testi--default-5 .tm-testi-slider__next.swiper-button-next::before, .elementor .tm-testi--default-invert .tm-testi-slider__prev.swiper-button-prev:hover::before, .elementor .tm-testi--default-invert .tm-testi-slider__next.swiper-button-next:hover::before {
	background-color: $invert_accent_color_1;
}

.widget-area .invert .subscribe-block__message  {
	color: $invert_accent_color_1 !important;
}
/* Buttons */
.btn.btn-accent-2 i, .elementor-button-warning i {
	color: $regular_accent_color_1;
}
.btn.btn-accent-2:hover i, .elementor-button-warning a:hover i {
	color: $invert_accent_color_1;
}

.elementor-button-warning.invert a.elementor-size-lg:hover {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_1;
}
.elementor-button-warning.invert a.elementor-size-lg:hover i {
	color: $regular_accent_color_1;
}

.style-invert.elementor-element.elementor-button-warning a i {
	color: $invert_accent_color_1;
}

/* Footer */

.invert .footer-area .widget_categories a, .invert .footer-area .widget_archive a,
.footer-area .contact-information-widget__inner li a:hover {
	color: $invert_text_color;
}
.invert .footer-area .widget_categories a:hover, .invert .footer-area .widget_archive a:hover,
.invert .footer-area .widget-custom-posts .entry-title a:hover {
	color: $regular_accent_color_1;
}

/* widget */

.widget_nav_menu ul#menu-team li a:hover {
	color: $invert_accent_color_1;
}

/**/
.btn.btn-accent-1, .btn.btn-primary {
	color: $invert_accent_color_1;
}
.btn.btn-accent-2 {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-2 i, .elementor-button-warning i {
	color: $regular_accent_color_1;
}
.contact-block__icon {
	color: $regular_accent_color_1;
}
.site-header.style-4 .header-components .navbar-header-cart:before {
	background-color: $invert_accent_color_1;
}
.invert .site-header-cart .cart-contents .count {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.elementor-button, .elementor-button-link.elementor-button.elementor-size-md {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.elementor-element.elementor-button-info .elementor-button {
	color: $regular_accent_color_2;
	background-color: $invert_accent_color_1;;
}
.elementor-element.elementor-button-info .elementor-button-icon {
	color: $regular_accent_color_1;
}
.elementor-button-link.elementor-button.elementor-size-md:hover {
	background-color: $regular_accent_color_2;
}
.invert .elementor-button {
	color: $invert_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover i {
	color: $invert_accent_color_1;
}
.elementor-element.elementor-button-warning .elementor-button:hover {
	color: $invert_accent_color_1;
}
.elementor-counter .elementor-counter-title, .circle-counter__number {
	font-size: 14px;
}
.post__cats a {
	color: $invert_accent_color_1;
}
.social-list--footer.social-list a:hover {
	color: $regular_accent_color_1;
}
.footer-area .contact-information__item a {
	color: $regular_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover, .jet-sub-mega-menu ul > li.menu-item-type-custom a:hover, .jet-sub-mega-menu ul > li.menu-item-object-page a:hover, .jet-sub-mega-menu ul > li.menu-item-object-projects a:hover {
	color: $invert_accent_color_1;
}
.projects-container .projects-item .overflow-content .post__cats a {
	color: $invert_accent_color_1;
}
.template-sidebar-media-icon .services-item .service-icon i, .template-sidebar-media-icon .services-item .services-item-inner:hover .service-icon i {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button .jet-download__label {
	color: $regular_accent_color_2;
}
.jet-download.elementor-button .jet-download__sub-label{
	color: $regular_text_color;
}
.jet-download.elementor-button .jet-download__icon,
.jet-download.elementor-button:before {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button {
	-webkit-box-shadow:inset 0 0 0 4px $regular_accent_color_1;
	box-shadow:inset 0 0 0 4px $regular_accent_color_1;
}
.jet-download.elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	-webkit-box-shadow:inset 0 0 0 0 $regular_accent_color_1;
	box-shadow:inset 0 0 0 0 $regular_accent_color_1;
}
.jet-download.elementor-button:hover .jet-download__icon,
.jet-download.elementor-button:hover:before,
.jet-download.elementor-button:hover .jet-download__label,
.jet-download.elementor-button:hover .jet-download__sub-label {
	color: $invert_accent_color_1;
}
.wpcf7-submit, .post-password-form label + input {
	color: $invert_accent_color_1;
}

.jet-posts__inner-box .entry-meta .posted-by a {
	color: $regular_accent_color_1;
}
.jet-posts__inner-box .entry-meta .posted-by a:hover {
	color: $regular_text_color;
}
.jet-posts .entry-title a:hover,
.template-media-icon-bg .title_wrap a:hover,
.cherry-team.team-wrap.template-default .team-listing .team-item .team-listing_name a:hover {
	color: $regular_accent_color_1;
}
.elementor-view-stacked .elementor-icon {
	color: $invert_accent_color_1;
}

.tparrows:hover::before {
	color: $regular_accent_color_1 !important;
}

.site-header.style-4 .header-nav-wrapper:before {
	background: $regular_accent_color_1;
}

.widget_categories a:hover, .widget_archive a:hover,.widget-custom-posts .entry-title a:hover {
	color: $regular_accent_color_1;
}

#toTop {
	color: $invert_accent_color_1;
}

.cherry-search .cherry-search__more-button {
	color: $invert_accent_color_1;
}

.footer-copyright a:hover {
	color: $invert_accent_color_1;
}
.posts-list .post__button.btn__icon i {
	color: $regular_accent_color_1;
}
.tm-pg_front_gallery .load-more-button .btn {
	color: $invert_accent_color_1;
}

.invert .search-form__toggle:hover {
	color: $regular_accent_color_2;
}

.tm-testi--default-3 .tm-testi__item-body .tm-testi__item-meta-content .tm-testi__item-name, {
	font-weight: bold;
}

.template-media-icon-bg-2 .services-item .service-icon, 
.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	color: $regular_accent_color_1;
}

.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:hover:after {
	color: $invert_accent_color_1;
}

body:not(.jet-mobile-menu-active) .main-navigation .menu > li:hover > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.menu-hover > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current_page_item > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current_page_ancestor > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current-menu-item > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current-menu-ancestor > a {
	color: $regular_accent_color_2;
}

/* woo */
.woocommerce a.button, .woocommerce button.button, .woocommerce button.button.tm-woocompare-empty, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce-mini-cart__buttons a.button.wc-forward, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button.add_to_cart_button.loading:hover, .woocommerce a.button.ajax_add_to_cart, .woocommerce button.button.btn.tm-wc-ajax-load-more-button, .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn, .woocommerce span.featured {
	color: $invert_accent_color_1;
}

.woocommerce.single-product div.product form.cart .button, .woocommerce .single-product div.product form.cart .button {
	color: $invert_accent_color_1;
}

.products .product .block_product_thumbnail .tm-quick-view a:hover {
	color: $invert_accent_color_1;
}