/* Header */
.site-header.style-4 .header-nav-wrapper:before {
	background: transparent;
}
@media (max-width: 1024px) {
	.site-header .header-container.transparent:not(.isStuck) {
		background: $header_bg_color;
	}
}

.site-header .header-container.invert .header-btn:hover {
	background: $invert_accent_color_1;
	color: $regular_link_color;
}
/* Menu */
.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li > a:hover,
.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.menu-hover > a,
.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.tm-mega-menu-hover > a,
.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current_page_item > a,
.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current_page_ancestor > a,
.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current-menu-item > a,
.site-header.style-4 .invert .main-navigation.main-menu-style-1 .menu > li.current-menu-ancestor > a {
	background: transparent;
	color: $regular_link_color;
}

.invert .main-navigation .sub-menu a {
	color: $invert_link_color;
}

/* Contact block */
.invert .contact-block.contact-block--header .contact-block__icon {
	color: $regular_link_color;
}
.invert .contact-block.contact-block--header,
.invert .contact-block.contact-block--header .contact-block__text,
.invert .contact-block.contact-block--header a[href^="tel:"],
.invert .contact-block.contact-block--header .contact-block__text a {
	color: $invert_text_color;
}

/* Top panel */
.invert .top-panel__menu .menu-item a {
	color: $invert_text_color;
}
.invert .top-panel__menu .menu-item a:hover,
.invert .top-panel__menu .menu-item.current-menu-item a,
.invert .top-panel__menu .menu-item.current_page_item a {
	color: $regular_link_color;
}
.invert .top-panel__menu + [class*="-link"] {
	color: $invert_text_color;
}
.invert .top-panel__menu + [class*="-link"]:hover {
	color: $regular_link_color;
}
.invert.top-panel .top-panel__message {
	color: $invert_text_color;
}
.invert.top-panel .top-panel__message i {
	color: $invert_accent_color_1;
}

/* Social */
.invert .social-list a {
	color: $invert_link_color;
}

/* Services */
.template-media-icon-bg-3 .services-item-inner .service-slogan {
	color: $invert_link_hover_color;
}
.template-media-icon-bg-3 .service-icon {
	color: $regular_link_color;
}
.template-media-icon-bg-3 .services-item-overflow::after {
	color: $invert_accent_color_1;
}
.template-media-icon-bg-3 .services-item .image_wrap::after {
	background-color: $regular_accent_color_2;
}
@media (min-width: 600px) {
	.template-media-icon-bg-3 .services-item .services-item-overflow .content_wrap .services-macros{
		color: $invert_h6_color;
	}
	.template-media-icon-bg-3 .title_wrap a {
		color: $invert_link_color;
	}
	.template-media-icon-bg-3 .title_wrap a:hover {
		color: $regular_link_color;
	}
	.template-media-icon-bg-3 .btn-link:hover,
	.template-media-icon-bg-3 .btn-link:after {
		color: $invert_accent_color_1;
	}
}

/* Subscribe and follow */
.invert .subscribe-block__message {
	color: $invert_h6_color;
}

.sidebar #buildwall_widget_subscribe_follow-2 .subscribe-block__message {
	color: $invert_h6_color;
}

/* Search */
.invert .search-form__toggle:hover,
.invert .search-form__close:hover {
	color: $regular_link_color;
}
.invert .header-search .cherry-search form.cherry-search__form button.search-submit {
	color: $regular_accent_color_2;
}
.mobile-panel .header-search .cherry-search form.cherry-search__form button.search-submit {
	color: $invert_link_color;
}
.invert .header-search .cherry-search-wrapper input[type='search']::-webkit-input-placeholder { color: $regular_text_color; }
.invert .header-search .cherry-search-wrapper input[type='search']::-moz-placeholder          { color: $regular_text_color; }
.invert .header-search .cherry-search-wrapper input[type='search']:-moz-placeholder           { color: $regular_text_color; }
.invert .header-search .cherry-search-wrapper input[type='search']:-ms-input-placeholder      { color: $regular_text_color; }
.transparent .invert .header-search .cherry-search form.cherry-search__form button.search-submit:hover {
	color: $regular_link_color;
}

.header-search .cherry-search-wrapper .cherry-search__label:before {
	color: $regular_accent_color_1;
}

/* Jet posts */
.jet-posts .jet-posts__inner-box[style^="background-"] .jet-posts__inner-content {
	background: @alpha($regular_accent_color_2, 70);
}
.jet-posts .jet-posts__inner-box[style^="background-"] .jet-posts__inner-content:hover {
	background: @alpha($regular_accent_color_2, 90);
}

.invert .posted-by a {
	color: $invert_text_color;
}
invert .posted-by a:hover {
	color: $invert_link_color;
}

/* Widgets */
/* Nav menu */
.widget_nav_menu ul#menu-team li a:hover {
	color: $invert_link_color;
}

/* Revolution slider */
.tparrows {
	background-color: @alpha($regular_accent_color_2, 80);
	color: $invert_link_color;
}
.tparrows:hover {
	color: $regular_link_color;
	background-color: @alpha($regular_accent_color_2, 80);
}

/* wpcf7 */
.elementor-contact-form-7 .wpcf7 .wpcf7-form span.label-text .reqired_icon {
	color: $regular_accent_color_1;
}


/* Woocommerce */
.invert .site-header-cart .cart-contents .count {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
.invert .site-header-cart .site-header-cart__wrapper .cart-contents:hover i {
	color: $regular_link_color;
}
.transparent .invert .search-form__close:hover {
	color: $regular_link_color
}

/**/
.btn.btn-accent-1, .btn.btn-primary {
	color: $invert_accent_color_1;
}
.btn.btn-accent-2 {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-2 i, .elementor-button-warning i {
	color: $regular_accent_color_1;
}
.contact-block__icon {
	color: $regular_accent_color_1;
}
.site-header.style-4 .header-components .navbar-header-cart:before {
	background-color: $invert_accent_color_1;
}
.elementor-button, .elementor-button-link.elementor-button.elementor-size-md {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.elementor-element.elementor-button-info .elementor-button {
	color: $regular_accent_color_2;
	background-color: $invert_accent_color_1;;
}
.elementor-element.elementor-button-info .elementor-button-icon {
	color: $regular_accent_color_1;
}
.elementor-button-link.elementor-button.elementor-size-md:hover {
	background-color: $regular_accent_color_2;
}
.invert .elementor-button {
	color: $invert_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover i {
	color: $invert_accent_color_1;
}
.elementor-element.elementor-button-warning .elementor-button:hover {
	color: $invert_accent_color_1;
}
.elementor-counter .elementor-counter-title, .circle-counter__number {
	font-size: 14px;
}
.post__cats a {
	color: $invert_accent_color_1;
}
.social-list--footer.social-list a:hover {
	color: $regular_accent_color_1;
}
.footer-area .contact-information__item a {
	color: $regular_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover, .jet-sub-mega-menu ul > li.menu-item-type-custom a:hover, .jet-sub-mega-menu ul > li.menu-item-object-page a:hover, .jet-sub-mega-menu ul > li.menu-item-object-projects a:hover {
	color: $invert_accent_color_1;
}
.projects-container .projects-item .overflow-content .post__cats a {
	color: $invert_accent_color_1;
}
.template-sidebar-media-icon .services-item .service-icon i, .template-sidebar-media-icon .services-item .services-item-inner:hover .service-icon i {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button .jet-download__label {
	color: $regular_accent_color_2;
}
.jet-download.elementor-button .jet-download__sub-label{
	color: $regular_text_color;
}
.jet-download.elementor-button .jet-download__icon,
.jet-download.elementor-button:before {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button {
	-webkit-box-shadow:inset 0 0 0 4px $regular_accent_color_1;
	box-shadow:inset 0 0 0 4px $regular_accent_color_1;
}
.jet-download.elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	-webkit-box-shadow:inset 0 0 0 0 $regular_accent_color_1;
	box-shadow:inset 0 0 0 0 $regular_accent_color_1;
}
.jet-download.elementor-button:hover .jet-download__icon,
.jet-download.elementor-button:hover:before,
.jet-download.elementor-button:hover .jet-download__label,
.jet-download.elementor-button:hover .jet-download__sub-label {
	color: $invert_accent_color_1;
}
.wpcf7-submit, .post-password-form label + input {
	color: $invert_accent_color_1;
}

.jet-posts__inner-box .entry-meta .posted-by a {
	color: $regular_accent_color_1;
}
.jet-posts__inner-box .entry-meta .posted-by a:hover {
	color: $regular_text_color;
}
.jet-posts .entry-title a:hover,
.template-media-icon-bg .title_wrap a:hover,
.cherry-team.team-wrap.template-default .team-listing .team-item .team-listing_name a:hover {
	color: $regular_accent_color_1;
}
.elementor-view-stacked .elementor-icon {
	color: $invert_accent_color_1;
}

.tparrows:hover::before {
	color: $regular_accent_color_1 !important;
}

.site-header.style-4 .header-nav-wrapper:before {
	background: $regular_accent_color_1;
}

.widget_categories a:hover, .widget_archive a:hover,.widget-custom-posts .entry-title a:hover {
	color: $regular_accent_color_1;
}

#toTop {
	color: $invert_accent_color_1;
}

.cherry-search .cherry-search__more-button {
	color: $invert_accent_color_1;
}

.footer-copyright a:hover {
	color: $invert_accent_color_1;
}

.template-media-icon .services-item .title_wrap a:hover {
	color: $regular_accent_color_1;
}
.posts-list .post__button.btn__icon i {
	color: $regular_accent_color_1;
}
.tm-pg_front_gallery .load-more-button .btn {
	color: $invert_accent_color_1;
}
.jet-animated-box-icon-inner i {
	color: $invert_accent_color_1;
}

.cherry-projects-wrapper .projects-filters ul.projects-filters-list li.active span,
.cherry-projects-wrapper .projects-filters ul.projects-filters-list li span:hover {
	color: $regular_accent_color_1;
}

.jet-subscribe-form .jet-subscribe-form__submit:hover {
	background-color: $invert_accent_color_1;
}

.elementor-icon, .elementor-view-framed .elementor-icon {
	color: $regular_accent_color_1;
}
.jet-slider .jet-slider__button-wrapper .jet-slider__button--primary {
	color: $invert_accent_color_1;
}

.tm-testi--default-3 .tm-testi__item-body .tm-testi__item-meta-content .tm-testi__item-name, {
	font-weight: bold;
}

.template-media-icon-bg-2 .services-item .service-icon, 
.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	color: $regular_accent_color_1;
}

.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:hover:after {
	color: $invert_accent_color_1;
}

.jet-subscribe-form__message .jet-subscribe-form__message-inner {
	color: $invert_accent_color_1;
}

.site .wpcf7 .ajax-loader {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjBweCIgIGhlaWdodD0iMjBweCIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiBjbGFzcz0ibGRzLXJvbGxpbmciPiAgICA8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuY29sb3J9fSIgbmctYXR0ci1zdHJva2Utd2lkdGg9Int7Y29uZmlnLndpZHRofX0iIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIyMCIgcj0iMzUiIHN0cm9rZS1kYXNoYXJyYXk9IjE2NC45MzM2MTQzMTM0NjQxNSA1Ni45Nzc4NzE0Mzc4MjEzOCI+ICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGNhbGNNb2RlPSJsaW5lYXIiIHZhbHVlcz0iMCA1MCA1MDszNjAgNTAgNTAiIGtleVRpbWVzPSIwOzEiIGR1cj0iMC45cyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPiAgICA8L2NpcmNsZT4gIDwvc3ZnPg==);
}

/* woo */
.woocommerce a.button, .woocommerce button.button, .woocommerce button.button.tm-woocompare-empty, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce-mini-cart__buttons a.button.wc-forward, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button.add_to_cart_button.loading:hover, .woocommerce a.button.ajax_add_to_cart, .woocommerce button.button.btn.tm-wc-ajax-load-more-button, .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn {
	color: $invert_accent_color_1;
}

.woocommerce.single-product div.product form.cart .button, .woocommerce .single-product div.product form.cart .button {
	color: $invert_accent_color_1;
}