.elementor-accordion {
	padding: 0;

	.elementor-accordion-item {
		position: relative;
		&:not(:first-child) {
			.single &, .invert &  {
				margin-top: 9px;
			}
		}
		.single &, .invert & {
			border: none;
		}
		&:focus, &:hover {
			outline: none;
		}
	}

	.elementor-tab-title {
		padding: 25px 39px;
		position: relative;
		text-transform: uppercase;
		transition: .3s all ease;
		.single & {
			border: none;
			border: 1px solid;
		}
		&:active, &:focus {
			outline: none;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 3px;
			z-index: -1;
			opacity: 0;
			transition: .3s all ease;
		}
		&:focus, &:hover {
			outline: none;
		}
		&:hover {
			padding: 25px 30px;
			:after {
				opacity: 1;
			}
		}

		.elementor-accordion-icon {
			.fa {
				&:before {
					@include nucleo-mini-icon;
					content: '\ea16';
					font-size: $icons_small;
				}
			}
		}
		&.elementor-active {
			.elementor-accordion-icon {
				.fa {
					&:before {
						content: '\ea17';
					}
				}
			}
		}
	}
	.elementor-tab-content {
		border: none;
		border-top: 1px solid;
		padding: 29px 36px 45px;
		.single & {
			border: none;
		}
		h5 {
			text-transform: none;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 14px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	img.alignleft {
		display: block;
		margin-bottom: 15px;
		float: none;

		@include media-breakpoint-up(md) {
			margin-right: 20px;
			margin-top: 4px;
			margin-bottom: 0;
			display: inline;
			float: left;
		}
	}
	img.alignright {
		display: block;
		margin-bottom: 15px;
		float: none;

		@include media-breakpoint-up(md) {
			margin-left: 20px;
			margin-top: 4px;
			margin-bottom: 0;
			display: inline;
			float: right;
		}
	}
}
