.elementor-element .elementor-jet-animated-box {
	.jet-animated-box {
		&__front,
		&__back {
			padding: 21px 23px;
			.jet-animated-box__content {
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-content: flex-start;
				align-items: center;
			}
		}
		&__inner {
			flex-flow: nowrap;
		}
		&__title {
			margin-top: 8px;
			margin-bottom: 0;
			line-height: 1.1em;
			width: 100%;
		}

		&__subtitle {
			margin-bottom: 7px;
			text-transform: none;
		}

		&__description {
			width: 100%;
			margin-bottom: 20px;
		}

		&__icon {
			min-width: auto;
			.jet-animated-box-icon-inner {
				margin-bottom: 0;
				margin-right: 9px;
			}
			i {
				font-size: 44px;
			}
		}
		
		&__icon,
		&__title,
		&__subtitle,
		&__description {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}