.elementor-counter {
	.elementor-counter-title {
		margin-top: 0;
		@media (min-width: 1025px) {
			text-align: left;
			margin-top: -1px;
		}
	}
	.elementor-counter-number-prefix {
		@media (min-width: 1025px) {
			flex-grow: 0;
		}
	}
}