.elementor-widget-icon-box {
	.elementor-icon-box-description {
		a {
			color: inherit;
			text-decoration: underline;
			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}
	}
	.elementor-icon-box-title {
		width: 100%;
	}
	&.elementor-position-top {
		.elementor-icon-box-title {
			margin-bottom: 9px;
		}
	}

	&.elementor-shape-circle {
		.elementor-icon {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				opacity: .4;
				background-color: inherit;
				border-radius: 50%;
				transition: .3s all ease;
				z-index: -1;
			}
		}
		&:hover {
			.elementor-icon {
				&:after {
					transform: scale(1.15);
				}
			}
		}

	}

	.elementor-icon-box-wrapper {
		@include elementor-mini-30-columns {
			@include media-breakpoint-up(md) {
				.elementor-icon-box-icon {
					margin-bottom: 13px;
				}
			}
		}
	}
}
