.elementor-widget-icon-list {
	.elementor-icon-list-item {
		& + .elementor-icon-list-item {
			margin-top: 5px;
			.jet-sub-mega-menu & {
				margin-top: 0;
			}
		}
		.jet-sub-mega-menu & {
			a {
				padding: 7px 30px 7px 15px;
				@media all and ( min-width:768px ) {
					padding: 7px 30px;
				}
			}
		}
	}
	.elementor-icon-list-icon {
		i {
			font-size: 12px;
			&.fa.fa-check {
				&:before {
					@include nucleo-mini-icon;
					content: '\ea21';
				}
			}
		}
	}
	.elementor-icon-list-text {
		padding-left: 10px;
	}
}
