.elementor-section {
	z-index: 1;
}

.elementor-column-gap-default {
	&.elementor-container {
		display: block;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;

		.elementor-container,
		.content-layout-boxed & {
			padding-left: 0;
			padding-right: 0;
		}
	}
	> .elementor-row {
		width: auto;
		margin-left: $grid-gutter-width / -2;
		margin-right: $grid-gutter-width / -2;

		.elementor-section-full_width & {
			margin-left: 0;
			margin-right: 0;
		}
		
		> .elementor-column:not(.elementor-column-custom-padding) {
			> .elementor-element-populated {
				padding: 0 $grid-gutter-width / 2;
			}
		}
	}
}

.elementor-page.page.position-fullwidth {
	.site-content_wrap {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.elementor {
	.col-row {
		margin-left: $grid-gutter-width / -2;
		margin-right: $grid-gutter-width / -2;

		> div {
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 40px;
		height: 40px;

		&:before {
			@include nucleo-mini-icon;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
			padding: 0;
			opacity: 1;
		}
	}
	.swiper-button-prev {
		left: 20px;

		&:before {
			content: '\e927';
		}
	}
	.swiper-button-next {
		right: 20px;

		&:before {
			content: '\e928';
		}
	}

	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		opacity: 1;
	}
}

