.jet-posts {
	.jet-posts__inner-box {
		.jet-posts__inner-content {
			.jet-sub-mega-menu & {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-content: stretch;
				align-items: flex-start;
				.entry-title, .entry-excerpt, .jet-more-wrap {
					order: 1;
				}
				.entry-title {
					margin-top: 3px;
				}
				.entry-excerpt {
					margin-top: 0;
				}
				&:not(:first-child) {
					margin-top: 15px;
				}
			}
			.entry-title {
				margin-bottom: 4px;
			}
		}
		&[style^="background-"] {
			.jet-posts__inner-content {
				background: rgba($color__bg-overlay, .9);
				.overflow-content {
					margin-top: 0;
					padding: 30px 25px;
					overflow: hidden;
					text-align: left;
					z-index: 2;
					top: 100%;
					height: 320px;
					left: 0;
					right: 0;
					transform: translateY(0);
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-content: center;
					align-items: flex-start;
					@include media-breakpoint-up(sm) {
						padding: 42px 40px 22px;
					}
				}
				&:hover {
					.hover-style-2 {
						.overflow-content {
							.posts-header-content {
								transform: translateY(-100px);
								opacity: 0;
								@include transition(all 0.28s cubic-bezier(0.650, 0.045, 0.295, 0.955));
							}
							.posts-middle-content {
								transform: translateY(0%);
								margin-top: -11px;
								.entry-excerpt { 
									opacity: 1;
									@include transition(all 0.35s cubic-bezier(0.910, 0.025, 0.750, 0.750));
								}
								@include transition(all 0.48s cubic-bezier(0.620, 0.165, 0.000, 1.000));
							}
							.posts-footer-content-hover {
								transform: translateY(150px);
								opacity: 0;

								@include transition(all 0.35s cubic-bezier(0.650, 0.045, 0.295, 0.955));
							}
							.posts-footer-content {
								.jet-more-wrap {
									margin-left: 0;
									@include transition(all 0.48s cubic-bezier(0.650, 0.045, 0.295, 0.955));
								}
							}

						}
					}
				}
				.hover-style-2 {
					overflow: hidden;
					position: relative;
					.overflow-content {
						.posts-header-content, .posts-footer-content-hover {
							position: absolute;
							@include transition(all 0.62s cubic-bezier(0.650, 0.045, 0.295, 0.955));
						}
						.posts-middle-content{
							height: 100%;
							width: 100%;
							position: relative;
							transform: translateY(50%);
							margin-top: -50px;
							.entry-title {
								margin-top: 0;
								padding-bottom: 9px;
								width: 100%;
								@include media-breakpoint-down(sm) {
									font-size: 22px;
								}
								@include media-breakpoint-up(xl) {
									width: 74%;
								}
							}
							.entry-excerpt {
								position: absolute;
								opacity: 0;
								@include transition(all 0.25s ease);
							}
							@include transition(all 0.5s cubic-bezier(0.620, 0.165, 0.000, 1.000));
						}
						.posts-footer-content {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							justify-content: space-between;
							align-content: stretch;
							align-items: flex-start;
							.jet-more-wrap {
								@include transition(all 0.4s cubic-bezier(0.620, 0.165, 0.000, 1.000));
							}
							.jet-more-wrap {
								margin-left: -200px;
							}
						}
						.posts-footer-content-hover {
							bottom: 26px;
							margin: 0; 
							transform: translateY(0);
							opacity: 1;
							@include transition(all 0.45s cubic-bezier(0.650, 0.045, 0.295, 0.955));
							.cherry-postss-single-details-list {
								margin: 0px;
							}
						}
					}	
				}
			}
			.btn.btn-primary {
				padding: 0;
				background: transparent;
				&:after {
					@include nucleo-mini-icon();
					content: "\e904";
					position: relative;
					display: inline-block;
					font-size: $icons_small;
					margin-left: 6px;
				}
			}
			.entry-title {
				position: relative;
				&:before {
					bottom: 0;
					content: '';
					position: absolute;
					display: block;
					width: 18px;
					height: 3px;
				}
			}
		}
		> * {
			&:not(:first-child) {
				margin-top: 20px;

				&.entry-meta,
				&.entry-excerpt {
					margin-top: 10px;
				}
			}
		}
		.entry-meta .posted-by:not(:last-child) {
			margin-right: 19px;
		}
		.entry-excerpt {
			margin-top: 10px;
		}
		.btn.btn-primary {
			i {
				font-size: $icons_small;
			}
		}
		.post__cats {
			.jet-sub-mega-menu & {
				display: none;
			}
		}
		.post-thumbnail__wrap {
			position: relative;
			.post__cats {
				position: absolute;
				top: 15px;
				left: 15px;
				@include media-breakpoint-up(lg) {
					top: 20px;
					left: 20px;
				}
				z-index: 2;
			}
		}
	}
}
