.elementor-jet-pricing-table {
	.pricing-table {
		padding: 0;
	}
	.pricing-table__heading {
		padding: 33px 25px 23px 27px;
		position: relative;
		border: 1px solid;
		border-bottom-width: 2px;
		text-align: left;
	}
	.pricing-table__icon {
		position: absolute;
		text-align: left;
		top: -10px;
		left: -10px;

		i {
			width: 60px;
			height: 60px;
			border-radius: 50%;

			&:before {
				font-size: 25px;
				line-height: 60px;
			}
		}
		& + .pricing-table__title {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.pricing-table__title {
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 2px;
	}
	.pricing-table__subtitle {
		text-transform: none;
		margin-top: 19px;
	}

	.pricing-table__price {
		display: block;
		vertical-align: middle;
		padding: 22px 0 6px;
		.pricing-table__price-prefix {
			display: inline-block;
			vertical-align: super;
			position: relative;
		}
		.pricing-table__price-prefix,
		.pricing-table__price-val {
			line-height: 1;
		}
		.pricing-table__price-suffix {
			display: block;
			font-size: .86em;
		}
	}

	.pricing-table {
		> div {
			&:not(.pricing-table__heading) {
				&:nth-last-child(2),
				&:last-child {
					padding-top: 30px;
					padding-left: 29px;
					padding-right: 30px;
				}
				&:last-child {
					border-radius: 0;
					padding-bottom: 41px;
				}
			}
		}
		&.featured-table {
			.pricing-table__price {
			}
			> div {
				&:not(.pricing-table__heading) {
					&:nth-last-child(2),
					&:last-child {
						border-left-width: 1px;
						border-left-style: solid;

						border-right-width: 1px;
						border-right-style: solid;
					}
					&:last-child {
						border-bottom-width: 1px;
						border-bottom-style: solid;
					}
				}
			}
		}
	}

	.pricing-table__action {
		> * + * {
			margin-top: 5px;
		}
	}

	.elementor-button {
		@include media-breakpoint-up(lg) {
			display: block;
			width: 100%;
		}
	}
}

.pricing-table__features {
	.pricing-feature {
		display: block;

		.pricing-feature__inner {
		}
		&.item-included {}

		& + .pricing-feature {
			margin-top: 6px;
		}
	}
}
