.elementor-progress-wrapper {
	height: 20px;
	line-height: 20px;
	border-radius: 0;
	margin-top: 43px;
	.elementor-progress-bar {
		border-radius: 0;
	}
}
.elementor-progress-percentage {
	padding-right: 0px;
	font-size: 24px;
	line-height: 22px;
	height: 20px;
	position: absolute;
	right: 0;
	top: -37px;
}
.elementor-widget-progress {
	.elementor-title {
		margin-bottom: 12px;
		margin-top: 8px;
		display: block;
		padding-right: 70px;
		& + .elementor-progress-wrapper{
			margin-top: 0;
		}
	}
	.elementor-progress-text {
		height: 20px;
	}
}
