.elementor-widget-toggle {
	.elementor-widget-container {

	}
}
.elementor-toggle {
	.elementor-toggle-title, .elementor-tab-title {
		position: relative;
		padding: 33px 0;
		border-bottom: none;
		border-top: 1px solid;
		position: relative;
		transition: .3s all ease;
		text-transform: uppercase;
		display: flex;
		&:after {
			content: '';
			position: absolute;
			top: 13px;
			bottom: 13px;
			left: 0;
			right: 0;
			border-radius: 3px;
			z-index: -1;
			opacity: 0;
			transition: .3s all ease;
		}
		&.elementor-active {
			padding: 33px 0 15px;
		}
		&:active, &:focus {
			outline: none;
		}
		&:hover {
			outline: none;
			&:after {
				opacity: 1;
			}
		}

		&:first-child {
			border-bottom: none;
		}
		.elementor-toggle-icon {
			position: relative;
			top: 1px;
			width: 16px;
			margin-right: 8px;
			.fa {
				&:before {
					@include nucleo-mini-icon;
					content: '\e904';
					font-size: 14px;
				}
			}
		}
		&.active, &.elementor-active {
			.elementor-toggle-icon {
				.fa {
					&:before {
						@include nucleo-mini-icon;
						content: '\e902';
					}
				}
			}
		}
	}
	.elementor-tab-content {
		border-bottom: 0;
		padding: 0 25px 39px;
		.alignleft {
			margin-right: 29px;
		}
		ul:not([class]) {
			margin-top: 14px;
			li {
				& + li {
					margin-top: 6px;
				}
				&:before {
					@include nucleo-mini-icon;
					content: "\ea20";
					font-size: 14px;
					margin-right: 11px;
					width: auto;
					height: auto;
					background-color: transparent;
					transform: translateY(0);
				}
			}
		}
	}
	.elementor-toggle-content {
		border: none;
		padding: 0 0 23px;
		margin-top: -10px;

		p:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	img.alignleft {
		display: block;
		margin-bottom: 15px;
		float: none;

		@include media-breakpoint-up(md) {
			margin-right: 20px;
			margin-top: 6px;
			margin-bottom: 0;
			display: inline;
			float: left;
		}
	}
	img.alignright {
		display: block;
		margin-bottom: 15px;
		float: none;

		@include media-breakpoint-up(md) {
			margin-left: 20px;
			margin-top: 6px;
			margin-bottom: 0;
			display: inline;
			float: right;
		}
	}
}
