/**
 * variables-wootheme.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically.
 *
 */

/**
 *  Woo-Variables
 */

$wooborder_color: #e6e8e8;

$woo_pink: #ea3d4e;

$woo_yellow: #febf01;

$woo_black: #000000;

$woo_green: #41a33a;
$woo_green_1: #ecf6eb;

$woo_grey: #b9bdcd;

$woo_comment_bg: #f8f8f8;

$woo_stars_col: #d3ced2;

$woo_payment_box_bg: #86cbee;

$woo_info_bg: #e6faf5;

$loader-width: 30px;

$border-width: 3px;
