/* header */
.site-header .social-list .menu-item > a {
	color: $regular_accent_color_2;
}
.site-header .social-list .menu-item > a:hover  {
	color: $regular_accent_color_1;
}

/* Revolution slider */
.tparrows {
	color: $invert_accent_color_1;
	background-color: @alpha($regular_accent_color_2, 70%);
}
.tparrows:hover {
	color: $regular_accent_color_1;
}

.construction.tparrows:hover {
	color: $invert_accent_color_1 !important;
	background-color: $regular_accent_color_1 !important;
}


/* jet posts */

.jet-posts .jet-posts__inner-box .entry-excerpt,
.jet-posts .jet-posts__inner-box .post__date a,
.jet-posts .jet-posts__inner-box .entry-meta .post__comments a {
	color: $regular_accent_color_3
}

.invert .jet-posts .invert .posted-by a,
.jet-posts .jet-posts__inner-box .post__date a:hover,
.jet-posts .jet-posts__inner-box .entry-meta .posted-by,
.jet-posts .jet-posts__inner-box .entry-meta .post__comments a:hover {
	color: $regular_accent_color_1;
}

/* Jet-animated-box */
.jet-animated-box-icon-inner i,
.jet-animated-box .jet-animated-box__title,
.jet-animated-box .jet-animated-box__subtitle,
.jet-animated-box .jet-animated-box__description {
	color: $invert_accent_color_1;
}

.elementor-element .elementor-jet-animated-box .jet-animated-box__front {
	background-color: $regular_accent_color_1;
}

.jet-animated-box .jet-animated-box__back {
	background-color: $regular_accent_color_2;
}

.jet-animated-box .jet-animated-box__back .jet-animated-box__title,
.jet-animated-box .jet-animated-box__back .jet-animated-box__subtitle,
.jet-animated-box .jet-animated-box__back .jet-animated-box__description {
	color: $invert_accent_color_1;
}
.jet-animated-box .jet-animated-box__back .jet-animated-box-icon-inner i {
	color: $regular_accent_color_1;
}

.jet-animated-box .jet-animated-box__button--back {
	color: $invert_accent_color_1;
}

.jet-animated-box .jet-animated-box__button--back:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}

/* TM testi */
.tm-testi--default-3 .tm-testi__item-body {
	border-color: $grey_color_3;
}

/* Footer */
.footer-area .widget-title {
	color: $regular_accent_color_1;
}
.contact-information-widget .icon, .contact-information-widget__inner li .icon {
	color: $regular_accent_color_2;
}

.footer-area-wrap.invert {
	color: $regular_accent_color_3;
}
.footer-area-wrap.invert .widget-title {
	color: $invert_accent_color_1;
}
.footer-area-wrap .widget_recent_entries a {
	font-weight: $h4_font_weight;
	font-family: @font_family( $h4_font_family );
	font-size: $h6_font_size{px};
	color: $regular_accent_color_1;
}
.footer-area-wrap .widget_recent_entries a:hover {
	color: $invert_accent_color_1;
}

.footer-area-wrap.invert .widget.widget_categories a:before,
.footer-area-wrap.invert .widget.widget_archive a:before {
	color: $regular_accent_color_1;
}
.footer-area-wrap .widget.widget_categories a,
.footer-area-wrap .widget.widget_archive a {
	color: $regular_accent_color_3;
} 
.footer-area-wrap .widget.widget_categories a:hover,
.footer-area-wrap .widget.widget_archive a:hover {
	color: $invert_accent_color_1;
} 
.footer-area-wrap .elementor-widget .elementor-icon-list-item a:hover {
	color: $regular_accent_color_1;
}

/**/
.btn.btn-accent-1, .btn.btn-primary {
	color: $regular_accent_color_2;
}
.btn.btn-accent-2 {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-2 i, .elementor-button-warning i {
	color: $regular_accent_color_1;
}
.contact-block__icon {
	color: $regular_accent_color_1;
}
.site-header.style-4 .header-components .navbar-header-cart:before {
	background-color: $invert_accent_color_1;
}
.invert .site-header-cart .cart-contents .count {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.elementor-button, .elementor-button-link.elementor-button.elementor-size-md {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.elementor-element.elementor-button-info .elementor-button {
	color: $regular_accent_color_2;
	background-color: $invert_accent_color_1;;
}
.elementor-element.elementor-button-info .elementor-button-icon {
	color: $regular_accent_color_1;
}
.elementor-button-link.elementor-button.elementor-size-md:hover {
	background-color: $regular_accent_color_2;
}
.invert .elementor-button {
	color: $invert_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover i {
	color: $regular_accent_color_2;
}
.elementor-element.elementor-button-warning .elementor-button:hover {
	color: $invert_accent_color_1;
}
.elementor-counter .elementor-counter-title, .circle-counter__number {
	font-size: 14px;
}

.dropcaps {
	color: $regular_accent_color_2;
}
.post__cats a {
	color: $regular_accent_color_2;
}
.post__button-wrap .btn.btn-accent-2:hover,
.post__button-wrap .btn.btn-accent-2:hover i {
	color: 	$regular_accent_color_2;
}
.social-list--footer.social-list a:hover {
	color: $regular_accent_color_1;
}
.footer-area .contact-information__item a {
	color: $regular_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover, .jet-sub-mega-menu ul > li.menu-item-type-custom a:hover, .jet-sub-mega-menu ul > li.menu-item-object-page a:hover, .jet-sub-mega-menu ul > li.menu-item-object-projects a:hover {
	color: $regular_accent_color_2;
}
.projects-container .projects-item .overflow-content .post__cats a {
	color: $invert_accent_color_1;
}
.template-sidebar-media-icon .services-item .service-icon i, .template-sidebar-media-icon .services-item .services-item-inner:hover .service-icon i {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button .jet-download__label {
	color: $regular_accent_color_2;
}
.jet-download.elementor-button .jet-download__sub-label{
	color: $regular_text_color;
}
.jet-download.elementor-button .jet-download__icon,
.jet-download.elementor-button:before {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button {
	-webkit-box-shadow:inset 0 0 0 4px $regular_accent_color_1;
	box-shadow:inset 0 0 0 4px $regular_accent_color_1;
}
.jet-download.elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	-webkit-box-shadow:inset 0 0 0 0 $regular_accent_color_1;
	box-shadow:inset 0 0 0 0 $regular_accent_color_1;
}
.jet-download.elementor-button:hover .jet-download__icon,
.jet-download.elementor-button:hover:before,
.jet-download.elementor-button:hover .jet-download__label,
.jet-download.elementor-button:hover .jet-download__sub-label {
	color: $invert_accent_color_1;
}


.jet-posts__inner-box .entry-meta .posted-by a {
	color: $regular_accent_color_1;
}
.jet-posts__inner-box .entry-meta .posted-by a:hover {
	color: $regular_text_color;
}
.jet-posts .entry-title a:hover,
.template-media-icon-bg .title_wrap a:hover,
.cherry-team.team-wrap.template-default .team-listing .team-item .team-listing_name a:hover {
	color: $regular_accent_color_1;
}
.elementor-view-stacked .elementor-icon {
	color: $invert_accent_color_1;
}

.site-header.style-4 .header-nav-wrapper:before {
	background: $regular_accent_color_2;
}

.widget_categories a:hover, .widget_archive a:hover,.widget-custom-posts .entry-title a:hover {
	color: $regular_accent_color_1;
}

#toTop {
	color: $regular_accent_color_2;
}

.jet-download.elementor-button:hover .jet-download__icon, .jet-download.elementor-button:hover:before, .jet-download.elementor-button:hover .jet-download__label, .jet-download.elementor-button:hover .jet-download__sub-label {
	color: $regular_accent_color_2;
}

.cherry-search .cherry-search__more-button {
	color: $regular_accent_color_2;
}

.footer-copyright a:hover {
	color: $invert_accent_color_1;
}
.posts-list .post__button.btn__icon i {
	color: $regular_accent_color_1;
}
.tm-pg_front_gallery .load-more-button .btn {
	color: $invert_accent_color_1;
}

.invert .search-form__toggle:hover {
	color: $regular_accent_color_1;
}

.tm-testi--default-3 .tm-testi__item-body .tm-testi__item-meta-content .tm-testi__item-name, {
	font-weight: bold;
}

.template-media-icon-bg-2 .services-item .service-icon, 
.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	color: $regular_accent_color_1;
}

.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:hover:after {
	color: $invert_accent_color_1;
}
.invert-style.elementor-widget-button .elementor-button-link.elementor-size-lg {
	color: $invert_accent_color_1;
}

body:not(.jet-mobile-menu-active) .main-navigation .menu > li:hover > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.menu-hover > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current_page_item > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current_page_ancestor > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current-menu-item > a, body:not(.jet-mobile-menu-active) .main-navigation .menu > li.current-menu-ancestor > a {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}

.jet-portfolio.preset-type-4 .jet-portfolio__content-inner,
.jet-portfolio.preset-type-2 .jet-portfolio__cover,
.jet-portfolio.preset-type-1 .jet-portfolio__content-inner {
	background-color: rgba(34,41,49,0.9);
}
.error-404.not-found .page-title,
.error-404.not-found .page-content h2,
.error-404.not-found .page-content h6 {
	color: $invert_accent_color_1;
}

.jet-portfolio.preset-type-2 .jet-portfolio__cover i {
	color: $regular_accent_color_1;
}

.services-menu-icons .elementor-icon-box-content .elementor-icon-box-title a:hover {
	color: $regular_accent_color_1 !important;
}

.header-btn-wrap .btn.btn-accent-1 {
	color: $regular_accent_color_2;
}
.header-btn-wrap .btn.btn-accent-1:hover {
	color: $invert_accent_color_1;
}

.header-container .contact-block__icon {
	color: $regular_accent_color_2;
}

footer .invert .jet-subscribe-form .elementor-button.jet-subscribe-form__submit {
	color: $regular_accent_color_2;
}
footer .invert .jet-subscribe-form .elementor-button.jet-subscribe-form__submit:hover {
	color: $invert_text_color;
}

/* woo */
.woocommerce a.button, .woocommerce button.button, .woocommerce button.button.tm-woocompare-empty, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce-mini-cart__buttons a.button.wc-forward, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button.add_to_cart_button.loading:hover, .woocommerce a.button.ajax_add_to_cart, .woocommerce button.button.btn.tm-wc-ajax-load-more-button, .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn {
	color: $regular_accent_color_2;
}

.woocommerce.single-product div.product form.cart .button, .woocommerce .single-product div.product form.cart .button {
	color: $invert_accent_color_1;
}

.woocommerce span.featured {
	background-color: $regular_accent_color_1;
}
.shopping_cart-dropdown-wrap .woocommerce.widget_shopping_cart .cart_list li a.remove {
	color: $regular_accent_color_2 !important;
}
.woocommerce a.button.ajax_add_to_cart,
.woocommerce a.button,
.woocommerce-mini-cart__buttons a.button.wc-forward,
.woocommerce a.button.alt,
.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel #commentform p.form-submit #submit {
	color: $regular_accent_color_2;
}
.woocommerce a.button.ajax_add_to_cart:hover,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order:hover {
	color: 	$invert_accent_color_1;
}

.woocommerce.single-product .single_product_wrapper .entry-summary .product_meta span > * {
	color: rgb(206, 207, 208);
}
.woocommerce.single-product .single_product_wrapper .entry-summary .product_meta span > a:hover {
	color: $regular_accent_color_2;
}

.woocommerce.single-product div.product form.cart .button, .woocommerce .single-product div.product form.cart .button,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	color: $regular_accent_color_2;
}
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .coupon.comment-form-url .button:hover,
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions button[name='update_cart'].button:hover {
	color: $regular_accent_color_1;
}