/* Cherry team */
.cherry-team.template-default .team-item .team-listing_position:after {
	background: $grey_color_2;
}
.cherry-team.team-wrap.template-default .team-meta_item.position {
	color: $regular_accent_color_1;
}
.cherry-team.team-wrap.template-default .team-listing_name {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}

/* Social */
.invert .social-list a {
	color: $invert_link_color;
}

/* Subscribe and follow */
#buildwall_widget_subscribe_follow-2 .subscribe-follow__custom-bg.invert .subscribe-block__message {
	color: $invert_h6_color;
}

/* Jet posts */
.invert .posted-by a {
	color: $invert_text_color;
}
.invert .posted-by a:hover {
	color: $invert_link_color;
}

/* jet menu */
.invert .jet-menu .woocommerce a.button.product_type_variable:hover {
	background: $invert_link_color;
	color: $regular_link_color;
}
.invert .jet-menu .product .product-categories li a:hover {
	color: $invert_link_color;
}
.invert .jet-menu .product h3 a:hover {
	color: $regular_link_color;
}

/*Jet slider */
.jet-slider .sp-buttons .sp-button {
	background-color: $grey_color_2;
}

/**/
.btn.btn-accent-1, .btn.btn-primary {
	color: $invert_accent_color_1;
}
.btn.btn-accent-2 {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.btn.btn-accent-2:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.btn.btn-accent-2 i, .elementor-button-warning i {
	color: $regular_accent_color_1;
}
.contact-block__icon {
	color: $regular_accent_color_1;
}

.elementor-button, .elementor-button-link.elementor-button.elementor-size-md {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.elementor-element.elementor-button-info .elementor-button {
	color: $regular_accent_color_2;
	background-color: $invert_accent_color_1;;
}
.elementor-element.elementor-button-info .elementor-button-icon {
	color: $regular_accent_color_1;
}
.elementor-button-link.elementor-button.elementor-size-md:hover {
	background-color: $regular_accent_color_2;
}
.invert .elementor-button {
	color: $invert_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover i {
	color: $invert_accent_color_1;
}
.elementor-element.elementor-button-warning .elementor-button:hover {
	color: $invert_accent_color_1;
}
.elementor-counter .elementor-counter-title, .circle-counter__number {
	font-size: 14px;
}
.post__cats a {
	color: $invert_accent_color_1;
}
.social-list--footer.social-list a:hover {
	color: $regular_accent_color_1;
}
.footer-area .contact-information__item a {
	color: $regular_accent_color_1;
}
.jet-sub-mega-menu .elementor-widget-icon-list .elementor-icon-list-item a:hover, .jet-sub-mega-menu ul > li.menu-item-type-custom a:hover, .jet-sub-mega-menu ul > li.menu-item-object-page a:hover, .jet-sub-mega-menu ul > li.menu-item-object-projects a:hover {
	color: $invert_accent_color_1;
}
.projects-container .projects-item .overflow-content .post__cats a {
	color: $invert_accent_color_1;
}
.template-sidebar-media-icon .services-item .service-icon i, .template-sidebar-media-icon .services-item .services-item-inner:hover .service-icon i {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button .jet-download__label {
	color: $regular_accent_color_2;
}
.jet-download.elementor-button .jet-download__sub-label{
	color: $regular_text_color;
}
.jet-download.elementor-button .jet-download__icon,
.jet-download.elementor-button:before {
	color: $regular_accent_color_1;
}

.jet-download.elementor-button {
	-webkit-box-shadow:inset 0 0 0 4px $regular_accent_color_1;
	box-shadow:inset 0 0 0 4px $regular_accent_color_1;
}
.jet-download.elementor-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	-webkit-box-shadow:inset 0 0 0 0 $regular_accent_color_1;
	box-shadow:inset 0 0 0 0 $regular_accent_color_1;
}
.jet-download.elementor-button:hover .jet-download__icon,
.jet-download.elementor-button:hover:before,
.jet-download.elementor-button:hover .jet-download__label,
.jet-download.elementor-button:hover .jet-download__sub-label {
	color: $invert_accent_color_1;
}
.wpcf7-submit, .post-password-form label + input {
	color: $invert_accent_color_1;
}

.jet-posts__inner-box .entry-meta .posted-by a {
	color: $regular_accent_color_1;
}
.jet-posts__inner-box .entry-meta .posted-by a:hover {
	color: $regular_text_color;
}
.jet-posts .entry-title a:hover,
.template-media-icon-bg .title_wrap a:hover,
.cherry-team.team-wrap.template-default .team-listing .team-item .team-listing_name a:hover {
	color: $regular_accent_color_1;
}
.elementor-view-stacked .elementor-icon {
	color: $invert_accent_color_1;
}

.tparrows:hover::before {
	color: $regular_accent_color_1 !important;
}

.site-header.style-4 .header-nav-wrapper:before {
	background: $regular_accent_color_2;
}

.widget_categories a:hover, .widget_archive a:hover,.widget-custom-posts .entry-title a:hover {
	color: $regular_accent_color_1;
}

#toTop {
	color: $invert_accent_color_1;
}

.cherry-search .cherry-search__more-button {
	color: $invert_accent_color_1;
}

.footer-copyright a:hover, footer .social-list a {
	color: $invert_accent_color_1;
}


.tm-pg_front_gallery .load-more-button .btn,.elementor-element.elementor-button-warning .elementor-button:hover i {
	color: $invert_accent_color_1;
}

.projects-container .projects-item .project-content.style-3 .project-entry-title a, .style-3 .cherry-projects-single-details-list ul li span {
	color: $regular_accent_color_2;
}

.projects-container .projects-item .project-content.style-3 .project-entry-title a:hover ,.cherry-projects-wrapper .projects-filters ul.projects-filters-list li.active span, .cherry-projects-wrapper .projects-filters ul.projects-filters-list li span:hover, .cherry-projects-wrapper ul.order-filters > li span.current, .template-media-icon .services-item .title_wrap a:hover, .posts-list .post__button.btn__icon i,.header-search .cherry-search form.cherry-search__form button.search-submit, .cherry-projects-single-details-list ul li, .jet-animated-box-icon-inner i {
	color: $regular_accent_color_1;
}

.template-media-icon-bg-2 .services-item-inner:before {
	background-color: $grey_color_1; 
}
.template-media-icon-bg-2 .services-item .service-icon {
	color: $regular_accent_color_1;
}

.tm-testi--default-3 .tm-testi__item-body .tm-testi__item-meta-content .tm-testi__item-name, {
	font-weight: bold;
}

.template-media-icon-bg-2 .services-item .service-icon, 
.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	color: $regular_accent_color_1;
}

.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:hover:after {
	color: $invert_accent_color_1;
}

/* woo */
.woocommerce a.button, .woocommerce button.button, .woocommerce button.button.tm-woocompare-empty, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce-mini-cart__buttons a.button.wc-forward, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button.add_to_cart_button.loading:hover, .woocommerce a.button.ajax_add_to_cart, .woocommerce button.button.btn.tm-wc-ajax-load-more-button, .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn {
	color: $invert_accent_color_1;
}

.woocommerce.single-product div.product form.cart .button, .woocommerce .single-product div.product form.cart .button, .woocommerce span.featured {
	color: $invert_accent_color_1;
}

.products .product .block_product_thumbnail .tm-quick-view a:hover {
	color: $invert_accent_color_1;
}