/*!
Skin Name: equipment-rental
*/
/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.00806rem;
  padding-right: 1.00806rem; }
  @media (min-width: 600px) {
    .container {
      max-width: 640px; } }
  @media (min-width: 900px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1120px; } }
  @media (min-width: 1600px) {
    .container {
      max-width: 1440px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.00806rem;
  padding-right: 1.00806rem; }
  .container-fluid:before, .container-fluid:after {
    content: none !important; }

.container-wide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.01613rem;
  padding-right: 2.01613rem; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.00806rem;
  margin-right: -1.00806rem; }
  .row:before, .row:after {
    content: none !important; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1.00806rem;
  padding-right: 1.00806rem;
  float: none; }

.col-xs-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 600px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 900px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1600px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.33333%; }
  .col-xl-pull-2 {
    right: 16.66667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.33333%; }
  .col-xl-pull-5 {
    right: 41.66667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.33333%; }
  .col-xl-pull-8 {
    right: 66.66667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.33333%; }
  .col-xl-pull-11 {
    right: 91.66667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.33333%; }
  .col-xl-push-2 {
    left: 16.66667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.33333%; }
  .col-xl-push-5 {
    left: 41.66667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.33333%; }
  .col-xl-push-8 {
    left: 66.66667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.33333%; }
  .col-xl-push-11 {
    left: 91.66667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.col-xs-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.col-xs-last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media (min-width: 600px) {
  .col-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-sm-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 900px) {
  .col-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-md-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1200px) {
  .col-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-lg-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1600px) {
  .col-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-xl-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.row-xs-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.row-xs-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row-xs-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

@media (min-width: 600px) {
  .row-sm-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-sm-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-sm-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 900px) {
  .row-md-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-md-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-md-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 1200px) {
  .row-lg-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-lg-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-lg-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 1600px) {
  .row-xl-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-xl-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-xl-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

.col-xs-top {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-xs-center {
  -ms-flex-item-align: center;
  align-self: center; }

.col-xs-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (min-width: 600px) {
  .col-sm-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-sm-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-sm-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 900px) {
  .col-md-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-md-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-md-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 1200px) {
  .col-lg-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-lg-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-lg-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 1600px) {
  .col-xl-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-xl-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-xl-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
.jet-menu > .jet-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .jet-menu > .jet-menu-item > a {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    padding: 10px; }
  @media (min-width: 768px) {
    .jet-menu > .jet-menu-item .top-level-link {
      padding: 10px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 768px) {
    .jet-menu > .jet-menu-item .top-level-link {
      padding: 14px 13px 13px 14px; } }

.jet-menu-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .jet-menu-item-wrapper .jet-menu-icon {
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 10px; }
    .label-hidden .jet-menu-item-wrapper .jet-menu-icon {
      margin-right: 0;
      margin-left: 0; }
  .jet-menu-item-wrapper .jet-dropdown-arrow {
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 7px;
    margin-top: -3px; }
  .jet-menu-item-wrapper .jet-menu-badge {
    display: none;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: center;
    width: 0; }
    @media all and (max-width: 767px) {
      .jet-menu-item-wrapper .jet-menu-badge.jet-hide-mobile .jet-menu-badge__inner {
        display: none; } }
    .jet-menu-item-wrapper .jet-menu-badge__inner {
      display: inline-block; }

@media (min-width: 900px) {
  .jet-menu > .jet-menu-item.jet-simple-menu-item:first-child > .jet-sub-menu {
    margin-left: -1.00806rem; } }

.jet-sub-menu {
  min-width: 180px; }
  @media (min-width: 900px) {
    .jet-sub-menu {
      min-width: 270px; } }
  .jet-sub-menu > li > a {
    padding: 7px 31px 9px 28px; }
  .jet-sub-menu > li > .jet-sub-menu {
    margin-top: 0; }
    @media (min-width: 768px) {
      .jet-sub-menu > li > .jet-sub-menu {
        margin-top: -24px; } }

@media all and (max-width: 1024px) {
  .jet-sub-mega-menu .elementor-column-wrap.elementor-element-populated {
    border-width: 0 !important; } }

.jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-type-custom,
.jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-object-page,
.jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-object-projects {
  position: relative;
  display: block;
  width: 100%; }
  .jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-type-custom a,
  .jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-object-page a,
  .jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-object-projects a {
    display: block;
    padding: 7px 30px 7px 15px;
    text-align: left;
    text-transform: none; }
    @media all and (min-width: 768px) {
      .jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-type-custom a,
      .jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-object-page a,
      .jet-sub-mega-menu .elementor-column-wrap ul > li.menu-item-object-projects a {
        padding: 7px 31px 9px 30px; } }

ul.jet-sub-menu {
  padding-top: 0;
  padding-bottom: 0; }
  @media (min-width: 768px) {
    ul.jet-sub-menu {
      padding-top: 24px;
      padding-bottom: 24px; } }

.admin-bar.jet-mobile-menu-active .jet-mobile-menu-toggle-button {
  top: 46px; }

.jet-mobile-menu-toggle-button {
  width: 62px;
  height: 60px;
  display: none;
  position: fixed;
  padding: 0;
  border-width: 0;
  left: 0;
  top: 0;
  outline: none; }
  .jet-mobile-menu-toggle-button:active {
    outline: none; }
  .jet-mobile-menu-toggle-button .jet-menu-toggle__icon {
    display: inline-block;
    font-family: 'nc-icon-mini';
    line-height: 1;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 60px;
    vertical-align: top; }
    .jet-mobile-menu-toggle-button .jet-menu-toggle__icon::after {
      top: .75em;
      content: '\ea99'; }
  .jet-mobile-menu-visible .jet-mobile-menu-toggle-button .jet-menu-toggle__icon::after {
    content: '\ea5c'; }

/* Wishlist compare buttons */
.jet-menu .woocommerce .block_product_content .content_bottom_wrap_block {
  display: none; }

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
.elementor-button {
  line-height: 2;
  display: inline-block;
  max-width: 100%;
  padding: 17px 29px 15px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-width: 0;
  line-height: 1.32em;
  border-style: solid;
  letter-spacing: 0.05em;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  text-transform: uppercase;
  /* Icon */
  /* Sizes */ }
  .elementor-button, .elementor-button:hover {
    text-decoration: none; }
  .elementor-button:focus {
    outline: 0; }
  .elementor-button:active {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .entry-content .elementor-button {
    text-decoration: none; }
  .elementor-button:hover, .elementor-button:focus, .elementor-button:visited {
    opacity: 1; }
  .elementor-button .elementor-button-icon {
    font-size: 10px;
    line-height: 1.5;
    margin-right: 9px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    .elementor-button .elementor-button-icon.elementor-align-icon-right {
      margin-right: 0;
      margin-left: 9px;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
  .elementor-button.elementor-size-xs, .elementor-button.elementor-size-sm, .elementor-button.elementor-size-md, .elementor-button.elementor-size-lg, .elementor-button.elementor-size-xl {
    border-radius: 0; }
  .single-team .elementor-button.elementor-size-xs,
  .single-team .elementor-button.elementor-size-sm,
  .single-team .elementor-button.elementor-size-md,
  .single-team .elementor-button.elementor-size-lg,
  .single-team .elementor-button.elementor-size-xl {
    border-radius: 0; }
  .elementor-button.elementor-size-xs {
    font-size: 80%;
    padding: 9px 20px; }
  .elementor-button.elementor-size-sm {
    font-size: 90%;
    padding: 11px 25px; }
  .jet-sub-mega-menu .elementor-button.elementor-size-md {
    font-size: 14px;
    border-radius: 0; }
  .single-team .elementor-button.elementor-size-md, .elementor-button.elementor-size-md {
    padding: 17px 29px 15px;
    border-radius: 0; }
    .single-team .elementor-button.elementor-size-md.jet-more, .elementor-button.elementor-size-md.jet-more {
      padding: 17px 29px 15px; }
  .single-team .elementor-button.elementor-size-lg, .elementor-button.elementor-size-lg {
    font-size: 100%;
    padding: 17px 29px 15px; }
    .single-team .elementor-button.elementor-size-lg .elementor-button-icon, .elementor-button.elementor-size-lg .elementor-button-icon {
      font-size: 14px;
      line-height: 1; }
  .elementor-button.elementor-size-xl {
    font-size: 120%;
    padding: 17px 40px; }
  .elementor-button .elementor-button-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .elementor-button .elementor-button-content-wrapper > * {
      float: none; }
  .elementor-button .elementor-button-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn,
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'] {
  line-height: 2;
  display: inline-block;
  max-width: 100%;
  padding: 17px 29px 15px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-width: 0;
  line-height: 1.32em;
  border-style: solid;
  letter-spacing: 0.05em;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  text-transform: uppercase; }
  .btn, .btn:hover,
  form button,
  form button:hover,
  form input[type='button'],
  form input[type='button']:hover,
  form input[type='reset'],
  form input[type='reset']:hover,
  form input[type='submit'],
  form input[type='submit']:hover {
    text-decoration: none; }
  .btn:focus,
  form button:focus,
  form input[type='button']:focus,
  form input[type='reset']:focus,
  form input[type='submit']:focus {
    outline: 0; }
  .btn:active,
  form button:active,
  form input[type='button']:active,
  form input[type='reset']:active,
  form input[type='submit']:active {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-fullwidth,
  form button.btn-fullwidth,
  form input[type='button'].btn-fullwidth,
  form input[type='reset'].btn-fullwidth,
  form input[type='submit'].btn-fullwidth {
    width: 100%; }
  .btn.btn-large,
  form button.btn-large,
  form input[type='button'].btn-large,
  form input[type='reset'].btn-large,
  form input[type='submit'].btn-large {
    font-size: 16.875px;
    font-size: 1.125rem;
    font-weight: 800;
    padding: 15px 35px; }
    .btn.btn-large.btn-icon,
    form button.btn-large.btn-icon,
    form input[type='button'].btn-large.btn-icon,
    form input[type='reset'].btn-large.btn-icon,
    form input[type='submit'].btn-large.btn-icon {
      padding-left: 25px;
      padding-right: 25px; }
  .btn.btn-icon,
  form button.btn-icon,
  form input[type='button'].btn-icon,
  form input[type='reset'].btn-icon,
  form input[type='submit'].btn-icon {
    padding-left: 19px;
    padding-right: 19px; }
  .btn.btn-icon--left .btn__icon,
  form button.btn-icon--left .btn__icon,
  form input[type='button'].btn-icon--left .btn__icon,
  form input[type='reset'].btn-icon--left .btn__icon,
  form input[type='submit'].btn-icon--left .btn__icon {
    margin-right: 9px; }
  .btn.btn-icon--right,
  form button.btn-icon--right,
  form input[type='button'].btn-icon--right,
  form input[type='reset'].btn-icon--right,
  form input[type='submit'].btn-icon--right {
    direction: rtl; }
    .btn.btn-icon--right .btn__icon,
    form button.btn-icon--right .btn__icon,
    form input[type='button'].btn-icon--right .btn__icon,
    form input[type='reset'].btn-icon--right .btn__icon,
    form input[type='submit'].btn-icon--right .btn__icon {
      margin-left: 9px; }
  .btn[class*="btn"][class*="btn-"]:active,
  form button[class*="btn"][class*="btn-"]:active,
  form input[type='button'][class*="btn"][class*="btn-"]:active,
  form input[type='reset'][class*="btn"][class*="btn-"]:active,
  form input[type='submit'][class*="btn"][class*="btn-"]:active {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn .btn__icon,
  form button .btn__icon,
  form input[type='button'] .btn__icon,
  form input[type='reset'] .btn__icon,
  form input[type='submit'] .btn__icon {
    font-size: 22.5px;
    font-size: 1.5rem; }
  .btn .btn__icon,
  .btn .btn__text,
  form button .btn__icon,
  form button .btn__text,
  form input[type='button'] .btn__icon,
  form input[type='button'] .btn__text,
  form input[type='reset'] .btn__icon,
  form input[type='reset'] .btn__text,
  form input[type='submit'] .btn__icon,
  form input[type='submit'] .btn__text {
    vertical-align: middle; }

.link,
.btn-link {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .link:hover,
  .btn-link:hover {
    text-decoration: none; }

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header-btn i {
    font-size: 14px;
    line-height: 1;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .header-btn.header-icon-left i {
    margin-right: 10px;
    margin-bottom: 2px; }
  .header-btn.header-icon-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .header-btn.header-icon-right i {
      margin-left: 10px; }

/*--------------------------------------------------------------
## Fields
--------------------------------------------------------------*/
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
  padding: 11.5px 19px 16.5px;
  border: none;
  line-height: 1.5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-appearance: none;
  border-radius: 0; }
  i + input[type='text'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap > input[type='text'], i +
  input[type='email'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='email'], i +
  input[type='url'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='url'], i +
  input[type='password'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='password'], i +
  input[type='search'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='search'], i +
  input[type='number'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='number'], i +
  input[type='tel'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='tel'], i +
  input[type='range'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='range'], i +
  input[type='date'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='date'], i +
  input[type='month'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='month'], i +
  input[type='week'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='week'], i +
  input[type='time'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='time'], i +
  input[type='datetime'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='datetime'], i +
  input[type='datetime-local'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='datetime-local'], i +
  input[type='color'].comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  input[type='color'], i +
  select.comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  select, i +
  textarea.comment-form__field,
  .wpcf7 i + .wpcf7-form-control-wrap >
  textarea {
    padding-left: 49px; }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='url']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='number']:focus,
  input[type='tel']:focus,
  input[type='range']:focus,
  input[type='date']:focus,
  input[type='month']:focus,
  input[type='week']:focus,
  input[type='time']:focus,
  input[type='datetime']:focus,
  input[type='datetime-local']:focus,
  input[type='color']:focus,
  select:focus,
  textarea:focus {
    outline: 0;
    background-color: #ffffff; }

input[type='date'] {
  padding: 11.5px 19px 12.5px;
  height: 45px; }

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'] {
  min-height: 45px; }

input[type='file'] {
  line-height: 1.5; }

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'] {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

select {
  max-width: 100%; }

textarea {
  width: 100%;
  height: 196px;
  min-height: 196px;
  vertical-align: top;
  resize: vertical;
  overflow: auto; }
  textarea.big-size {
    height: 241px; }

/* Input Placeholders */
::-webkit-input-placeholder {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  color: inherit; }

::-moz-placeholder {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  color: inherit; }

:-moz-placeholder {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  color: inherit; }

:-ms-input-placeholder {
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  color: inherit; }

::-moz-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

.input-with-icon {
  position: relative; }
  .input-with-icon > i {
    position: absolute;
    top: 11px;
    right: 0;
    width: 43px;
    text-align: center;
    z-index: 10; }
    .input-with-icon > i + br {
      display: none; }
    .input-with-icon > i + input,
    .input-with-icon > i ~ .wpcf7-form-control-wrap input {
      padding-right: 32px; }

.input-button-with-icon {
  position: relative; }
  .input-button-with-icon > i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 30px;
    width: 15px;
    text-align: center;
    z-index: 10; }

/*--------------------------------------------------------------
## Search-form
--------------------------------------------------------------*/
.search-form {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative; }
  .site-header .search-form:not(.cherry-search__form) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: -999em;
    left: 25px;
    right: 60px;
    margin: 0;
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
    transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
    -o-transition: opacity .3s ease-out, transform .3s ease-out;
    transition: opacity .3s ease-out, transform .3s ease-out;
    transition: opacity .3s ease-out, transform .3s ease-out, -webkit-transform .3s ease-out; }
  .site-header.search-active .search-form:not(.cherry-search__form) {
    top: 50%;
    opacity: 1;
    visibility: visible;
    z-index: 3;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .site-header .mobile-panel .search-form:not(.cherry-search__form) {
    left: 55px; }
  .search-form__toggle {
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: relative;
    display: inline-block; }
    .search-form__toggle:before {
      content: '\ea66'; }
    .site-header.search-active .search-form__toggle {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px); }
  .search-form__close {
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    opacity: 0;
    margin-left: 25px;
    visibility: hidden; }
    .search-form__close:before {
      content: '\ea18'; }
    .site-header.search-active .search-form__close {
      -webkit-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      transition: all .5s ease-out;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 1;
      visibility: visible; }
    .site-header .mobile-panel .search-form__close {
      right: 20px; }
  .search-form__input-wrap {
    position: relative;
    -webkit-box-flex: 5;
    -ms-flex: 5 1 185px;
    flex: 5 1 185px;
    min-width: 185px; }
    @media (min-width: 900px) {
      .sidebar-1-4 .sidebar .search-form__input-wrap {
        -webkit-box-flex: 5;
        -ms-flex: 5 1 150px;
        flex: 5 1 150px;
        min-width: 150px; } }
    .site-header .search-form__input-wrap {
      margin: 0;
      min-width: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
      .site-header .search-form__input-wrap:before {
        display: inline-block;
        font-family: 'nc-icon-mini';
        line-height: 1;
        speak: none;
        text-transform: none;
        /* Better Font Rendering */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\ea66';
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1; }
  .search-form__field[type='search'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 50px; }
    .site-header .search-form__field[type='search'] {
      padding: 12.5px 80px 15.5px 45px;
      background: none;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .site-header .search-form__field[type='search']:focus {
        background: none; }
    .widget_search .search-form__field[type='search'] {
      height: 50px; }
  .search-form__submit {
    z-index: 1;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
    @media (max-width: 599px) {
      .search-form__submit {
        padding-left: 15px;
        padding-right: 15px; } }
    .sidebar .search-form__submit {
      padding-left: 13px;
      padding-right: 13px; }
    .page-content .search-form__submit {
      max-height: 45px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 45px; }
    .widget_search .search-form__submit {
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -9999em;
      width: 45px;
      height: 45px;
      padding: 0; }
      .widget_search .search-form__submit, .widget_search .search-form__submit.btn {
        background: none;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .widget_search .search-form__submit:active, .widget_search .search-form__submit:hover, .widget_search .search-form__submit.btn:active, .widget_search .search-form__submit.btn:hover {
          -webkit-box-shadow: none;
          box-shadow: none;
          background: none; }
      .widget_search .search-form__submit:after {
        display: inline-block;
        font-family: 'nc-icon-mini';
        line-height: 1;
        speak: none;
        text-transform: none;
        /* Better Font Rendering */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\ea66';
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 14px; }
    @media (min-width: 600px) {
      .footer-area:not(.footer-area--fullwidth) .search-form__submit {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (min-width: 900px) {
      .sidebar-1-4 .sidebar .search-form__submit {
        padding-left: 15px;
        padding-right: 15px; } }
    .site-header .search-form .search-form__submit {
      background: none !important;
      border: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      line-height: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding: 0;
      position: relative;
      top: 1px; }

/*--------------------------------------------------------------
## Comment-form
--------------------------------------------------------------*/
.comment-respond {
  border-top: 1px solid;
  padding-top: 33px; }
  .comment-list .comment-respond {
    margin-top: 35px;
    margin-bottom: 35px;
    border-top: 1px dashed; }

.comment-reply-title {
  margin-bottom: 23px; }
  .comment-reply-title #cancel-comment-reply-link {
    float: right;
    margin-left: 10px;
    font-size: 12px; }

.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url {
  position: relative; }
  .comment-form-comment .label-text, .comment-form-author .label-text, .comment-form-email .label-text, .comment-form-url .label-text {
    display: block;
    margin-bottom: 2px; }

.comment-form-comment {
  margin: 0; }

.comment-form-author, .comment-form-email, .comment-form-url {
  margin: 0 0 26px 0; }

.comment-form .form-submit {
  margin: 30px 0 0 0; }

.comment-form__field {
  width: 100%;
  vertical-align: top; }

.comment-form .logged-in-as,
.comment-form .comment-notes {
  margin: 0 0 20px; }

/*--------------------------------------------------------------
## Password-form
--------------------------------------------------------------*/
.post-password-form {
  text-align: center; }
  @media (min-width: 600px) {
    .post-password-form {
      text-align: left; } }
  .post-password-form label {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0; }
    .post-password-form label input[type="password"] {
      padding-top: 14px;
      padding-bottom: 13px; }
    .post-password-form label + input[type="submit"] {
      margin: 5px 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,
h2,
h4,
h5 {
  text-transform: uppercase; }

h1 {
  margin: 0 0 19px; }

h2 {
  margin: 0 0 12px; }

h3 {
  margin: 0 0 18px; }

h4 {
  margin: 0 0 16px; }

h5 {
  margin: 0 0 20px; }

h6 {
  margin: 0 0 11px; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0; }

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: 21px; }

h1.title-decoration, h2.title-decoration, h3.title-decoration, h4.title-decoration, h5.title-decoration, h6.title-decoration {
  padding-bottom: 19px;
  position: relative; }
  h1.title-decoration:before, h2.title-decoration:before, h3.title-decoration:before, h4.title-decoration:before, h5.title-decoration:before, h6.title-decoration:before {
    bottom: 0;
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 3px; }
  h1.title-decoration__top, h2.title-decoration__top, h3.title-decoration__top, h4.title-decoration__top, h5.title-decoration__top, h6.title-decoration__top {
    padding-bottom: 19px;
    position: relative;
    padding-bottom: 0;
    padding-top: 26px; }
    h1.title-decoration__top:before, h2.title-decoration__top:before, h3.title-decoration__top:before, h4.title-decoration__top:before, h5.title-decoration__top:before, h6.title-decoration__top:before {
      bottom: 0;
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 3px; }
    h1.title-decoration__top:before, h2.title-decoration__top:before, h3.title-decoration__top:before, h4.title-decoration__top:before, h5.title-decoration__top:before, h6.title-decoration__top:before {
      top: 0;
      bottom: auto; }
  h1.title-decoration__big, h2.title-decoration__big, h3.title-decoration__big, h4.title-decoration__big, h5.title-decoration__big, h6.title-decoration__big {
    padding-bottom: 19px;
    position: relative;
    padding-top: 34px; }
    h1.title-decoration__big:before, h2.title-decoration__big:before, h3.title-decoration__big:before, h4.title-decoration__big:before, h5.title-decoration__big:before, h6.title-decoration__big:before {
      bottom: 0;
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 3px; }
    h1.title-decoration__big:before, h1.title-decoration__big:after, h2.title-decoration__big:before, h2.title-decoration__big:after, h3.title-decoration__big:before, h3.title-decoration__big:after, h4.title-decoration__big:before, h4.title-decoration__big:after, h5.title-decoration__big:before, h5.title-decoration__big:after, h6.title-decoration__big:before, h6.title-decoration__big:after {
      width: 66px;
      height: 13px;
      top: 0; }
    h1.title-decoration__big.title-decoration__top, h2.title-decoration__big.title-decoration__top, h3.title-decoration__big.title-decoration__top, h4.title-decoration__big.title-decoration__top, h5.title-decoration__big.title-decoration__top, h6.title-decoration__big.title-decoration__top {
      padding-bottom: 19px;
      position: relative;
      padding-top: 34px;
      padding-top: 0;
      padding-bottom: 39px; }
      h1.title-decoration__big.title-decoration__top:before, h2.title-decoration__big.title-decoration__top:before, h3.title-decoration__big.title-decoration__top:before, h4.title-decoration__big.title-decoration__top:before, h5.title-decoration__big.title-decoration__top:before, h6.title-decoration__big.title-decoration__top:before {
        bottom: 0;
        content: '';
        position: absolute;
        display: block;
        width: 18px;
        height: 3px; }
      h1.title-decoration__big.title-decoration__top:before, h1.title-decoration__big.title-decoration__top:after, h2.title-decoration__big.title-decoration__top:before, h2.title-decoration__big.title-decoration__top:after, h3.title-decoration__big.title-decoration__top:before, h3.title-decoration__big.title-decoration__top:after, h4.title-decoration__big.title-decoration__top:before, h4.title-decoration__big.title-decoration__top:after, h5.title-decoration__big.title-decoration__top:before, h5.title-decoration__big.title-decoration__top:after, h6.title-decoration__big.title-decoration__top:before, h6.title-decoration__big.title-decoration__top:after {
        width: 66px;
        height: 13px;
        top: 0; }
      h1.title-decoration__big.title-decoration__top:before, h2.title-decoration__big.title-decoration__top:before, h3.title-decoration__big.title-decoration__top:before, h4.title-decoration__big.title-decoration__top:before, h5.title-decoration__big.title-decoration__top:before, h6.title-decoration__big.title-decoration__top:before {
        top: auto;
        bottom: 8px; }
      h1.title-decoration__big.title-decoration__top:after, h2.title-decoration__big.title-decoration__top:after, h3.title-decoration__big.title-decoration__top:after, h4.title-decoration__big.title-decoration__top:after, h5.title-decoration__big.title-decoration__top:after, h6.title-decoration__big.title-decoration__top:after {
        top: auto;
        bottom: 11px; }

p + h6 {
  margin-top: 27px; }

p {
  margin: 0 0 14px; }
  p:last-child {
    margin-bottom: 0; }

.dropcaps,
.single .post > .entry-content > p:first-of-type:first-letter {
  font-size: 22px;
  font-size: 1.46667rem;
  font-weight: 600;
  float: left;
  margin: 5px 13px 2px 0;
  line-height: 1;
  padding: 19px 25px;
  position: relative; }

@-moz-document url-prefix() {
  .dropcaps,
  .single .post > .entry-content > p:first-of-type:first-letter {
    padding: 17px 23px; } }

dfn, em, i {
  font-style: italic; }

cite {
  font-style: normal; }

address {
  margin: 0 0 1.4em; }

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  overflow: auto;
  max-width: 100%;
  margin: 0 0 1.5em;
  padding: 1.5em;
  background: #eee;
  border: 1px solid #d5d5d5;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 15px;
  font-size: 1rem; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1rem; }

code {
  padding: 2px; }

abbr, acronym {
  cursor: help;
  border-bottom: 1px dotted #777; }

mark, ins {
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid; }

big {
  font-size: 125%; }

.text-align-left {
  text-align: left; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

/* Header */
.site-header.style-4 .header-nav-wrapper {
  padding: 0; }
  .site-header.style-4 .header-nav-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 300%; }

.site-header.style-4 .header-components .navbar-header-cart:before {
  background-color: #e6e8e8; }

.site-header.style-4 .header-container.transparent {
  position: relative !important; }

.site-header .top-panel__message {
  font-size: 13px; }
  .site-header .top-panel__message i {
    font-size: 14px;
    margin-right: 5px; }

@media (min-width: 768px) {
  .jet-sub-menu > li > .jet-sub-menu {
    margin-top: 0; } }

.home .footer-area {
  padding: 118px 0 11px; }
  @media (max-width: 1199px) {
    .home .footer-area {
      padding: 54px 0 11px; } }

.footer-area-wrap.invert {
  background-repeat: no-repeat;
  background-size: cover; }

.footer-area-wrap .widget_recent_entries ul li {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .footer-area-wrap .widget_recent_entries ul li a {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .footer-area-wrap .widget_recent_entries ul li span {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .footer-area-wrap .widget_recent_entries ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #718eaa;
    opacity: 0.2; }
  .footer-area-wrap .widget_recent_entries ul li:first-child {
    margin-top: 0;
    padding-top: 0; }
    .footer-area-wrap .widget_recent_entries ul li:first-child:before {
      display: none; }

.footer-area-wrap .elementor-widget .elementor-icon-list-item a {
  width: auto;
  display: inline-block; }

.footer-area-wrap .elementor-widget .elementor-icon-list-icon + .elementor-icon-list-text {
  padding-left: 10px; }

.widget_archive a:before, .widget_categories a:before {
  top: 7px; }

.footer-area .widget_archive .widget-title, .footer-area .widget_categories .widget-title, .footer-area .widget-title {
  margin-bottom: 20px; }

/* TM testi */
.tm-testi--default-3 .tm-testi__item-body {
  border: 1px solid; }

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
  font-size: 9px; }

.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
  padding: 16px 28px; }

.jet-posts__inner-box .entry-meta {
  text-transform: uppercase; }

.services-menu-icons .elementor-icon-box-content .elementor-icon-box-title {
  margin: 0; }

.nodots .contact-information-widget__inner {
  list-style: none; }

/* Widgets */
footer .invert .jet-subscribe-form .jet-subscribe-form__submit span::before {
  display: none; }

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
  text-indent: 9999px; }

#toTop {
  width: 107px;
  height: 50px;
  line-height: 50px; }

.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
  display: inline-block;
  font-family: 'nc-icon-mini';
  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e904";
  position: relative;
  display: inline-block;
  font-size: 10px;
  margin-left: 6px; }

.widget_archive select, .widget_categories select,
.widget_archive label {
  height: 50px; }

.tm-testi--default-3 .tm-testi__item-body {
  border: 0; }

.elementor-element .jet-services__title-icon {
  line-height: 40px; }

@media (min-width: 1600px) {
  .footer-area--4-cols aside:nth-child(4n+1),
  .footer-area--4-cols aside:nth-child(4n+2) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; } }

@media (min-width: 1600px) {
  .footer-area--4-cols aside:nth-child(4n+3),
  .footer-area--4-cols aside:nth-child(4n+4) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; } }

.elementor-jet-slider.jet-elements {
  overflow: hidden; }

/* woo */
#page .products .product.product-list *:not(.star-rating) + a.button {
  padding: 13px 29px 11px;
  border-radius: 0; }

#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
  padding-top: 40px; }

#page .ajax_add_to_cart, #page .add_to_cart_button {
  border-radius: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3; }

.tm-quick-view-popup .tm-quick-view-popup__content {
  max-height: 100vh;
  min-height: 200px;
  overflow-y: scroll;
  max-width: 100%;
  min-width: 290px; }

@media (max-width: 767px) {
  .tm-quick-view-popup .tm-quick-view-popup__content {
    max-width: 100%;
    padding: 20px;
    margin: 0 -40px; }
  button.quick-view-close {
    color: grey !important; }
  .woocommerce.single-product div.product .single_product_wrapper .enlarge {
    left: 10px; } }

.woocommerce.single-product div.product .single_product_wrapper .enlarge i {
  top: 0;
  right: 0; }

.woocommerce-checkout .woocommerce .woocommerce-info {
  text-transform: none;
  font-size: 16px;
  line-height: 1em !important;
  padding: 20px 0 !important;
  letter-spacing: 0.4px;
  margin-bottom: 14px !important; }

.woocommerce.widget_shopping_cart .cart_list li a.remove:before {
  content: '\ea18';
  display: inline-block;
  font-family: 'nc-icon-mini';
  line-height: 1;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px; }

.woocommerce-checkout .woocommerce .checkout_coupon {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.woocommerce form.checkout_coupon .form-row-first {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  min-width: 185px; }

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .button {
  padding: 18px 29px 16px; }
  @media (min-width: 600px) {
    .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .button {
      padding: 18px 29px 16px 50px; } }

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions button[name='update_cart'].button {
  padding: 18px 29px 16px 45px; }

@media (max-width: 899px) {
  .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .input-button-with-icon > i {
    top: 28px; } }

@media (max-width: 899px) {
  .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions {
    padding: 20px; } }

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .coupon.comment-form-url .button {
  padding: 18px 29px 16px;
  margin-top: 15px; }
  @media (min-width: 600px) {
    .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .coupon.comment-form-url .button {
      padding: 18px 29px 16px 50px;
      margin-top: 0; } }

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions i.shopping_tag {
  top: 15px; }

.input-button-with-icon > i {
  left: 15px; }
