.site-header.style-4 {

	.row {
		align-items: center;
	}

	.header-container {
		padding-bottom: 0;
	}

	.header-nav-wrapper {
		@include media-breakpoint-up(sm) {
			padding: 0 10px;
			align-items: center;
		}
		@include media-breakpoint-up(lg) {
			padding-right: 30px;
			padding-left: $grid-gutter-width / 2;
		}
		.header-nav-wrapper {
			@include media-breakpoint-up(sm) {
				padding: 0 10px;
				align-items: center;
			}
			@include media-breakpoint-up(lg) {
				padding-right: 30px;
				padding-left: $grid-gutter-width / 2;
			}
		}
	}

	.header-nav-wrapper {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}

	.header-layout-fullwidth & {
		.header-nav-panel--fullwidth .header-nav-wrapper {
			padding-left: 0;
			padding-right: 0;

			.main-menu-style-1 {
				padding-left: 0;
			}

			&:before {
				width: 100vw;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 0;
			}
		}
	}

	.header-layout-boxed & {
		.header-nav-panel-fullwidth .header-nav-wrapper {
			padding-left: 0;
			padding-right: 0;

			.main-menu-style-1 {
				padding-left: 0;
			}

			&:before {
				width: calc(100% + #{$grid-gutter-width});
				left: $grid-gutter-width/-2;
				right: $grid-gutter-width/-2;
				border-radius: 0;
			}
		}
	}

	.header-nav-panel--over {
		.header-nav-wrapper {
			@include media-breakpoint-up(sm) {
				position: relative;

				&:before {
					@include border-bottom-radius();
				}
			}
		}

		&.header-menu--style-1 {
			.header-nav-wrapper {
				@include media-breakpoint-up(sm) {
					margin-top: -25.5px;
					top: 25.5px;
				}
			}
		}

		&.header-menu--style-2 {
			.header-nav-wrapper {
				@include media-breakpoint-up(sm) {
					margin-top: -30px;
					top: 30px;
				}
			}
		}
	}

	.site-branding {
		@include media-breakpoint-up(sm) {
			margin-top: 16px;
			margin-bottom: 16px;
		}
		.elementor-default & {
			@include media-breakpoint-up(lg) {
				margin-top: 16px;
				margin-bottom: 16px;
			}
		}
	}

	.main-navigation {
		&:only-child {
			@include media-breakpoint-up(md) {
				.menu {
					justify-content: flex-end;
				}
			}
		}
		.menu {
			@include media-breakpoint-up(sm) {
				margin-top: 0;
			}
		}

		&:not(.vertical-menu) .menu .sub-menu {
			margin-top: 0;

			.sub-menu {
				margin-top: 0;
			}
		}

		.menu > li > .sub-menu::before {
			height: 10px;
			top: -10px;
		}
	}
	

	.woo_not_exist .header-search  {
		@media (min-width: 768px) {
			width: calc(100%);
		}
		@media (min-width: 1200px) {
			width: calc(100% - 5px);
		}


	}

	.header-search {
		@media (min-width: 768px) {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 80px);
			height: 0;
			height: 100%;
			visibility: hidden;
		}
		@media (min-width: 1200px) {
			width: calc(100% - 100px);
		}
	}

	.header-components {
		position: relative;
		.search-form__toggle {
			@media (min-width: 768px) {
				margin-right: 49px;
			}
			&:last-child {
				margin-right: 0;
				@media (max-width: 1200px) {
					margin-right: 15px;
				}
				@media (max-width: 600px) {
					margin-right: 0px;
					margin-top: 5px;
				}
			}
		}
		.navbar-header-cart {
			position: relative;
			&:before {
				@media (min-width: 768px) {
					position: absolute;
					content: '';
					height: 30px;
					width: 1px;
					top: 50%;
					left: -26px;
					transform: translateY(-50%);
				}
			}
		}
	}

	&.search-active {
		.header-search {
			@media (min-width: 768px) {
				visibility: visible;
				z-index: 100;
			}
			.cherry-search__results-list {
				@include media-breakpoint-up(sm) {
					margin-left: 10px;
				}
			}
		}
		.site-branding, .navbar-header-cart {
			@media (min-width: 768px) {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}
	}

	.search-form {
		@include media-breakpoint-up(sm) {
			margin-left: 10px;
		}
	}
	.search-form__close {
		@include media-breakpoint-up(sm) {
			right: 26px;
		}
	}
	.contact-block {
		&.contact-block--header {
			@include media-breakpoint-up(lg) {
				.contact-block__item {
					flex-grow: 0;
				}
				.contact-block__item:not(:first-child) {
					padding-left: 20px;
					margin-left: 22px;
					margin-right: 13px;
				}
				.contact-block__inner {
					margin-left: 0;
					justify-content: flex-end;
				}
			}
		}
	}
}
