.site-header.style-5 {
	.header-container__flex-wrap {
		> .row {
			margin-top: 15px;
		}
	}

	.site-branding {
		text-align: center;
		margin-bottom: 20px;

		@include media-breakpoint-up(sm) {
			display: block;
			margin-bottom: 0;
		}
	}

	.site-description {
		text-align: center;
		margin-left: 0;
	}

	.main-navigation {
		@include media-breakpoint-up(sm) {
			width: 100%;

			.menu {
				margin-top: 20px;
				margin-bottom: 20px;
				justify-content: center;
			}
		}
	}

	.header-components {
		@include media-breakpoint-up(sm) {
			justify-content: flex-end;
		}
	}

	.header-components__contact-button {
		border-bottom: 1px solid;
		position: relative;
		z-index: 10;

		&:before,
		&:after {
			content: '';
			width: 100vw;
			height: 100%;
			position: absolute;
			bottom: -1px;
			border-bottom: 1px solid;
			border-color: inherit;
			z-index: -1;
		}
		&:before {
			right: 100%;
		}
		&:after {
			left: 100%;
		}
	}
}
