.site-header.style-2 {
	.main-navigation {
		@include media-breakpoint-up(sm) {
			.menu {
				margin-top: 0;
			}
		}
	}

	.header-container_wrap {
		> .header-row__flex {
			display: block;

			@include media-breakpoint-up(lg) {
				display: flex;
			}
			> * {
				padding-left: 0;
				padding-right: 0;

				@include media-breakpoint-up(lg) {
					padding-left: 10px;
					padding-right: 10px;

					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}

	.header-row__flex {
		align-items: center;
	}

	.header-components {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.header-components__contact-button {
		@include media-breakpoint-up(lg) {
			flex-grow: 1;
		}
		> * {
			padding-top: 14px;
			padding-bottom: 13px;
		}
		.contact-block {
			& + .header-btn-wrap {
				@include media-breakpoint-up(md) {
					padding-left: $grid-gutter-width / 1.5;
				}
			}
		}
		.header-btn-wrap {
			flex-basis: auto;
			max-width: inherit;
		}
	}

	.header-nav-wrapper {
		@include media-breakpoint-up(sm) {
			border-top: 1px solid;
			padding-top: 13px;
			padding-bottom: 13px;
			position: relative;
			z-index: 10;

			&:before,
			&:after {
				content: '';
				width: 100vw;
				height: 100%;
				position: absolute;
				top: -1px;
				border-top: 1px solid;
				border-color: inherit;
				z-index: -1;
			}
			&:before {
				right: 100%;
			}
			&:after {
				left: 100%;
			}

			.main-navigation:not(.vertical-menu) .menu .sub-menu {
				margin-top: 13px;

				.sub-menu {
					margin-top: 0;
				}
			}

			.main-navigation .menu > li > .sub-menu::before {
				height: 13px;
				top: -13px;
			}
		}
	}

	.site-branding {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 0;

		@include media-breakpoint-up(lg) {
			flex-basis: 25%;
		}
	}
	.search-form {
		@include media-breakpoint-up(sm) {
			left: 0;
			right: 35px;
		}
	}
}
