.mobile-panel {
	visibility: visible;
	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 20px 10px 80px;
	height: 60px;
	background-color: $color__dark;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 5px;
	}
	.menu-toggle {
		float: left;
		position: absolute;
		left: 20px;
		.jet-mobile-menu-active & {
			display: none;
		}
	}
	.search-form__toggle,
	.site-header-cart .site-header-cart__wrapper i,
	.search-form__close {
		font-size: 18px;
	}
	.site-header-cart .cart-contents .count {
		position: absolute;
		left: 3px;
		top: -2px;
		width: 18px;
		height: 18px;
		font-size: 10px;
		line-height: 18px;
	}

	.admin-bar & {
		top: 46px;
		@media (max-width: 768px) {
			position: absolute;
		}
	}
	@media (min-width: 768px) {
		display: none;
		visibility: hidden;
		left: -999em;
		height: 0;
	}
}