.cherry-projects-wrapper {
	.projects-container.grid-layout.grid-default-5-tmpl {
		.projects-item {
			margin-bottom: 0 !important;
		}
	}
	.projects-item-instance {
		.project-media + .project-content {
			margin-top: 25px;
		}
		.project-entry-title {
			text-transform: capitalize;
			margin-top: 13px;
			padding-bottom: 17px;
			margin-bottom: 0;
		}

		.cherry-projects-single-description {
			@media (max-width:1350px) and (min-width:1200px) {
				display: none;
			}
			margin-top: 10px;
			margin-bottom: 0;
			.project-content-vertical-wrap & {
				margin-top: 32px !important;
			}
			h5.title-decoration {
				padding-bottom: 13px;
				margin-bottom: 10px;
			}
		}

		.project-links {
			margin-top: 11px;
		}

		.hover-content {
			&.column-format {
				display: flex;
				text-align: center;
				justify-content: center;
			}
		}

		.simple-icon {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			text-align: center;
			background: none;
			margin: 4px 7px;

			&:focus {
				outline: 0;
			}
			span {
				@include nucleo-mini-icon;
				width: auto;
				height: auto;
				line-height: 20px;
				font-size: 14px;
				margin: 0;
			}

			&.zoom-link span:before {
				content: '\e959';
			}
			&.permalink span:before {
				content: '\ea92';
			}
			&.external-link span:before {
				content: '\ee27';
			}
		}

		// fix masonry column into chrome
		&.masonry-layout-item .hover-content {
			overflow: visible;
		}

		&.simple-scale-hover {
			.hover-content {
				> * {
					transform: scale(0) translateZ(0);
				}
				&:hover {
					> * {
						transform: scale(1) translateZ(0);
					}
				}
			}
		}
		&.simple-fade-hover {
			.hover-content {
				> * {
					transform: translateY(100%) translateZ(0);
				}
				&:hover {
					> * {
						transform: translateY(0) translateZ(0);
					}
				}
			}
		}
	}
	[class*="-default-2-tmpl"] {
		.projects-item-instance {
			.project-entry-content {
				margin-bottom: 13px;
			}
		}
	}
}

// template style

.projects-container.masonry-layout .inner-wrapper,
.projects-container.grid-layout .inner-wrapper,
.projects-container.justified-layout .inner-wrapper,
.projects-container.cascading-grid-layout .inner-wrapper {
	.project-content-vertical-wrap {
		position: relative;
		overflow: hidden;
		.cherry-projects-single-description {
			margin-top: 27px;
		}
	}
}

.cherry-projects-additional-image-list .additional-image-list.grid-layout .image-item {
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}

.cherry-projects-wrapper {

	.projects-container.masonry-layout,
	.projects-container.grid-layout,
	.projects-container.justified-layout,
	.projects-container.list-layout,
	.projects-container.cascading-grid-layout{
		// hide titles on listing templates
		.cherry-projects-single-description .title-decoration,
		.cherry-projects-single-details-list .cherry-projects-details-list-title {
			display: none;
		}
		.project-footer-content {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: stretch;
			align-items: flex-start;
		}
	}
	.cascading-grid-layout .cherry-projects-single-description {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.projects-container.grid-layout {
		.inner-wrapper {
			&[style*="margin: 0px"] {
				margin: -1px !important;
			}
		}
		
		&.grid-default-tmpl .cherry-projects-single-description {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

	}
	.projects-container.masonry-layout,
	.projects-container.list-layout {
		padding-top: 20px;
	}

	.projects-container.list-layout {
		.project-more-button {
			margin-top: 25px;
		}
		.projects-item {
			margin-bottom: 50px;
		}
		.inner-wrapper {
			@include media-breakpoint-between(xs, md) {
				display: block;
			}

			.project-media {
				margin-right: 0;
				@include media-breakpoint-up(md) {
					margin-right: 30px;
				}
			}
			.project-content {
				@include media-breakpoint-up(md) {
					margin-top: 0;
					align-self: center;
				}
			}
			.project-meta {
				margin-bottom: 10px;
				text-transform: uppercase;
			}
		}
	}

	.projects-container.masonry-layout,
	.projects-container.grid-layout,
	.projects-container.justified-layout,
	.projects-container.cascading-grid-layout{
		.projects-list .projects-item {
			display: block;
		}
		.cherry-projects-single-details-list {
			margin-bottom: 21px;
			margin-top: 18px;
			ul li {
				margin-bottom: 0; 
				margin-top: 0;
				&:before {
					display: none;
				}
			}
		}

		.projects-item {
			.inner-wrapper {
				position: relative;
				overflow: hidden;

				.project-media {
					position: relative;
					overflow: hidden;

					.project-links {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						margin: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						z-index: 10;

						transform: translateX(-30px) translateZ(0);
						transition: all 0.2s ease-in;
						opacity: 0;
						transition-delay: 0s;
					}
				}
				.overflow-content {
					margin-top: 0;
					position: absolute;
					padding: 20px;
					top: 50%;
					transform: translateY(-50%);
					overflow: hidden;
					text-align: left;
					z-index: 2;

					@include media-breakpoint-up(sm) {
						padding: 40px 31px 33px 40px;
					}

					.project-entry-title {
						transition: all 0.2s ease-in;
						transition-delay: .11s;
					}
					.project-entry-content {
						transition: all 0.2s ease-in;
						transition-delay: .13s;
					}
					.project-more-button-wrap {
						transition: all 0.2s ease-in;
						transition-delay: .15s;
						margin-top: 3px;
						.btn-link {
							&:after {
								@include nucleo-mini-icon();
								content: "\e904";
								position: relative;
								display: inline-block;
								font-size: $icons_small;
								margin-left: 6px;
							}
						}
					}

				}
				.project-meta {
					font-size: .85em;
					margin: 22px 0 6px;

					.posted-by {
						margin: 0;
					}
				}
				.project-content.overflow-content {
					top: 100%;
					height: 100%;
					left: 0;
					right: 0;
					transform: translateY(0);
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-content: center;
					align-items: flex-start;
					@include transition(all 0.32s cubic-bezier(0.465, 0.050, 0.965, 0.320));
				}
			}
			.wp-image {
				height: 100%;
				&:before {
					display: none;
				}
			}

			.featured-image {
				display: inline-block;
				vertical-align: top;
				.cover {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					opacity: 1;
					z-index: 1;
					transform: translateY(100%) translateZ(0);
					@include transition(all 0.5s cubic-bezier(0.465, 0.050, 0.965, 0.320));
				}
			}

			&:hover {
				.featured-image{
					.cover {
						transform: translateY(0) translateZ(0);
						@include transition(all 0.5s cubic-bezier(0.485, 0.065, 0.165, 0.950));
						opacity: 1;
					}
				}
				.project-content.overflow-content {
					top: 0;
					transform: translateY(0);
					@include transition(all 0.68s cubic-bezier(0.485, 0.065, 0.165, 0.950));
				}
				.hover-style-2 {
					.featured-image{
						.cover {
							@include transition(all 0.32s cubic-bezier(0.475, 0.175, 0.135, 0.960));
						}
					}
					.overflow-content.project-content {
						.project-header-content {
							transform: translateY(-100px);
							opacity: 0;
							@include transition(all 0.28s cubic-bezier(0.650, 0.045, 0.295, 0.955));
						}
						.project-middle-content {
							transform: translateY(0%);
							margin-top: 0;
							p {
								opacity: 1;
								@include transition(all 0.35s cubic-bezier(0.910, 0.025, 0.750, 0.750));
							}
							@include transition(all 0.48s cubic-bezier(0.620, 0.165, 0.000, 1.000));
						}
						.project-footer-content-hover {
							transform: translateY(150px);
							opacity: 0;

							@include transition(all 0.35s cubic-bezier(0.650, 0.045, 0.295, 0.955));
						}
						.project-footer-content {
							.project-more-button-wrap {
								margin-left: 0;
								@include transition(all 0.48s cubic-bezier(0.650, 0.045, 0.295, 0.955));
							}
							.project-footer-content__misc {
								margin-right: 0;
								@include transition(all 0.48s cubic-bezier(0.650, 0.045, 0.295, 0.955));
							}
						}

					}
				}
			}
			.hover-style-2 {
				.overflow-content.project-content {
					margin-top: 0;
					position: absolute;
					padding: 20px;
					top: 0;
					@include media-breakpoint-up(sm) {
						padding: 43px 37px 26px 33px;
					}
					.project-header-content, .project-footer-content-hover {
						position: absolute;
						@include transition(all 0.62s cubic-bezier(0.650, 0.045, 0.295, 0.955));
					}
					.project-middle-content{
						height: 100%;
						width: 100%;
						position: relative;
						transform: translateY(50%);
						margin-top: -50px;
						.project-entry-title {
							margin-top: 0;
							@include media-breakpoint-up(xl) {
								width: 50%;
							}
						}
						p {
							position: absolute;
							opacity: 0;
							@include transition(all 0.25s ease);
						}
						@include transition(all 0.5s cubic-bezier(0.620, 0.165, 0.000, 1.000));
					}
					.project-footer-content {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						align-content: stretch;
						align-items: flex-start;
						.project-more-button-wrap ,
						.project-footer-content__misc {
							@include transition(all 0.4s cubic-bezier(0.620, 0.165, 0.000, 1.000));
						}
						.project-more-button-wrap {
							margin-left: -200px;
						}
						.project-footer-content__misc {
							margin-right: -200px;
						}
					}
					.project-footer-content-hover {
						bottom: 26px;
						margin: 0; 
						transform: translateY(0);
						opacity: 1;
						@include transition(all 0.45s cubic-bezier(0.650, 0.045, 0.295, 0.955));
						.cherry-projects-single-details-list {
							margin: 0px;
						}
					}
				}			
				.featured-image {
					display: inline-block;
					vertical-align: top;
					.cover {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						opacity: 1;
						z-index: 1;
						transform: translateY(0) translateZ(0);
						@include transition(all 0.28s cubic-bezier(0.505, 0.080, 0.000, 0.810));
					}
				}

			}
			.project-content.style-3 {
				position: relative;
				text-align: left;
				left: 0;
				right: 0;
				top: 0;
				transform: translateY(0);
				margin-top: 21px;

				@include media-breakpoint-down(sm) {
					margin-bottom: 30px;
				}

				.project-entry-title {
					margin-top: 10px;
					padding-bottom: 10px;
				}
				.cherry-projects-single-details-list {
					margin-bottom: 15px;
					margin-top: 14px;
				}

				.project-entry-title,
				.project-entry-content,
				.project-more-button-wrap {
					transform: translateX(0) translateZ(0);
					transition-delay: 0;
				}
				.widget-area & {
					text-align: left;
				}
			}
		}
		&[class*="-default-3-tmpl"] {
			.projects-item {
				.inner-wrapper {
					@include media-breakpoint-up(lg) {
						padding-bottom: 20px;
					}
				}
			}
		}
	}

	/*Fix image height*/
	.projects-container.justified-layout{
		.inner-wrapper,
		.project-media,
		.featured-image{
			height: 100%;

			img{
				object-fit: cover;
				object-position: center;
				height: 100%;

				.ie & {
					font-family: 'object-fit: cover';
				}
			}
		}
	}
}

.cherry-projects-wrapper .cherry-projects-ajax-loader,
.cherry-projects-terms-wrapper .cherry-projects-ajax-loader {
	z-index: 990;
	background-color: transparent;
}

// filters and pagination style
.cherry-projects-wrapper {
	.archive & {
		margin-bottom: 4em;
	}
	.projects-filters {
		justify-content: center;
		margin: 9px 12px 13px;
	}

	ul.projects-filters-list {
		li {
			margin: 0 14px;
			text-transform: uppercase;
			span {
				transition: .3s;
			}
		}
	}
	ul.order-filters {
		> li {
			margin: 0 12px;

			ul.orderby-list li span {
				transition: .3s;
			}
		}
	}

	.projects-ajax-button-wrapper {
		margin: 30px 0 20px;

		.projects-ajax-button span {
			@include btn;
		}
	}

	.projects-pagination {
		text-align: center;
		justify-content: flex-start;
		margin: 20px 0;
		padding-top: 40px;
		border-top: 1px solid;

		.page-navigation span,
		.page-link span {
			line-height: 43px;
			display: inline-block;
			min-width: 45px;
			height: 45px;
			padding: 0 2px;
			text-align: center;
			text-decoration: none;
			transition: .3s;
			margin-bottom: 5px;
			border: 1px solid;
			border-radius: $border__radius;

			&:not(:last-child) {
				margin-right: 5px;
			}
		}
		.page-navigation span{
			border: none;
			margin: 0 10px;

			i {
				vertical-align: baseline;
			}
		}

		.page-link {
			li {
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
				}
			}
			li.active {
				pointer-events: none;
			}
		}
	}
}

// single post style
.cherry-projects-single,
.cherry-projects-wrapper .projects-item-instance {
	.featured-image a,
	.additional-image a {
		&:before {
			content: '\ea16';
			position: absolute;
			@include nucleo-mini-icon;
			font-size: 14px;
			line-height: 1;
			left: 50%;
			top: 50%;
			text-align: center;
			transition: all 0.4s ease-out;
			z-index: 1;
		}

		.cover {
			transition: all 0.4s ease-out;
		}

		&:focus {
			outline: 0;
		}
	}
}

.single.single-projects.position-fullwidth .site-content_wrap {
	margin-top: 50px;
}

.cherry-projects-single {

	.content-layout-boxed & {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.position-fullwidth & {

	}

	.cherry-projects-single__container {
		display: block;
	}

	.post__date {
		text-align: center;
		display: block;
		margin-bottom: 0;
	}

	.additional-image a,
	.featured-image a {
		&:before {
			transform: translate(-50%, -50%) scale(0);
		}
		&:hover {
			&:before {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
	.featured-image {
		a {
			pointer-events: none;
			height: 100%;
		}
	}
	&__header {
		margin-bottom: 0;
		position: relative;
	}
	&__title {
		position: relative;
		z-index: 1;
		margin-bottom: 25px;
	}
	.video-item {
		.wp-video, .wp-video .wp-video-shortcode {
			width: 100% !important;
		}
	}

	&__content-wrapper {
		margin-top: 62px;
		.project__left-col &, .project__right-col & {
			.single-format-audio &, .single-format-gallery &, .single-format-video &, .single-format-image & {
				margin-top: 30px !important;
			}
		}
		.project__left-col & {
			margin-top: 30px;
		}
		.cherry-projects-single__content {
			.title-decoration {
				padding-bottom: 13px;
				margin-bottom: 10px;
			}
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		margin-top: 50px;
		flex-wrap: wrap;
		@include grid-indent(10px, margin, '.post-terms, .share-btns__list');
	}
}

.cherry-projects-wrapper .projects-item-instance {
	.featured-image a {
		.cover {
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			opacity: 0;
		}

		&:hover {
			.cover {
				opacity: 1;
			}
		}
	}

	&.simple-scale-hover {
		.featured-image a {
			&:before {
				transform: scale(0) translateZ(0);
			}
			&:hover {
				&:before {
					transform: scale(1) translateZ(0);
				}
			}
		}
	}
	&.simple-fade-hover {
		.featured-image a {
			&:before {
				opacity: 0;
				transform: translateY(100%) translateZ(0);
			}
			&:hover {
				&:before {
					opacity: 1;
					transform: translateY(0) translateZ(0);
				}
			}
		}
	}
}

.cherry-projects-single {
	margin-bottom: 4em;
	.share-btns__list {
		margin-top: 28px;
		.share-btns__items {
			.share-btns__prefix {
				font-size: 13px;
			}
			i {
				font-size: 14px;
			}
		}
	}
	&__media {
		/*rtl:ignore*/
		margin-right: 0;
	}

	.project-entry-title {
		margin-bottom: 11px;
	}

	.post-terms {
		margin-top: 0;
		margin-bottom: 0;
	}
	.external-link-button-primary {
		margin-top: 20px;
		i {
			margin-right: 10px;
			line-height: 1em;
			&:before {
				top: 1px;
				position: relative;
			}
		}
	}
	.cherry-projects-single-meta {
		border: none;
		margin-top: 0;
		margin-bottom: 0;

		> * {
			&:first-child {
				text-transform: capitalize;
			}
		}
	}
	.cherry-projects-single-description {
		margin-bottom: 27px;
		h5.title-decoration{
			padding-bottom: 12px;
			margin-bottom: 10px;
		}
	}
	.cherry-projects-single-details-list {
		.cherry-projects-details-list-title {
			padding-bottom: 13px;
			margin-bottom: 10px;
			position: relative;
			&:before {
				bottom: 0;
				content: '';
				position: absolute;
				display: block;
				width: 18px;
				height: 3px;
			}
		}
		ul {
			li {
				margin-bottom: 3px;
				padding: 0;
				&:before {
					display: none;
				}
			}
			span {
				margin-right: 0px;
			}
		}
	}
	.cherry-projects-single-skills-list {
		ul {
			margin-top: 15px;
		}
		.cherry-skill-item {
			margin-bottom: 0;
			position: relative;

			& + .cherry-skill-item {
				margin-top: 15px;
			}
			.skill-label {
				padding-right: 70px;
				margin-bottom: 3px;
			}
			.skill-bar {
				height: auto;
				padding: 0;
				border-radius: 0;
				position: relative;
				&:after{
					content: attr(data-skill-value) '%';
					position:absolute;
					right: 0;
					display: block;
					top: -30px;
				}

				span {
					display: block;
					height: 12px;
					position: static;

					em {
						display: none;
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}
		}
	}

	.cherry-projects-additional-image-list,
	.cherry-projects-video-list,
	.cherry-projects-audio-list {
		margin-bottom: 30px;
		margin-top: 23px;
	}
	.cherry-projects-audio-list {
		.wp-playlist.wp-audio-playlist {
			.wp-playlist-current-item,
			.wp-playlist-tracks {
				display: none;
			}
		}
		.wp-playlist {
			border: none;
		}
	}
}

/*rtl:begin:ignore*/
.cherry-projects-slider {
	&__instance {
		margin-top:26px;
		margin-bottom: 4px;

		.slider-pro {
			background: transparent;
		}

		// sp-full-screen-button
		.slider-pro .sp-full-screen-button {
			right: 10px;
			top: 10px;
			transform: none;
			text-align: center;
			width: 44px;
			height: 44px;
			border-radius: 44px;

			&:before {
				content: '\e91d';
				transition: .3s;
				@include nucleo-mini-icon;
				color: inherit;
				line-height: 44px;
				font-size: 14px;
			}
		}
		&[data-settings*='"thumbnails-position":"top"'] .slider-pro .sp-full-screen-button {
			top: 146px;
		}
		&[data-settings*='"thumbnails-position":"right"'] .slider-pro .sp-full-screen-button {
			right: 193px;
		}

		// sp-thumbnail
		.slider-pro .sp-thumbnails-container {
			background: transparent;

			&.sp-bottom-thumbnails {
				position: static;
				padding: 0;
				margin-top: 9px;
			}

			&.sp-top-thumbnails {
				margin-bottom: 9px;
			}

			&.sp-bottom-thumbnails,
			&.sp-top-thumbnails {
				.sp-thumbnail-container {
					margin-left: 5px;
					margin-right: 5px;

					&:first-child {
						margin-left: 0;
					}
				}
			}

			.sp-thumbnail-container {
				.sp-thumbnail {
					border: none;
					opacity: 1;
					transition: .3s;

					&:hover {
						opacity: .3;
						border: none;
					}
				}

				&.sp-selected-thumbnail {
					.sp-thumbnail {
						opacity: .3;
					}
				}
			}
		}

		// sp-image-container
		.sp-image-container {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 78px;
				z-index: 1;
				opacity: 0;
				transition: .3s;
			}
		}

		.slider-pro:hover .sp-image-container:before {
			opacity: 1;
		}

		// sp-arrow (navigation)
		.slider-pro {
			.sp-arrows .sp-arrow:before {
				background: none;
			}
		}

		.sp-arrows {
			opacity: 1;
			margin: 0;
			top: calc(50% - 40px);
		}
		.sp-arrow {
			width: 40px;
			height: 40px;
			text-align: center;
			z-index: 1;

			&:before {
				@include nucleo-mini-icon();
				font-size: 14px;
				position: relative;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				line-height: 40px;
				transform: none;
				background: none;
				transition: .3s;
			}
			&:after {
				display: none;
			}
		}
		.sp-horizontal {
			.sp-previous-arrow {
				left: 0;
				&:before {
					content: '\e927';
				}
			}
			.sp-next-arrow {
				right: 0;
				transform: rotate(0);
				&:before {
					content: '\e928';
				}
			}
		}
		.sp-vertical {
			.sp-arrows {
				margin-left: 0;
				left: calc(100% - 70px);
			}
			.sp-previous-arrow {
				top: auto;
				bottom: 95px;

				&:before {
					content: '\e905';
				}
			}
			.sp-next-arrow {
				bottom: 30px;

				&:before {
					content: '\e902';
				}
			}
		}
	}
}

/*rtl:end:ignore*/

// Project terms
.cherry-projects-terms-wrapper .projects-terms-container {

	&.masonry-layout .hover-content {
		overflow: visible;
	}

	&.grid-layout,
	&.masonry-layout,
	&.cascading-grid-layout {

		.project-terms-content {
			transition: .3s;
			padding: 17px 20px;

			h5 {
				margin: 0;
			}

			p {
				margin-top: 0;
				@include font-size(.75);
				line-height: 1.4166666;
			}
		}
	}
	&.grid-layout {
		.projects-terms-item {
			margin-bottom: 0 !important;
		}
	}

	&.list-layout {
		.projects-terms-item {
			margin-bottom: 50px;
		}
		.inner-wrapper {
			@include media-breakpoint-between(xs, md) {
				display: block;
			}

			.project-terms-media {
				margin-right: 0;
				@include media-breakpoint-up(md) {
					margin-right: 30px;
				}
			}
			.project-terms-content {
				margin-top: 30px;
			}
		}
	}

	.term-permalink {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-align: center;
		background: none;
		margin: 5px 12px;
		span {
			@include nc-icon-outline;
			width: auto;
			height: auto;
			line-height: 40px;
			@include font-size(2.5);
			margin: 0;
			&:before {
				content: '\e917';
			}
		}
	}
}

@for $i from 0 through 50 {
	.projects-container[data-settings*='"item-margin":"#{$i}"'] {
		.projects-pagination {
			margin-left: #{$i / 2}px;
			margin-right: #{$i / 2}px;
		}
	}
}

.cherry-projects-single-details-list {
	ul {
		li {
			span {
				margin-right: 0;
			}
		}
	}
}