<div class="project-media">
	%%FEATUREDIMAGE crop="yes" crop_width="480" crop_height="360"%%
</div>
<div class="project-content overflow-content">
	<div class="project-header-content">
		%%TERMSLIST delimiter=""%%
		%%TITLE%%
        %%CONTENT_DESCRIPTION%%
	</div>
	<div class="project-footer-content">
		<div class="project-more-button-wrap">%%BUTTON%%</div>
		<div class="project-footer-content__misc">%%EXTERNALLINK%%%%PERMALINK%%%%ZOOMLINK%%</div>
	</div>
</div>