.widget-about,
.elementor-widget-wp-widget-buildwall_widget_about {
	.widget-about {
		&__logo-img {
			vertical-align: top;
			.sidebar & {
				order: 0;
			}
		}

		&__content {
			margin-top: 10px;
		}
		&__tagline {
			@include font-size(.75);
			margin-top: 5px;
		}

		&__content,
		&__tagline {
			&:empty {
				margin-top: 0;
			}
		}

		&__social {
			margin-top: 15px;
		}
	}
}
.widget-about {
	.footer-area & {
		.widget-about__logo {
			padding-top: 8px;
			margin-bottom: 33px;
		}
	}
	.sidebar &, .single-service & {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-start;
		margin-top: 49px;
		padding-bottom: 28px;
		.widget-about__logo-img {
			order: 0;
			width: 100%;
		}
		.widget-about__logo {
			width: 100%;
		}
		.widget-about__content,
		.widget-about__tagline,
		.widget-about__social,
		.widget-title {
			order: 1;
			padding-left: 15px;
			padding-right: 15px;
			@include media-breakpoint-up(md) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		.widget-title {
			line-height: 30px;
			margin-top: 24px;
			padding-bottom: 0;
			margin-bottom: 0;
			&:before {
				display: none;
			}
		}
		.widget-about__content {
			margin-top: 11px;
		}
		.btn-link {
			margin-top: 24px;
			i {
				margin-right: 8px;
				top: 1px;
				position: relative;
			}
		}
	}

	.single-service & {
		margin-top: 40px;
	}
}