.contact-information-widget {
	&__inner {
		> li {
			margin-bottom: 20px;
		}
		li {
			margin-left: 0;
			position: relative;
			padding-left: 45px;
			.footer-area & {
				padding-left: 25px;
			}
			&:not(:first-child), &:not(.footer-area &) {
				margin-top: 27px;
			}
			h6 {
				margin-bottom: 2px;
			}
			.icon {
				font-size: 30px;
				line-height: 1em;
				position: absolute;
				left: 0;
				top: 4px;
				.footer-area & {
					top: 5px;
					font-size: 16px;
				}
			}
			ul li {
				padding-left: 0;
			}
			ul:not([class]) > li:before {
				display: none;
			}
			p {
				margin-bottom: 8px;
				a {
					text-decoration: none;
				}
			}
			p + ul, p + ol, p + dl {
				margin-top: 0;
				margin-left: 0;
			}
		}
		.contact-information__item {
			padding-left: 0;
			.footer-area & {
				padding-left: 0;
			}
			&--icon {
				padding-left: 45px;
				.footer-area & {
					padding-left: 25px;
				}
			}
		}
	}
}
