.custom-posts {
	&__holder {
		margin-bottom: -35px;

		.full-width-header-area &,
		.after-content-full-width-area & {

			> * {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	&__item {
		padding-bottom: 30px;
		&:last-child {
			margin-bottom: 5px;
		}
	}

	.post-thumbnail {
		margin-bottom: 10px;
		.post__cats {
			position: absolute;
			top: 14px;
			left: 14px;
		}

		img {
			width: 100%;
		}
		.sidebar-1-3 .sidebar &,
		.footer-area & {
			img {
				width: auto;
			}
			margin-bottom: 20px;
		}
	}
	.post-inner {
		position: relative;
	}
	.post-content-wrap {
		.sidebar &,
		.footer-area & {
			overflow: hidden;
		}
		.full-width-header-area &,
		.after-content-full-width-area &,
		.before-content-area &,
		.before-loop-area &,
		.after-loop-area &,
		.after-content-area & {
			@include media-breakpoint-up(lg) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 20px;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 10;
			}
			&:before {
				@include media-breakpoint-up(lg) {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: .5;
					z-index: -1;
					transition: .3s all;
				}
			}
			&:hover {
				&:before {
					opacity: .9;
				}
				.btn-link {
					@include media-breakpoint-up(lg) {
						max-height: 100px;
						visibility: visible;
						margin-top: 10px;
					}
				}
			}
		}
	}
	.entry {
		&-title {
			.sidebar &,
			.footer-area & {
				font-weight: bold;
				text-transform: none;
			}
		}
		&-header,
		&-content {
			> * {
				margin-top: 1px;
			}
		}
		&-meta {
			&.header-meta {
				margin-top: 9px;
				> * {
					margin: 0;
				}
				.footer-area & {
					.post__date i {
						display: none;
					}
				}
			}
		}
		&-footer {
			> * {
				&:not(:empty) {
					margin-top: 14px;
				}
			}
			.btn-link {
				text-transform: uppercase;
				i {
					font-size: $icons_small;
					margin-left: 9px;
				}
				.btn__text {
					line-height: 1.22em;
				}

				.full-width-header-area &,
				.after-content-full-width-area &,
				.before-content-area &,
				.before-loop-area &,
				.after-loop-area &,
				.after-content-area & {
					@include media-breakpoint-up(lg) {
						margin-top: 0;
						max-height: 0;
						overflow: hidden;
						visibility: hidden;
					}
				}
			}
		}
	}
}
