.widget {
	ul {
		margin-bottom: 0;
		padding: 0;
		margin-left: 0;
		list-style: none;

		li {
			& + li,
			> ul li,
			> ol li {
				margin-top: 6px;
			}
			> ul {
				margin-left: 10px;
			}
		}
	}
}

/*--------------------------------------------------------------
## Widget Calendar
--------------------------------------------------------------*/
.widget_calendar {
	table {
		margin-bottom: 0;
		table-layout: fixed;
		width: 100%;
		position: relative;
	}

	thead {
		text-align: center;
		border-top: none;

	}
	caption {
		text-align: center;
		padding: 10.5px 0;
		text-transform: uppercase;
	}
	th {
		padding: 8px 0;
		font-weight: inherit;
		position: relative;
		border: 1px solid;
	}
	tbody td {
		position: relative;
		text-align: center;
		line-height: 38px;
		height: 38px;
		border: 1px solid;
		a {
			display: inline-block;
			width: 38px;
			max-width: 100%;
			height: 38px;
			line-height: 38px;
			position: relative;
			z-index: 10;
		}
	}
	tfoot td {
		position: absolute;
		top: 13px;

		a {
			font-size: 0;

			&:before {
				@include nucleo-mini-icon;

				content: '\e927';
				font-size: 14px;
				transition: .3s;
			}
		}
		&#prev {
			left: 16px;

			a:before {
				content: '\e927';
			}
		}
		&#next {
			right: 16px;

			a:before {
				content: '\e928';
			}
		}

	}
	td#today {}
	#next {
		text-align: right;
	}
}

/*--------------------------------------------------------------
## Widget Tag Cloud
--------------------------------------------------------------*/
.tagcloud {
	margin: 0 0 -10px;
	font-size: 0;
	padding: 1px;
	overflow: hidden;

	a {
		position: relative;
		display: block;
		float: left;
		margin: 0 5px 10px;
		padding: 7px 19px 8px;
		vertical-align: top;
		text-decoration: none;
		border: 1px solid;
		margin: -1px 0 0 -1px;
		z-index: 0;
		text-transform: uppercase;
		&:hover {
			z-index: 1;
		}
		&:focus {}
	}
}

/*--------------------------------------------------------------
## Widget Recent Posts
--------------------------------------------------------------*/
.widget_recent_entries {
	ul li {
		display: flex;
		flex-direction: column-reverse;


		a {}
		.post-date {
			display: block;
		}
	}
}

/*--------------------------------------------------------------
## Widget Nav Menu
--------------------------------------------------------------*/
.widget_nav_menu {
	ul li {
		a {
			&:before {
				content: '\ea21';
				font-size: 12px;
				margin-right: 10px;
				transition: .3s all;
			}
		}
	}
	ul#menu-team li {
		margin: -1px 0 0 0;
		a {
			padding: 10px 19px 9px;
			border: 1px solid;
			display: block;
			z-index: 0;
			text-transform: uppercase;
			&:hover {
				z-index: 1;
			}
			&:before {
				content: '\e904';
				font-size: $icons_small;
				margin-right: 6px;
				transition: .3s all;
			}
		}
	}
}


/*--------------------------------------------------------------
## Widget Recent Comments
--------------------------------------------------------------*/
.widget_recent_comments {
	.widget-title {
		margin-bottom: 16px;
	}
	ul li {
		text-transform: uppercase;
		@include font-size(0.8666666666666667);
		@extend .clear;
		& + li {
			margin-top: 14px;
		}
		.comment-author-link {
			margin-right: 1px;
			& ~ a {
				text-transform: none;
				font-style: normal;
				&:before {
					content: '';
					display: block;
					height: 2px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Widget RSS
--------------------------------------------------------------*/
.rss-widget-icon {
	vertical-align: middle;
}

.widget_rss {
	ul {
		li {
			& + li {
				margin-top: 20px;
			}

			display: flex;
			flex-direction: column;
		}
		a.rsswidget {
			font-weight: 900;
		}

		.rss-date {
			order: -1;
		}
	}
	.rssSummary {
		margin-top: 5px;
	}
}

/*--------------------------------------------------------------
## Widget Archives - Categories
--------------------------------------------------------------*/
.widget_archive,
.widget_categories {
	position: relative;
	.widget-title {
		margin-bottom: 13px;
		.footer-area & {
			margin-bottom: 24px;
		}
	}
	select {
		width: 100%;
		appearance: none;
		position: relative;
		height: 40px;

		&:hover {
			cursor: pointer;
		}
		select::-ms-expand {
			opacity: 0;
		}
	}
	label {
		position: relative;
		width: 100%;
		height: 40px;

		&:before {
			@include nucleo-mini-icon;
			content: '\e926';
			position: absolute;
			right: 18px;
			top: 50%;
			transform: translateY(-50%);
			display: inline-block;
			z-index: 1;
			@include font-size(0.5333333333333333);
			pointer-events: none;
			.footer-area & {
				right: calc(1.00806rem * 2 + 18px);
			}
		}
	}
	.screen-reader-text {
		clip: auto;
		margin: 0;
	}
	ul li {
		display: block;
	}
	a {
		transition: .2s;
		position: relative;
		padding-left: 16px;
		&:before {
			@include nucleo-mini-icon();
			font-size: 8px;
			content: "\e928";
			left: 0;
			top: 5px;
			position: absolute;
			display: block;
		}
	}
}
.widget_archive {
	.widget-title {
		margin-bottom: 20px;
	}	
}
/*--------------------------------------------------------------
## Textwidget
--------------------------------------------------------------*/
.textwidget {
	p {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
