/*!
Skin Name: eco-construction
*/


$color__header-divider-components: #e6e8e8;
$color__footer-widget-border: #718eaa;
$color__serv-menu-hover: #ffde01;
/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
@import "variables-site/variables-site";
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
@import "plugins/jet-menu/jet-menu";

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
@import "plugins/elementor/modules/button";


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";


/* Header */
.site-header {
	&.style-4 {
		.header-nav-wrapper {
			padding: 0;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				height: 100%;
			}
		}
		.header-components {
			.navbar-header-cart:before {
				background-color: $color__header-divider-components;
			}
		}
	}
}

.site-header {
	.top-panel__message {
		font-size: 13px;
		i {
			font-size: 14px;
			margin-right: 5px;
		}
	}
}

.site-header.style-4 .header-components:not(:empty) {
	@include media-breakpoint-up(sm) {
		left: -30px;
	}
}

@media (min-width: 768px) {
	.jet-sub-menu > li > .jet-sub-menu {
		margin-top: 0;
	}
}

// Footer 
.home .footer-area {
	padding: 125px 0 29px;
	@include media-breakpoint-down(md) {
		padding: 40px 0 15px;
	}
}

.site-footer.style-3 .footer-container {
	padding: 39px 0;
}

.site-footer.style-3 .site-info .footer-copyright {
	margin-top: 0;
}

.footer-menu {
	font-weight: 600;
	font-size: 14px;
}

.footer-area-wrap {
	.custom-posts .post-inner {
		padding-top: 10px;
	}
}
.footer-area-wrap {
	.widget_recent_entries ul li {
		position: relative;
		margin-top: 20px;
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-start;
		a {
			order: 0;
			align-self: auto;
		}
		span {
			order: 1;
			align-self: auto;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color__footer-widget-border;
			opacity: 0.2;
		}
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			&:before {
				display: none;
			}
		}
	}
	.elementor-widget .elementor-icon-list-item a {
		width: auto;
		display: inline-block;
	}
	.elementor-widget .elementor-icon-list-icon+.elementor-icon-list-text {
		padding-left: 10px;
	}
}

.widget_archive a:before, .widget_categories a:before {
	top: 7px;
}

.footer-area .widget_archive .widget-title, .footer-area .widget_categories .widget-title, .footer-area .widget-title {
	margin-bottom: 20px;
}

/* TM testi */
.tm-testi--default-3 .tm-testi__item-body {
	border: 1px solid;
}

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
	font-size: 9px;
}

.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
	padding: 16px 28px;
}
.jet-posts__inner-box .entry-meta {
	text-transform: uppercase;
}

.services-menu-icons {
	.elementor-icon-box-content .elementor-icon-box-title {
		margin: 0;
	}
}

.nodots .contact-information-widget__inner {
	list-style: none;
}

/* Widgets */


footer .invert .jet-subscribe-form .jet-subscribe-form__submit span::before {
	display: none;
}

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
	text-indent: 9999px;
}

#toTop {
	width: 107px;
	height: 50px;
	line-height: 50px;
}


.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	display: inline-block;
	font-family: 'nc-icon-mini';
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e904";
	position: relative;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
}

.widget_archive select, .widget_categories select,
.widget_archive label {
	height: 50px;
}

.tm-testi--default-3 .tm-testi__item-body {
	border: 0;
}

.elementor-element .jet-services__title-icon {
	line-height: 40px;
}

.footer-area--4-cols {
	aside:nth-child(4n+1),
	aside:nth-child(4n+2) {
		@include media-breakpoint-up(sm) {
			flex: 0 0 50%;
			max-width: 50%;
			& .custom-posts__item {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 25%;
			max-width: 25%;
		}
	}
	aside:nth-child(4n+3) {
		@include media-breakpoint-up(sm) {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 16.66667%;
			max-width: 16.66667%;
		}
	}
	aside:nth-child(4n+4) {
		@include media-breakpoint-up(sm) {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 33.33333%;
			max-width: 33.33333%;
		}
	}
}

.jet-subscribe-form--response-error .jet-subscribe-form__message {
	@include media-breakpoint-down(md) {
		margin-top: -4px;
	}
	@include media-breakpoint-down(sm) {
		margin-top: -15px;
	}
}

.elementor-jet-slider.jet-elements {
	overflow: hidden;
}

.elementor-widget-icon-box.elementor-position-top .elementor-icon-box-title {
	margin-bottom: 0px;
}


.jet-portfolio.layout-type-grid.preset-type-4 .jet-portfolio__content-inner {
	align-items: flex-start;
	.jet-portfolio__category {
		width: auto;
		top: 20px;
		left: 28px;
		display: block;
		float: left;
		padding: 3px 9px 2px;
	}
	.jet-portfolio__title {
		padding: 10px 0;
		&:after {
			content: "";
			width: 18px;
			height: 3px;
			position: relative;
			display: block;
			margin-top: 14px;
		}
	}
	.jet-portfolio__button {
		&:after {
			content: "\e904";
			position: relative;
			display: inline-block;
			margin-top: 14px;
			padding-left: 3px;
			@include nucleo-mini-icon();
			font-size: 10px;
			color: white;
		}
	}
}


.jet-portfolio.layout-type-grid.preset-type-4 .jet-portfolio__content-inner .jet-portfolio__button {
	padding: 0;
	&:hover {
		padding: 0;
	}
}

.jet-subscribe-form .jet-subscribe-form__input {
	border: none;
}

/* woo */

#page .products .product.product-list *:not(.star-rating) + a.button {
	padding: 13px 29px 11px;
	border-radius: 0;
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}

#page .ajax_add_to_cart, #page .add_to_cart_button {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}

.tm-quick-view-popup .tm-quick-view-popup__content {
	max-height: 100vh;
	min-height: 200px;
	overflow-y: scroll;
	max-width: 100%;
	min-width: 290px;
}

@media (max-width: 767px) {
	.tm-quick-view-popup .tm-quick-view-popup__content {
		max-width: 100%;
		padding: 20px;
		margin: 0 -40px;
	}
	button.quick-view-close {
		color: grey !important;
	}
	.woocommerce.single-product div.product .single_product_wrapper .enlarge {
		left: 10px;
	}
}
.woocommerce.single-product div.product .single_product_wrapper .enlarge i {
	top: 0;
	right: 0;
}

.woocommerce-checkout .woocommerce .woocommerce-info {
	text-transform: none;
	font-size: 16px;
	line-height: 1em !important;
	padding: 20px 0 !important;
	letter-spacing: 0.4px;
	margin-bottom: 14px !important;
}

.woocommerce.widget_shopping_cart .cart_list li a.remove:before {
	content: '\ea18';
	@include nucleo-mini-icon();
	font-size: 14px;
}

.woocommerce-checkout .woocommerce .checkout_coupon {
	flex-wrap: wrap;
}
.woocommerce form.checkout_coupon .form-row-first {
	flex: 1 1 100%;
	min-width: 185px;
}
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .button {
	padding: 18px 29px 16px;
	@include media-breakpoint-up(sm) {
		padding: 18px 29px 16px 50px;
	}
}
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions button[name='update_cart'].button {
	padding: 18px 29px 16px 45px;
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .input-button-with-icon > i {
	@include media-breakpoint-down(sm) {
		top: 28px;
	}
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions {
	@include media-breakpoint-down(sm) {
		padding: 20px;
	}
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .coupon.comment-form-url .button {
	padding: 18px 29px 16px;
	margin-top: 15px;
	@include media-breakpoint-up(sm) {
		padding: 18px 29px 16px 50px;
		margin-top: 0;
	}
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions i.shopping_tag {
	top: 15px;
}
.input-button-with-icon > i {
	left: 15px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	font-size: 14px;
	padding: 10px 22px 15px 20px;
}
.site-header-cart .shopping_cart-dropdown-wrap .product_list_widget li .quantity {
	margin-top: 0;
}