html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background-color: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: top;
}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Icons
--------------------------------------------------------------*/
@import "icons";

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
@import "page-preloader";

/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
@import "totop-button";


blockquote, q {
	quotes: none;

	&:before,
	&:after {
		content: '';
	}
}

blockquote {
	position: relative;
	margin: 33px 0 30px;
	text-align: left;
	padding: 80px 30px 30px;

	@include media-breakpoint-up(lg) {
		padding: 24px 320px 21px 95px;
	}

	.post-featured-content &,
	.single.single-post & {
		margin: 33px 0 30px;
		text-align: left;
		padding: 80px 30px 30px;
		@include media-breakpoint-up(lg) {
			padding: 27px 30px 34px 105px;
			font-size: 28px;
			line-height: 1.4em;
		}
	}

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}

	cite {
		display: block;
		margin-top: 9px;

		.post-featured-content & {
			margin-top: 5px;
		}
		em {
			position: relative;
			&:before {
				font-style: normal;
				content: "— ";
			}
		}
	}
	&:before {
		content: '\eb16';
		position: absolute;
		top: 27px;
		left: 30px;
		display: block;
		font-size: 40px;
		line-height: 1;
	}
}

hr {
	border: 0;
	height: 1px;
	margin: 35px 0 33px;
	clear: both;

	&:first-child {
		margin-top: 0;
	}
}