ul, ol, dl {
	margin: 0 0 25px 0;
	padding-left: 0;

	&:last-child {
		margin-bottom: 0;
	}
	p + & {
		margin-top: 25px;
	}
}

ul:not([class]),
ol {
	.hentry &,
	.comment-content &,
	.wc-tab & {
		list-style: none;
		li {
			& + li,
			> ol li {
				margin-top: 3px;
			}

			> ul li {
				margin-top: 6px;
			}
		}

		> li {
			&:before {
				margin-right: 5px;
				@include font-size(1.133333333333333);
			}
		}
	}
}

ul:not([class]):not(#shipping_method) {
	.hentry &,
	.comment-content &,
	.wc-tab & {
		> li {
			&:before {
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 50%;
				transform: translateY(-50%);
				margin-right: 8px;
				margin-left: 0px;
			}
		}
	}
}

ol {
	.hentry &,
	.comment-content & {
	counter-reset: item;
		> li {
			display: block;
			&:before {
				content: counters(item, ".") " "; 
				counter-increment: item;
			}
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 38px;
}

dt {
	float: left;
	clear: left;
	margin-right: 4px;
}

dd {
	font-weight: 900;
	margin-left: 0;
}

dt, dd {
	&:not(:first-of-type) {
		margin-top: 11px;
	}
}

/* Inline list */
.inline-list {
	@include reset-list;
	li {
		display: inline-block;
	}
}
