#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0;
	right: -999em;
	overflow: hidden;
	width: 107px;
	height: 40px;
	z-index: 999;
	text-align: center;

	&:before{
		width: auto;
		line-height: 40px;
		font-size: 14px;
		content: "\e93a";
	}
	span {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		margin-left: 5px;
		font-size: 14px;
		line-height: 1.2em;
		top: -1px; 
	}
	&:focus {
		outline: 0;
	}
	@include media-breakpoint-up(sm) {
		right: 20px;
	}
	@include media-breakpoint-up(md) {
		bottom: 0;
	}
}
