/*!
Skin Name: Architect
*/

/* Variables */
$color__bg-wpcf7-field: #f5f6f6;

@import "grid/grid";
@import "mixins/mixins-master";

/* Typography */
h1, h4 {
	text-transform: none;
}

/* Header */
.site-header {
	&.style-1 {
		.site-branding {
			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
			}
			@include media-breakpoint-up(md) {
				margin-top: 30px;
				margin-bottom: 26px;
			}
		}
	}
	&.style-4 {
		.site-branding {
			@include media-breakpoint-up(sm) {
				margin-top: 26px;
				margin-bottom: 0;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 18px;
				margin-bottom: 20px;
			}
		}
	}
}
/* Footer */
.site-footer {
	&.style-1 {
		.footer-container {
			.site-info {
				.site-info-wrap {
					padding-top: 20px;
					padding-bottom: 16px;
					align-items: center;
				}
			}
		}
	}
	&.style-2 {
		.footer-container {
			.footer-logo + .footer-copyright {
				margin-top: 20px;
			}
		}
	}
}
.home .footer-area {
	padding: 84px 0 39px;
}
.site-footer.style-1 {
	.footer-container {
		.site-info {
			.contact-block,
			.footer-copyright {
				@include media-breakpoint-up(lg) {
					margin-bottom: 3px;
				}
			}
		}
	}
}

/* Social */
.social-list {
	.menu-item {
		& > a {
			&::before {
				font-size: 14px;
			}
			
		}
	}
	.site-info & {
		.footer-container & {
			.site-footer.style-1 & {
				margin-top: 6px;
				margin-bottom: 6px;
			}
		}
	}
}

/* Jet Slider */
.jet-slider {
	.sp-buttons {
		.sp-button {
			opacity: 1;
		}
	}
}

/* Cherry service */
.template-media-icon {
	.services-item {
		padding-bottom: 39px;
		* + .content_wrap,
		* + .slogan_wrap {
			margin-top: 7px;
		}
		.slogan_wrap {
			padding-right: 8px;
		}
		
	}
}

/* Cherry team */
.cherry-team {
	&.template-default {
		.team-item {
			.team-listing_photo__wrap {
				margin: 0 0 28px;
			}
			.team-listing_position {
				margin-top: -2px;
				letter-spacing: -0.3px;
				&:after {
					content: '';
					margin: 24px auto 0;
					width: 72px;
					height: 3px;
					display: block;
					@include media-breakpoint-up(lg) {
						margin: 24px 0;
					}
				}
			}
		}
	}
}


.wpcf7 {
	.site &{
		.ajax-loader {
			margin: 8px 10px 0;
		}
	}
	.wpcf7-not-valid {
		background: $color__bg-wpcf7-field;
	}
}

/* SLider Revolution */

.construction {
	.tp-arr-imgholder {
		display: none !important;
	}
	.tp-arr-titleholder {
		padding-left: 50px !important;
	}
	.tp-arr-allwrapper {
		@include media-breakpoint-down(sm) {
			display: none !important;
		}
	}
}

/* Services */

.template-media-icon-bg-2 {
	.services-item-inner {
		.services-item-caption {
			align-items: center;
		}
		.title_wrap {
			margin-top: 12px;
			padding-bottom: 0;
			&::before {
				content: none;
			}
			.services-macros {
				font-size: 28px;
			}
		}
		.content_wrap {
			margin-top: 6px;
			text-align: center;
		}
	}
	.services-item-caption {
		padding: 20px 25px;
		@include media-breakpoint-up(lg) {
			padding: 37px 45px 45px;
		}
	}
	.services-item .service-icon i {
		margin-left: 0;
		font-size: 82px;
	}
}

/* Posts */

.post__cats{
	a {
		padding: 2px 10px 1px;
	}
}
.entry-title,
.entry-meta {
	text-transform: uppercase;
}

.jet-posts {
	.jet-posts__inner-box {
		& > *:not(:first-child) {
			margin-top: 14px;
		}
		.post-thumbnail__wrap .post__cats {
			top: 40px;
			left: 40px;
		}
	}
}

/* Projects */
.cherry-projects-wrapper {
	.projects-container.grid-layout {
		.projects-item {
			.inner-wrapper {
				.overflow-content {
					padding: 35px 30px 25px 30px;
					@include media-breakpoint-up(xl) {
						padding: 40px 35px 30px 34px;
					}
				}
				font-size: 11px;
				@include media-breakpoint-up(xl) {
					font-size: 15px;
				}
			}
		}
	}
	.projects-item-instance .project-entry-title {
		margin-top: 10px;
		@include media-breakpoint-up(xl) {
			margin-top: 66px;
		}
	}
}

/* widget */
.footer-area .widget-title {
	&::after {
		content: '';
		position: relative;
		display: block;
		width: 72px;
		height: 3px;
		margin-top: 7px;
	}
}

.footer-area {
	.widget_archive,
	.widget_categories {
		.widget-title {
			margin-bottom: 30px;
		}
	}
}

.single-product .swiper-carousel-container .tm_woocompare_product_actions_tip,
.single-product .swiper-carousel-container .tm_woowishlist_product_actions_tip {
	display: none;
}

#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}

.widget_archive a:before,
.widget_categories a:before {
	top: 7px;
}

#page .products .product.product-list a.button,
#page .ajax_add_to_cart, #page .add_to_cart_button,
#page .products .product.product-list a.button.product_type_variable,
#page .products .product.product-list *:not(.star-rating) + a.button.ajax_add_to_cart {
	padding: 17px 29px 15px 29px;
}
#page .ajax_add_to_cart:after, #page .ajax_add_to_cart:before, #page .add_to_cart_button:after, #page .add_to_cart_button:before {
	line-height: 1;
	margin-right: 8px;
	position: relative;
	top: 2px;
	margin-bottom: 4px;
}
.mobile-panel .menu-toggle {
	float: left;
	position: absolute;
	left: 20px;
	margin-top: 14px;
}