/* Change default indent to Cherry Service List Grid System */
.cherry-services.services-wrap {
	.cherry-services-row {
		@extend .row;
	}
	&.services-collapse-rows {
		.cherry-services-row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

/* Single style */
.services-single-item {
	.container {
		@include reset-container;
	}

	.service-header {
		position: relative;

		.image_wrap {
			margin: 31px 0 33px;
		}
		.service-slogan {
			line-height: 1.6em;
		}
		.title_wrap .services-macros {
			line-height: 1em;
		}

		&__content {
			position: relative;
			z-index: 2;

			> * + * {
				margin-top: 12px;
			}
		}
	}

	.service-content-wrap {
		& + * {
			margin-top: 40px;
		}
	}

	.features_wrap {
		margin-top: 50px;
	}

	.service-features_value {
		font-style: italic;
	}

	.service-features_row + .service-features_row {
		margin-top: 23px;
	}

	.cta_wrap {
		text-align: center;
		.container {
			.service-cta {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.service-cta {
			background: none;
			padding: 60px 25px 75px;
		}
	}

	.service-cta_title {
		margin-bottom: 0.5em;
	}
	.service-cta_desc {
		padding: 0;
	}
	.cta-button-wrap,
	.cta-form {
		margin-top: 40px;
	}

	.cta-form_success {
		padding: 5px 15px;
		border: none;
		@include font-size(.875);
		color: $color__white;
		background: $color__valid;
		margin-bottom: 1.5em;
	}
}

/* Services headings */
.services-heading{
	&_super_title,
	&_subtitle,
	&_title {
		margin-bottom: 35px;

		& + .cherry-services-filter,
		& + .cherry-services.services-wrap {
			margin-top: 70px;
		}
	}
}

/* Filters and loaders */
.cherry-services {
	position: relative;

	.services-listing {
		transition: all 300ms linear;
		opacity: 1;
	}
	&.in-progress {
		.services-listing {
			opacity: 0;
		}
	}

	.services-loader {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%);

		.cherry-spinner {
			width: 90px;
			height: 90px;
			left: 50%;
			top: 50%;
			margin-left: -45px;
			margin-top: -45px;
			display: block;
			position: relative;
		}
		&.loader-small {
			bottom: 0;
			top: auto;

			.cherry-spinner {
				width: 40px;
				height: 40px;
				margin-left: -20px;
				margin-top: -20px;
			}
		}
	}
}

.services-container {
	.cherry-services-filter {
		padding: 0;
		margin-bottom: 40px;
		text-align: center;
		@include grid-indent(17.5px, margin);

		&_link {
			@include font-size(1);
			font-weight: 700;
			border: none;
			padding: 5px 0;
			display: inline-block;
		}
	}

	.services-ajax-pager {
		margin-top: 10px;
	}

	.nav-links {
		text-align: center;

		.page-numbers.current {
			pointer-events: none;
		}
	}
}

/* Services item */
.cherry-services {
	.services-item {
		padding-bottom: 40px;
		text-align: center;

		@include media-breakpoint-up(sm) {
			text-align: left;
		}
		* + .title_wrap {
			margin-top: 15px;
			@include media-breakpoint-up(lg) {
				margin-top: 30px;
			}
		}
		* + .content_wrap,
		* + .slogan_wrap {
			margin-top: 10px;
		}

		* + .btn {
			margin-top: 24px;
		}

		.image_wrap {
			img {
				overflow: hidden;
			}
		}

		a {
			text-decoration: none;
		}
	}

	.service-icon {
		text-align: center;
		margin-bottom: 0;

		@include media-breakpoint-up(sm) {
			text-align: left;
		}
		i {
			font-size: 32px;
		}
	}

	.tm-testi {
		padding: 30px 0;
	}
	.tm-testi__title-main {
		text-align: left;
	}
}

/*Template default*/
.template-default,
.template-default-description {
	.services-item {
		.image_wrap {
			margin: 0 0 20px;
		}
		* + .content_wrap,
		* + .descr_wrap {
			margin-top: 24px;
		}
		* + .btn {
			margin-top: 34px;
		}
		ul {
			li {
				&:before {
					font-size: 20px;
				}
				& + li {
					margin-top: 15px;
				}
			}
		}
	}
}
.template-default-description {
	.services-item {
		&.col-md-12.col-xl-12 {
			padding-bottom: 0;

			@include media-breakpoint-up(lg) {
				.services-item-inner {
					display: flex;
				}
			}
			& + .services-item {
				.services-item-inner {
					border-top-width: 1px;
					border-top-style: solid;
					padding-top: 40px;
					margin-top: 40px;
				}
			}
			.image_wrap {
				margin: 0 0 $grid-gutter-width;

				@include media-breakpoint-up(lg) {
					flex: 0 0 auto;
					margin: 0 $grid-gutter-width 0 0;
				}
			}
		}
	}
}

.template-default-icon {
	.services-item {
		@include media-breakpoint-up(lg) {
			padding-bottom: 52px;
		}
	}
	.services-item-inner {
		@include media-breakpoint-up(lg) {
			display: flex;
		}
		.service-icon {
			position: relative;
			width: 78px;
			height: 78px;
			border-radius: 50%;
			text-align: center;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			border-width: 3px;
			border-style: solid;
			z-index: 1;

			&:after {
				content: "";
				position: absolute;
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
				border-radius: 50%;
				transition: .3s all ease;
				z-index: -1;
			}

			@include media-breakpoint-up(sm) {
				margin-left: 0;
			}
			@include media-breakpoint-up(lg) {
				margin-right: 20px;
				flex-shrink: 0;
				flex-grow: 0;
				margin-bottom: 0;
			}
			i {
				line-height: 72px;
			}
		}
		&:hover {
			.service-icon {
				&:after {
					transform: scale(.85);
				}
			}
		}
		.services-item-floated-content {
			@include media-breakpoint-up(lg) {
				flex-shrink: 1;
				flex-grow: 1;
				margin-top: -5px;
			}
			h4 {
				text-transform: none;
			}
			.btn {
				padding: 0;
				margin-top: 10px;

				&:after {
					@include nucleo-mini-icon;

					content: '\e928';
					font-size: .833em;
					margin-left: 5px;
				}
			}
		}
	}
}

/*Template media-icon*/
$transition-time-default: cubic-bezier(0.530, 0.645, 0.510, 1.340);
$transition-time-hover: cubic-bezier(1.000, -0.050, 1.000, 1.000);

.template-media-icon {
	.services-item {
		padding-bottom: 14px;
		& * {
			& + .title_wrap {
				margin-top: 8px;
			}
			& + .content_wrap, & + .slogan_wrap {
				margin-top: 6px;
			}
		}
		.service-icon {
			i {
				font-size: 74px;
				&.buildwallicons  {
					margin-left: -14px;
				}
			}
		}
		.title_wrap {
			h4 {
				text-transform: none;
			}
		}

		&-inner {
			height: 100%;
			overflow: hidden;
			position: relative;
		}
	}
}

/*Template sidebar-media-icon*/
.template-sidebar-media-icon {
	.services-item {
		padding-bottom: 10px;

		&.col-xs-12.col-sm-12.col-md-12.col-xl-12 {
			&:last-child {
				padding-bottom: 0;
			}
		}
		.service-icon {
			padding-right: 3px;
			display: flex;
			align-items: center;

			i {
				font-size: 45px;
			}
		}
		.title_wrap {
			text-transform: uppercase;
			h6 {
				line-height: 1.35em;
				margin-top: 6px;
				letter-spacing: 1px;
			}
		}
		&-inner {
			height: 100%;
			overflow: hidden;
			position: relative;
			padding: 12px 20px 11px;
			border: 1px solid;
			transition: .3s $transition-time-default;

			display: flex;
			align-items: center;

			&:hover{
				border-color: transparent;
			}
		}
		.services-item-overflow {
			flex-grow: 1;
		}
	}
}

/*Template template-media-icon-bg*/
.template-media-icon-bg {
	.services-item {
		.btn-link {
			margin-top: 20px;
			&:after {
				@include nucleo-mini-icon();
				content: "\e904";
				position: relative;
				display: inline-block;
				font-size: $icons_small;
				margin-left: 6px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 42px;
			}
		}
		& * + .title_wrap {
			margin: 0;
		}
		.image_wrap {
			position: relative;
			overflow: hidden;
			z-index: 1;
			opacity: 1;
			will-change: transform;
			transition-delay: 0.2s;

			img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: auto;

				.ie & {
					font-family: 'object-fit: cover';
				}
			}
		}
		&:hover {
			.services-item-overflow {
				@include media-breakpoint-up(sm) {
					top: 0;
					.btn-link {
						transform: translateY(0);
						@include transition(all 0.7s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					}
					.slogan_wrap {
						transform: translateY(0);
						@include transition(all 0.5s cubic-bezier(0.485, 0.065, 0.165, 0.950));
					}
				}
				@include transition(all 0.3s cubic-bezier(0.485, 0.065, 0.165, 0.950));
			}
		}
		&-overflow {
			position: relative;
			z-index: 2;
			text-align: left;
			overflow: hidden;
			padding: 25px 20px;
			@include transition(all 0.5s cubic-bezier(0.465, 0.050, 0.965, 0.320));
			@include media-breakpoint-up(sm) {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: flex-end;
				align-content: stretch;
				align-items: flex-start;
				position: absolute;
				height: 100%;
				top: 100%;
				left: 0;
				right: 0;
				padding: 30px 20px 32px 40px;
			}
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: .9;
				z-index: -1;
				@include transition(all 0.3s ease);
			}

			@include media-breakpoint-up(sm) {
				.slogan_wrap {
					transform: translateY(100px);
					@include transition(all 0.35s cubic-bezier(0.465, 0.050, 0.965, 0.320));
				}
				.btn-link {
					transform: translateY(100px);
					@include transition(all 0.25s cubic-bezier(0.465, 0.050, 0.965, 0.320));
				}
			}
		}
		&-inner {
			overflow: hidden;
			position: relative;

			.slogan_wrap,
			.btn {
				.archive & {
					display: none;
				}
			}

		}
		.footer-content {
			padding-top: 15px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			@include media-breakpoint-up(md) {
				flex-direction: row;
				flex-wrap: nowrap;
			}
			> * {
				display: inline-block;
			}
			.service-icon i {
				font-size: 74px;
				@include media-breakpoint-up(lg) {
					margin-left: -11px;
				}
			}
			.title_wrap {
				margin-top: 6px;
				.title-decoration {
					padding-bottom: 9px;
					&:before {
						left: 50%;
						transform: translateX(-50%);
						@include media-breakpoint-up(sm) {
							transform: translateX(0);
							left: 0;
						}
					}
				}
				@include media-breakpoint-up(md) {
					line-height: 38px;
				}
			}
		}
	}
}

/*Template template-media-icon-bg-2*/
.template-media-icon-bg-2 {
	.services-item {
		padding-bottom: 30px;
		.image_wrap {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;

			.services-macros {
				height: 100%;
			}

			img {
				object-fit: cover;
				object-position: left;
				opacity: 1;
				width: 100%;
				height: 100%;

				.ie & {
					font-family: 'object-fit: cover';
				}
			}
		}
		.service-icon {
			display: inline-block;
			text-align: left;
			background-color: transparent;
			i {
				font-size: 78px;
				margin-left: -14px;
			}
		}
		&-caption {
			padding: 20px 25px;
			@include media-breakpoint-up(lg) {
				padding: 20px 37px 34px;
			}
			height: 100%;
			z-index: 10;
			pointer-events: none;
			@include transition(all 0.45s cubic-bezier(0.485, 0.065, 0.165, 0.950));
		}
		&-inner {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			height: 100%;
			position: relative;
			text-align: left;
			overflow: hidden;
			&:before{
				content:'';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				opacity: 1;
				z-index: 1;
				border: 1px solid;
				@include transition(all 0.35s cubic-bezier(0.485, 0.065, 0.165, 0.950));
			}

			.title_wrap{
				margin-top: -10px;
				margin-bottom: 0;
				padding-bottom: 13px;
				.services-macros {
					text-transform: none;
				}
				&:before {
					bottom: 0;
					content: '';
					position: absolute;
					display: block;
					width: 18px;
					height: 3px;
				}
			}

			.icon_wrap,
			.title_wrap,
			.content_wrap,
			.btn-link {
				position: relative;
				z-index: 10;
			}

			.image_wrap,
			.icon_wrap i,
			.content_wrap p,
			.title_wrap a,
			.btn-link {
				@include transition(all 0.4s ease);
			}

			.content_wrap {
				margin-top: 10px;
			}
			.services-item-caption {
				text-align: left;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-content: stretch;
				align-items: flex-start;
				position: relative;
				z-index: 2;
			}
			.services-item-caption-hover {
				position: absolute;
				transform: translateX(-50%);
				left: -200%;
				z-index: 1;
				@include transition(all 0.25s cubic-bezier(0.465, 0.050, 0.965, 0.320));
			}

			&:hover{
				.services-item-caption-hover {
					left: 50%;
					@include transition(all 0.55s cubic-bezier(0.485, 0.065, 0.165, 0.950));
				}
				.services-item-caption {
					transform: translateX(120%);
					@include transition(all 0.45s cubic-bezier(0.485, 0.065, 0.165, 0.950));
				}
				&:before{
					transform: translateX(120%);
					@include transition(all 0.65s cubic-bezier(0.485, 0.065, 0.165, 0.950));
				}
			}
		}
	}
}
