.comment-navigation,
.posts-navigation {
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
	
	.nav-previous,
	.nav-next {
		width: 100%;

		@include media-breakpoint-up(sm) {
			width: 50%;
		}
		> a {
			display: inline-block;
			@include btn;

			&:before,
			&:after {
				display: inline-block;
				vertical-align: baseline;
				font-size: 10px;
			}
			&:hover {
				.nav-text {
					text-decoration: underline;
				}
			}
		}
	}

	.nav-previous {
		float: left;
		padding-right: 15px;

		a {
			&:before {
				content: '\e927';
				margin-right: 5px;
			}
		}
	}
	.nav-next {
		float: right;
		text-align: right;
		padding-left: 15px;
		margin-top: 25px;

		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		a {
			&:after {
				content: '\e928';
				margin-left: 5px;
			}
		}
	}
}

.post-navigation {
	overflow: hidden;
	padding-top: 35px;
	padding-bottom: 36px;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		height: 100%;
		width: 1px;
		left: 50%;
		top: 0;
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}
	&__description-container, 
	img {
		display: inline-block;
	}
	&__description-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: stretch;
		align-items: flex-start;
		min-height: 85px;
		.nav-next & {
			align-items: flex-end;
			padding: 0 19px 0 0;
		}
		.nav-previous & {
			padding: 0 0 0 19px;
		}
	}
	.nav-previous,
	.nav-next {
		width: 100%;

		@include media-breakpoint-up(sm) {
			width: 50%;
		}
		.meta-nav {
			text-transform: uppercase;
			font-size: 14px;
		}
		a {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: stretch;
			align-items: center;
			.post-title {
				margin-top: 3px;
				@include transition(all 0.28s ease);
			}
			.meta-nav {
				position: relative;
				&:before {
					@include nucleo-mini-icon;
					@include font-size(0.6666666666666667);
				}
			}
		}
	}
	.nav-previous {
		float: left;
		padding-right: 15px;

		a {
			justify-content: flex-start;
			.meta-nav {
				position: relative;
				&:before {
					@include nucleo-mini-icon;
					content: '\e903';
					margin-right: 5px;
					@include font-size(0.6666666666666667);
				}
			}
		}
	}
	.nav-next {
		float: right;
		text-align: right;
		padding-left: 15px;
		margin-top: 25px;

		@include media-breakpoint-up(sm) {
			margin-top: 0;
		}
		a {
			justify-content: flex-end;
			.meta-nav {
				position: relative;
				&:after {
					@include nucleo-mini-icon;
					content: '\e904';
					margin-left: 5px;
					@include font-size(0.6666666666666667);
				}
			}
		}
	}
}

/*Post pagination - Page links*/
.pagination {
	margin-top: 30px;
	padding-top: 40px;
	border-top-width: 1px;
	border-top-style: solid;
	text-align: center;

	.posts-list--default + & {
		text-align: left;
	}
	.posts-list--grid + &,
	.posts-list--masonry + &,
	.posts-list--vertical-justify + & {
		margin-top: 0;
	}
}

.site-content .page-links {
	clear: both;
	margin: 0 0 1em;
	&__title {
		margin-right: 8px;
		float: left;
		margin-top: 8px;
	}
}

#content .nav-links {
	overflow: hidden;
}

#content .nav-links .page-numbers,
.site-content .page-links a,
.site-content .page-links > .page-links__item,
.tm-pg_front_gallery-navigation .tm_pg_nav-links a.tm_pg_page-numbers {
	line-height: 40px;
	display: block;
	float: left;
	min-width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	transition: .3s;
	margin: 0 0 0 -1px;
	margin-bottom: 5px;
	border: 1px solid;
	&:first-child {
		margin-left: 0;
	}
}

#content .nav-links .page-numbers,
.tm-pg_front_gallery-navigation .tm_pg_nav-links a.tm_pg_page-numbers {
	&.next,
	&.prev {
		border: none;
		margin: 0 0 0 27px;
		margin-bottom: 5px;

		i {
			vertical-align: baseline;
			@include font-size(0.6666666666666667);
			@include transition(all 0.25s ease);
		}
	}
	&.prev {
		&:first-child {
			margin: 0 27px 0 0;
			margin-bottom: 5px;
		}
	}
}
