.site {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.wordwrap & {
		@include hyphens(auto);
	}
	&-header,
	&-content,
	&-footer {
		width: 100%;
	}

	&-content {
		flex: auto;
		min-height: 1px;
	}

	&-main{}

	&-content_wrap {
		margin-top: $site-content-top-indent;
		margin-bottom: $site-content-bottom-indent;

		.error404 & {
			margin-top: 0;
			margin-bottom: 0;
		}

		.sidebar,
		.single-service,
		.single-project {
			position: relative;
		}
	}
}

/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
