$color__background-body:   #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr:     #ECECEC;
$color__background-input:  #f2f2f2;
$color__background-pre:    #eee;
$color__bg-overlay:        #222931;
$color__accent:            #feb62a;

$color__bg-preloader-cover: #ffffff;

$color__white: #ffffff;
$color__dark: #000000;
$color__grey: #d0d0d4;
$color__dark_grey: #2a2931;
$color__btn_cancel: #8e8e91;

$color__text-screen: #21759b;

$color__border-button: #E0E0E2;
$color__border-input:  #ECECEE;

$color__border-abbr:   #777;
$color__border-table:  $color__background-hr;
$color__border-pre:    darken( $color__background-pre, 10% );

$color__input-not-valid: #ffeaec;
$color__not-valid: #ff3543;
$color__valid:     #6ac11c;
