/*!
Skin Name: Pool
*/


$color__header-divider-components: #e6e8e8;
$color__footer-widget-border: #718eaa;
$color__serv-menu-hover: #06b8fa;
/*-------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
@import "variables-site/variables-site";
/*-------------------------------------------------------------
## Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
@import "plugins/jet-menu/jet-menu";

/*-------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
@import "plugins/elementor/modules/button";


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";


/* Header */
.site-header {
	&.style-4 {
		.header-nav-wrapper {
			padding: 0;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -100%;
				height: 100%;
				width: 300%;
			}
		}
		.header-components {
			.navbar-header-cart:before {
				background-color: $color__header-divider-components;
			}
		}
		.header-container {
			&.transparent {
				position: relative !important;
			}
		}
	}
}

.site-header {
	.top-panel__message {
		font-size: 13px;
		i {
			font-size: 14px;
			margin-right: 5px;
		}
	}
}

@media (min-width: 768px) {
	.jet-sub-menu > li > .jet-sub-menu {
		margin-top: 0;
	}
}

// Revolution slider 
.tparrows {
	line-height: 40px;
}

.header-btn.header-icon-left {
	@include media-breakpoint-down(md) {
		padding: 0;
		min-height: 50px;
	}
	i {
		@include media-breakpoint-down(md) {
			margin-bottom: 3px;
		}
	}
}

// Footer 
.home .footer-area {
	padding: 54px 0 11px;
}

.footer-area-wrap.invert {
	background-image: url('assets/images/footer-area-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-area-wrap {
	.widget_recent_entries ul li {
		position: relative;
		margin-top: 20px;
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-start;
		a {
			order: 0;
			align-self: auto;
		}
		span {
			order: 1;
			align-self: auto;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color__footer-widget-border;
			opacity: 0.2;
		}
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			&:before {
				display: none;
			}
		}
	}
	.elementor-widget .elementor-icon-list-item a {
		width: auto;
		display: inline-block;
	}
	.elementor-widget .elementor-icon-list-icon+.elementor-icon-list-text {
		padding-left: 10px;
	}
}

.widget_archive a:before, .widget_categories a:before {
	top: 7px;
}

.footer-area .widget_archive .widget-title, .footer-area .widget_categories .widget-title, .footer-area .widget-title {
	margin-bottom: 20px;
}

/* TM testi */
.tm-testi--default-3 .tm-testi__item-body {
	border: 1px solid;
}

.single-team .elementor-button.elementor-size-md .elementor-button-icon, .elementor-button.elementor-size-md .elementor-button-icon {
	font-size: 9px;
}

.cherry-search-wrapper .cherry-search form.cherry-search__form button.cherry-search__submit {
	padding: 16px 28px;
}
.jet-posts__inner-box .entry-meta {
	text-transform: uppercase;
}

.services-menu-icons {
	.elementor-icon-box-content .elementor-icon-box-title {
		margin: 0;
	}
	.elementor-icon-box-content .elementor-icon-box-title a:hover {
		color: $color__serv-menu-hover !important;
	}
}

/* Widgets */

.widget_archive .screen-reader-text, .widget_categories .screen-reader-text {
	text-indent: 9999px;
}

#toTop {
	width: 107px;
	height: 50px;
	line-height: 50px;
}


.template-media-icon-bg-2 .services-item-inner .services-item-caption-hover .btn-primary:after {
	display: inline-block;
	font-family: 'nc-icon-mini';
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e904";
	position: relative;
	display: inline-block;
	font-size: 10px;
	margin-left: 6px;
}

.widget_archive select, .widget_categories select,
.widget_archive label {
	height: 50px;
}

.tm-testi--default-3 .tm-testi__item-body {
	border: 0;
}

/* woo */

#page .products .product.product-list *:not(.star-rating) + a.button {
	padding: 13px 29px 11px;
	border-radius: 0;
}
#page .products .product.product-list *:not(.star-rating) + a.button + .wishlist_compare_button_block {
	padding-top: 40px;
}

#page .ajax_add_to_cart, #page .add_to_cart_button {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}