/* widget cherry ui */
.widget-rendered .cherry-ui-repeater-container {
  padding: 5px; }
  .widget-rendered .cherry-ui-repeater-container .cherry-ui-repeater-item {
    margin: 0 0 5px; }
    .widget-rendered .cherry-ui-repeater-container .cherry-ui-repeater-item .cheryr-ui-repeater-content-box {
      margin: 0 -10px; }
  .widget-rendered .cherry-ui-repeater-container .cherry-ui-repeater-add {
    margin: 10px 0; }

/* customizer cherry ui */
.customize-control > .cherry-ui-container {
  margin-bottom: 0; }
  .customize-control > .cherry-ui-container .iconpicker-container .input-group-addon,
  .customize-control > .cherry-ui-container .iconpicker-container .iconpicker-input {
    background: #fff; }
  .customize-control > .cherry-ui-container .iconpicker-container .iconpicker-popover .popover-title {
    background: #fefefe; }
  .customize-control > .cherry-ui-container .iconpicker-container .iconpicker-popover .arrow {
    border-bottom-color: #fefefe; }
