@font-face {
	font-family: 'buildwallicons';
	src:  url('../fonts/buildwallicons.eot?ys7pyx');
	src:  url('../fonts/buildwallicons.eot?ys7pyx#iefix') format('embedded-opentype'),
	url('../fonts/buildwallicons.ttf?ys7pyx') format('truetype'),
	url('../fonts/buildwallicons.woff?ys7pyx') format('woff'),
	url('../fonts/buildwallicons.svg?ys7pyx#buildwallicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="buildwallicons"], [class*=" buildwallicons"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'buildwallicons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
	content: "\e900";
}
.icon-02:before {
	content: "\e901";
}
.icon-03:before {
	content: "\e902";
}
.icon-04:before {
	content: "\e903";
}
.icon-05:before {
	content: "\e904";
}
.icon-06:before {
	content: "\e905";
}
.icon-07:before {
	content: "\e906";
}
.icon-08:before {
	content: "\e907";
}
.icon-09:before {
	content: "\e908";
}
.icon-10:before {
	content: "\e909";
}
.icon-11:before {
	content: "\e90a";
}
.icon-12:before {
	content: "\e90b";
}
.icon-13:before {
	content: "\e90c";
}
.icon-14:before {
	content: "\e90d";
}
.icon-15:before {
	content: "\e90e";
}
.icon-16:before {
	content: "\e90f";
}
.icon-17:before {
	content: "\e910";
}
.icon-18:before {
	content: "\e911";
}
.icon-19:before {
	content: "\e912";
}
.icon-20:before {
	content: "\e913";
}
.icon-21:before {
	content: "\e914";
}
.icon-22:before {
	content: "\e915";
}
.icon-23:before {
	content: "\e916";
}
.icon-24:before {
	content: "\e917";
}
.icon-25:before {
	content: "\e918";
}
.icon-26:before {
	content: "\e919";
}
.icon-27:before {
	content: "\e91a";
}
.icon-28:before {
	content: "\e91b";
}
.icon-29:before {
	content: "\e91c";
}
.icon-30:before {
	content: "\e91d";
}
.icon-31:before {
	content: "\e91e";
}
.icon-32:before {
	content: "\e91f";
}
.icon-33:before {
	content: "\e920";
}
